# 1. Hasil evaluasi kelengkapan data

# Farms

| Column   | Description                  |
|----------|------------------------------|
| `id`     | ID Farm                      |
| `province` | Lokasi tambak (provinsi)   |
| `regency` | Lokasi tambak (regency)     |
| `timezone` | Timezone tambak            |

# Ponds

| Column   | Description                  |
|----------|------------------------------|
| `id`     | ID Kolam                     |
| `length` | Panjang kolam (m)            |
| `width`  | Lebar kolam (m)              |
| `deep`   | Kedalaman kolam (m)          |
| `farm_id` | Foreign key to farms(id)    |

# Cycles

| Column       | Description                       |
|--------------|-----------------------------------|
| `id`         | ID Siklus                         |
| `started_at` | Tanggal siklus dimulai            |
| `finished_at` | Tanggal siklus selesai           |
| `total_seed` | Jumlah benur yang ditebar (ekor)  |
| `area`       | Luas area kolam (mÂ²)              |
| `pond_id`    | Foreign key to ponds(id)          |

# Feeds

| Column     | Description                        |
|------------|------------------------------------|
| `cycle_id` | Foreign key to cycles(id)          |
| `logged_at` | Waktu pemberian pakan (UTC)       |
| `quantity` | Jumlah pakan yang diberikan (kg)   |

# Fasting

| Column      | Description                   |
|-------------|-------------------------------|
| `cycle_id`  | Foreign key to cycles(id)     |
| `logged_date` | Tanggal Puasa               |
| `fasting`   | Puasa/Tidak (boolean)         |

# Harvests

| Column       | Description                           |
|--------------|---------------------------------------|
| `cycle_id`   | Foreign key to cycles(id)             |
| `harvested_at` | Tanggal Panen                       |
| `status`     | Status panen                          |
| `size`       | Ukuran udang yang dipanen (ekor/kg)   |
| `weight`     | Berat panen (kg)                      |

# Sampling

| Column          | Description                      |
|-----------------|----------------------------------|
| `cycle_id`      | Foreign key to cycles(id)        |
| `sampled_at`    | Tanggal Sampling                 |
| `average_weight` | Rerata berat udang (gr)         |

# Measurements

| Column                | Description                                  |
|-----------------------|----------------------------------------------|
| `cycle_id`            | Foreign key to cycles(id)                    |
| `measured_at`         | Tanggal Pengukuran                           |
| `morning_temperature` | Water temperature in the morning (Celcius)   |
| `evening_temperature` | Water temperature in the evening (Celcius)   |
| `morning_do`          | Dissolved oxygen in the morning (ppm)        |
| `evening_do`          | Dissolved oxygen in the evening (ppm)        |
| `morning_salinity`    | Salinity in the morning (ppt)                |
| `evening_salinity`    | Salinity in the evening (ppt)                |
| `morning_pH`          | pH in the morning (mole/litre)               |
| `evening_pH`          | pH in the evening (mole/litre)               |
| `transparency`        | Transparency (cm)                            |
| `ammonia`             | Ammonia concentration (ppm)                  |
| `nitrate`             | Nitrate concentration (ppm)                  |
| `nitrite`             | Nitrite concentration (ppm)                  |
| `alkalinity`          | Alkalinity concentration (ppm)               |
| `hardness`            | Hardness concentration (ppm)                 |
| `calcium`             | Calcium concentration (ppm)                  |
| `magnesium`           | Magnesium concentration (ppm)                |
| `carbonate`           | Carbonate concentration (ppm)                |
| `bicarbonate`         | Bicarbonate concentration (ppm)              |
| `tom`                 | TOM concentration (ppm)                      |
| `total_plankton`      | Total plankton concentration                 |

# Feed Tray

| Column Name | Description |
|---|---|
| cycle_id | Foreign key to cycles (id) |
| quantity | Jumlah estimasi populasi udang yang mati (ekor) |
| logged_at | Tanggal dan waktu data feed tray/anco dicatatkan |
| feed_logged_at | Tanggal dan waktu pemberian pakan dicatatkan |
| tray_number | Nomor anco, dalam satu kolam bisa terdiri dari satu hingga empat anco |
| feed_remaining_percent | Jumlah sisa pakan yang tersisa di anco (%) |
| remark | Catatan terkait kondisi anco atau pun perilaku konsumsi pakan dari udang |

# Mortalities

| Column Name | Description |
|---|---|
| cycle_id | Foreign key to cycles (id) |
| quantity | Jumlah estimasi populasi udang yang mati (ekor) |
| recorded_at | Tanggal data mortality dicatatkan |
| average_weight | Rerata bobot udang (ABW) saat pencatatan kematian (g) |

In [61]:
import pandas as pd

# Membaca data dari file CSV untuk setiap tabel dalam folder "Data"
cycles = pd.read_csv('Data/cycles.csv')
farms = pd.read_csv('Data/farms.csv')
fasting = pd.read_csv('Data/fasting.csv')
fastings = pd.read_csv('Data/fastings.csv')
feed_tray = pd.read_csv('Data/feed_tray.csv')
feeds = pd.read_csv('Data/feeds.csv')
harvests = pd.read_csv('Data/harvests.csv')
measurements = pd.read_csv('Data/measurements.csv')
mortalities = pd.read_csv('Data/mortalities.csv')
ponds = pd.read_csv('Data/ponds.csv')
samplings = pd.read_csv('Data/samplings.csv')

# Cycles

In [62]:
# sanity check
cycles

,id,pond_id,species_id,total_seed,started_at,finished_at,remark,created_at,updated_at,area,...,extracted_at,subscription_type,ordered_at,hatchery_id,total_seed_type,hatchery_name,pond_name,pond_length,pond_width,pond_depth
0,18876,36294,1.0,331920,2022-10-14 00:00:00.000,2023-01-29 00:00:00.000,NaN,2022-10-14 12:34:23.000,2023-01-30 01:46:27.000,4030.0,...,2024-04-12 17:02:22.000,Free,NaN,66.0,net,UD. Benur Ndaru Laut,H,65.00,62.00,1.0
1,22118,37102,1.0,40000,2023-04-26 00:00:00.000,2023-06-23 00:00:00.000,#TBR01,2023-04-30 22:28:13.000,2023-06-26 05:35:32.000,399.0,...,2024-04-12 17:02:22.000,Free,NaN,83.0,net,CV Raja Benur,A1,30.00,20.00,1.0
2,24088,39154,NaN,357570,2023-08-01 00:00:00.000,2023-10-18 00:00:00.000,#SiklusFarm,2023-07-12 01:13:05.000,2023-10-19 04:23:11.000,2000.0,...,2024-04-12 17:02:22.000,Free,2023-07-12 01:13:05.000,1004.0,gross,PT. Tri Karta Pratama - Total Kualitas Prima,A3,50.00,40.00,1.4
3,17743,20914,1.0,168275,2022-07-19 00:00:00.000,2022-09-29 00:00:00.000,#SiklusCustomerPermadi,2022-08-14 04:40:46.000,2022-10-06 00:09:36.000,1512.0,...,2024-04-12 17:02:22.000,Free,NaN,3.0,actual,PT. Central Proteinaprima Tbk,B4,54.00,28.00,1.5
4,17125,34187,1.0,188000,2022-07-07 00:00:00.000,2022-09-20 00:00:00.000,#SiklusTebar,2022-07-12 00:24:30.000,2022-10-15 04:27:24.000,1225.0,...,2024-04-12 17:02:22.000,Free,2022-07-12 00:24:30.000,35.0,net,PT Windu Alam Sentosa,A,35.00,35.00,1.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2612,19131,34712,2.0,300000,2022-10-25 00:00:00.000,2023-01-21 00:00:00.000,NaN,2022-10-25 10:13:31.000,2023-01-25 08:01:19.000,4999.9,...,2024-04-12 17:02:22.000,Free,NaN,1020.0,actual,MATERNIDADE NACALA,E01,70.71,70.71,1.5
2613,27552,45697,1.0,100000,2023-11-05 00:00:00.000,2024-02-13 00:00:00.000,#TBR03,2023-11-18 03:43:40.000,2024-03-27 02:52:36.000,900.0,...,2024-04-12 17:02:22.000,Free,2023-11-18 03:43:40.000,1022.0,net,Windu Segara Anyar,Kolam 4,45.00,20.00,1.5
2614,27885,24570,1.0,30716,2023-12-02 00:00:00.000,2024-02-29 00:00:00.000,#TBR05,2023-12-03 03:06:01.000,2024-03-03 03:03:26.000,86.0,...,2024-04-12 17:02:22.000,Free,NaN,83.0,gross,CV Raja Benur,Bagus,10.71,8.03,1.0
2615,15868,32398,1.0,150000,2022-04-28 00:00:00.000,2022-06-21 00:00:00.000,#SiklusTebar,2022-05-08 16:02:51.000,2022-08-23 03:12:20.000,1600.0,...,2024-04-12 17:02:22.000,Free,2022-05-08 16:02:51.000,35.0,gross,PT Windu Alam Sentosa,B 4.1,45.00,35.00,2.0
2616,20849,35913,1.0,384000,2023-02-09 00:00:00.000,2023-04-07 00:00:00.000,NaN,2023-02-14 00:23:40.000,2023-04-14 00:04:22.000,2915.0,...,2024-04-12 17:02:22.000,Free,NaN,83.0,actual,CV Raja Benur,A4,55.00,53.00,1.7

In [63]:
# Check basic information about the dataframe
print("Basic Information:")
cycles.info()

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2617 entries, 0 to 2616
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      2617 non-null   int64
 1   pond_id                 2617 non-null   int64
 2   species_id              1803 non-null   float64
 3   total_seed              2617 non-null   int64
 4   started_at              2617 non-null   object
 5   finished_at             2616 non-null   object
 6   remark                  1336 non-null   object
 7   created_at              2617 non-null   object
 8   updated_at              2617 non-null   object
 9   area                    2617 non-null   float64
 10  initial_age             2569 non-null   float64
 11  limit_weight_per_area   2610 non-null   float64
 12  target_cultivation_day  2614 non-null   float64
 13  target_size             2613 non-null   float64
 14  extracted_at            2617 non-null   object
 15  subscription_type       2617 non-null   object
 16  ordered_at              1094 non-null   object
 17  hatchery_id             2152 non-null   float64
 18  total_seed_type         2375 non-null   object
 19  hatchery_name           2152 non-null   object
 20  pond_name               2617 non-null   object
 21  pond_length             2611 non-null   float64
 22  pond_width              2611 non-null   float64
 23  pond_depth              2499 non-null   float64
dtypes: float64(10), int64(3), object(11)
memory usage: 490.8+ KB

In [64]:
# Check for missing values
print("\nMissing Values:")
print(cycles.isnull().sum())

Missing Values:
id                           0
pond_id                      0
species_id                 814
total_seed                   0
started_at                   0
finished_at                  1
remark                    1281
created_at                   0
updated_at                   0
area                         0
initial_age                 48
limit_weight_per_area        7
target_cultivation_day       3
target_size                  4
extracted_at                 0
subscription_type            0
ordered_at                1523
hatchery_id                465
total_seed_type            242
hatchery_name              465
pond_name                    0
pond_length                  6
pond_width                   6
pond_depth                 118
dtype: int64

In [65]:
# Check unique values for object columns
object_columns = cycles.select_dtypes(include='object').columns
for column in object_columns:
    print(f"\nUnique values for {column}:")
    print(cycles[column].unique())

Unique values for started_at:
['2022-10-14 00:00:00.000' '2023-04-26 00:00:00.000'
 '2023-08-01 00:00:00.000' '2022-07-19 00:00:00.000'
 '2022-07-07 00:00:00.000' '2023-12-20 00:00:00.000'
 '2023-10-02 00:00:00.000' '2023-07-19 00:00:00.000'
 '2023-07-08 00:00:00.000' '2023-09-13 00:00:00.000'
 '2021-05-20 00:00:00.000' '2021-09-30 00:00:00.000'
 '2022-08-14 00:00:00.000' '2023-07-29 00:00:00.000'
 '2023-01-25 00:00:00.000' '2023-08-04 00:00:00.000'
 '2023-08-20 00:00:00.000' '2023-06-17 00:00:00.000'
 '2023-04-07 00:00:00.000' '2021-09-08 00:00:00.000'
 '2023-10-04 00:00:00.000' '2023-12-05 00:00:00.000'
 '2023-02-14 00:00:00.000' '2021-04-10 00:00:00.000'
 '2021-07-22 00:00:00.000' '2022-05-22 00:00:00.000'
 '2021-06-16 00:00:00.000' '2021-07-11 00:00:00.000'
 '2022-06-24 00:00:00.000' '2022-10-21 00:00:00.000'
 '2023-09-21 00:00:00.000' '2020-08-11 00:00:00.000'
 '2021-01-27 00:00:00.000' '2024-01-22 00:00:00.000'
 '2021-12-20 00:00:00.000' '2023-12-04 00:00:00.000'
 '2022-09-26 00:00:00.000' '2023-08-05 00:00:00.000'
 '2023-08-18 00:00:00.000' '2023-04-19 00:00:00.000'
 '2024-01-13 00:00:00.000' '2022-05-15 00:00:00.000'
 '2022-10-01 00:00:00.000' '2022-09-10 00:00:00.000'
 '2023-03-04 00:00:00.000' '2023-11-16 00:00:00.000'
 '2022-05-31 00:00:00.000' '2023-11-30 00:00:00.000'
 '2023-01-05 00:00:00.000' '2023-10-05 00:00:00.000'
 '2023-05-04 00:00:00.000' '2022-09-19 00:00:00.000'
 '2021-06-11 00:00:00.000' '2023-10-16 00:00:00.000'
 '2021-06-15 00:00:00.000' '2022-09-28 00:00:00.000'
 '2023-07-16 00:00:00.000' '2023-04-21 00:00:00.000'
 '2022-12-28 00:00:00.000' '2021-09-12 00:00:00.000'
 '2022-05-14 00:00:00.000' '2022-02-21 00:00:00.000'
 '2021-04-09 00:00:00.000' '2023-02-17 00:00:00.000'
 '2023-12-22 00:00:00.000' '2023-06-10 00:00:00.000'
 '2023-11-08 00:00:00.000' '2023-12-30 00:00:00.000'
 '2022-08-19 00:00:00.000' '2023-07-05 00:00:00.000'
 '2023-10-21 00:00:00.000' '2022-12-13 00:00:00.000'
 '2023-08-11 00:00:00.000' '2021-10-08 00:00:00.000'
 '2021-02-16 00:00:00.000' '2021-03-05 00:00:00.000'
 '2021-10-03 00:00:00.000' '2021-09-24 00:00:00.000'
 '2022-11-18 00:00:00.000' '2023-12-02 00:00:00.000'
 '2023-03-14 00:00:00.000' '2023-06-29 00:00:00.000'
 '2022-11-29 00:00:00.000' '2023-12-18 00:00:00.000'
 '2023-02-26 00:00:00.000' '2023-09-27 00:00:00.000'
 '2023-08-16 00:00:00.000' '2021-11-05 00:00:00.000'
 '2022-11-08 00:00:00.000' '2021-08-23 00:00:00.000'
 '2022-06-05 00:00:00.000' '2022-08-04 00:00:00.000'
 '2023-06-30 00:00:00.000' '2023-01-07 00:00:00.000'
 '2023-02-20 00:00:00.000' '2023-06-07 00:00:00.000'
 '2023-06-18 00:00:00.000' '2023-02-19 00:00:00.000'
 '2023-12-10 00:00:00.000' '2023-07-21 00:00:00.000'
 '2021-08-11 00:00:00.000' '2022-06-29 00:00:00.000'
 '2021-09-02 00:00:00.000' '2023-09-25 00:00:00.000'
 '2020-12-04 00:00:00.000' '2023-07-27 00:00:00.000'
 '2023-09-28 00:00:00.000' '2022-02-18 00:00:00.000'
 '2022-05-25 00:00:00.000' '2022-11-14 00:00:00.000'
 '2022-08-25 00:00:00.000' '2021-04-25 00:00:00.000'
 '2022-10-25 00:00:00.000' '2021-06-21 00:00:00.000'
 '2023-08-08 00:00:00.000' '2023-10-12 00:00:00.000'
 '2022-07-20 00:00:00.000' '2022-05-12 00:00:00.000'
 '2020-04-15 00:00:00.000' '2021-10-06 00:00:00.000'
 '2021-12-07 00:00:00.000' '2021-08-20 00:00:00.000'
 '2022-06-03 00:00:00.000' '2021-04-21 00:00:00.000'
 '2022-03-20 00:00:00.000' '2023-06-25 00:00:00.000'
 '2022-05-11 00:00:00.000' '2020-04-12 00:00:00.000'
 '2022-03-04 00:00:00.000' '2022-05-08 00:00:00.000'
 '2022-08-11 00:00:00.000' '2023-05-25 00:00:00.000'
 '2022-06-08 00:00:00.000' '2023-03-13 00:00:00.000'
 '2020-04-04 00:00:00.000' '2021-11-02 00:00:00.000'
 '2022-11-16 00:00:00.000' '2023-01-09 00:00:00.000'
 '2021-11-26 00:00:00.000' '2021-02-11 00:00:00.000'
 '2022-08-12 00:00:00.000' '2023-02-08 00:00:00.000'
 '2021-04-07 00:00:00.000' '2022-07-16 00:00:00.000'
 '2022-08-02 00:00:00.000' '2022-11-15 00:00:00.000'
 '2023-05-14 00:00:00.000' '2021-05-06 00:00:00.000'
 '2023-08-25 00:00:00.000' '2022-08-13 00:00:00.000'
 '2021-07-24 00:00:00.000' '2023-03-21 00:00:00.000'
 '2023-09-18 00:00:00.000' '2021-07-25 00:00:00.000'
 '2022-06-02 00:00:00.000' '2023-07-18 00:00:00.000'
 '2023-02-11 00:00:00.000' '2022-05-24 00:00:00.000'
 '2023-02-15 00:00:00.000' '2022-08-27 00:00:00.000'
 '2021-08-13 00:00:00.000' '2023-03-05 00:00:00.000'
 '2020-12-23 00:00:00.000' '2022-05-13 00:00:00.000'
 '2023-08-07 00:00:00.000' '2021-09-03 00:00:00.000'
 '2021-02-04 00:00:00.000' '2024-01-17 00:00:00.000'
 '2020-05-02 00:00:00.000' '2021-05-28 00:00:00.000'
 '2021-06-29 00:00:00.000' '2023-07-14 00:00:00.000'
 '2022-09-27 00:00:00.000' '2023-04-16 00:00:00.000'
 '2021-05-15 00:00:00.000' '2021-04-05 00:00:00.000'
 '2023-04-06 00:00:00.000' '2023-06-19 00:00:00.000'
 '2023-07-03 00:00:00.000' '2023-09-03 00:00:00.000'
 '2023-08-21 00:00:00.000' '2021-06-05 00:00:00.000'
 '2023-11-21 00:00:00.000' '2022-11-09 00:00:00.000'
 '2023-08-15 00:00:00.000' '2022-10-15 00:00:00.000'
 '2023-12-28 00:00:00.000' '2021-09-25 00:00:00.000'
 '2023-09-22 00:00:00.000' '2023-09-23 00:00:00.000'
 '2023-07-26 00:00:00.000' '2021-05-01 00:00:00.000'
 '2022-02-16 00:00:00.000' '2023-08-10 00:00:00.000'
 '2022-10-23 00:00:00.000' '2022-03-06 00:00:00.000'
 '2022-06-23 00:00:00.000' '2022-04-11 00:00:00.000'
 '2023-07-01 00:00:00.000' '2024-01-20 00:00:00.000'
 '2022-02-05 00:00:00.000' '2023-05-16 00:00:00.000'
 '2022-04-22 00:00:00.000' '2022-11-05 00:00:00.000'
 '2023-03-07 00:00:00.000' '2023-08-14 00:00:00.000'
 '2022-07-24 00:00:00.000' '2022-06-21 00:00:00.000'
 '2022-07-13 00:00:00.000' '2022-09-21 00:00:00.000'
 '2022-08-06 00:00:00.000' '2023-05-18 00:00:00.000'
 '2022-03-10 00:00:00.000' '2023-05-27 00:00:00.000'
 '2023-05-28 00:00:00.000' '2024-02-18 00:00:00.000'
 '2023-06-12 00:00:00.000' '2023-10-03 00:00:00.000'
 '2021-09-17 00:00:00.000' '2022-09-25 00:00:00.000'
 '2021-02-24 00:00:00.000' '2023-12-03 00:00:00.000'
 '2023-10-17 00:00:00.000' '2023-02-10 00:00:00.000'
 '2021-11-04 00:00:00.000' '2023-09-05 00:00:00.000'
 '2023-12-21 00:00:00.000' '2024-01-19 00:00:00.000'
 '2023-01-02 00:00:00.000' '2022-01-25 00:00:00.000'
 '2023-04-02 00:00:00.000' '2023-06-22 00:00:00.000'
 '2023-12-19 00:00:00.000' '2023-08-24 00:00:00.000'
 '2022-04-19 00:00:00.000' '2020-07-21 00:00:00.000'
 '2022-05-30 00:00:00.000' '2021-07-28 00:00:00.000'
 '2023-11-02 00:00:00.000' '2023-09-29 00:00:00.000'
 '2023-05-21 00:00:00.000' '2021-01-13 00:00:00.000'
 '2022-07-11 00:00:00.000' '2023-05-24 00:00:00.000'
 '2023-12-23 00:00:00.000' '2023-11-28 00:00:00.000'
 '2023-11-01 00:00:00.000' '2024-02-15 00:00:00.000'
 '2021-09-18 00:00:00.000' '2022-04-18 00:00:00.000'
 '2023-03-11 00:00:00.000' '2022-10-02 00:00:00.000'
 '2024-01-03 00:00:00.000' '2020-10-02 00:00:00.000'
 '2022-09-23 00:00:00.000' '2023-05-31 00:00:00.000'
 '2023-06-21 00:00:00.000' '2022-08-10 00:00:00.000'
 '2021-04-26 00:00:00.000' '2020-10-05 00:00:00.000'
 '2022-04-30 00:00:00.000' '2023-08-28 00:00:00.000'
 '2020-07-07 00:00:00.000' '2021-08-17 00:00:00.000'
 '2021-11-28 00:00:00.000' '2022-05-09 00:00:00.000'
 '2022-12-19 00:00:00.000' '2022-04-07 00:00:00.000'
 '2022-09-05 00:00:00.000' '2021-04-29 00:00:00.000'
 '2020-05-29 00:00:00.000' '2023-07-02 00:00:00.000'
 '2022-09-14 00:00:00.000' '2023-10-23 00:00:00.000'
 '2024-01-04 00:00:00.000' '2022-07-02 00:00:00.000'
 '2023-05-23 00:00:00.000' '2023-08-22 00:00:00.000'
 '2023-05-08 00:00:00.000' '2024-02-11 00:00:00.000'
 '2022-10-10 00:00:00.000' '2022-08-03 00:00:00.000'
 '2023-04-22 00:00:00.000' '2023-07-31 00:00:00.000'
 '2023-11-05 00:00:00.000' '2023-09-08 00:00:00.000'
 '2022-03-07 00:00:00.000' '2021-03-26 00:00:00.000'
 '2022-02-15 00:00:00.000' '2022-09-09 00:00:00.000'
 '2022-09-15 00:00:00.000' '2023-12-07 00:00:00.000'
 '2021-12-17 00:00:00.000' '2022-08-15 00:00:00.000'
 '2023-03-18 00:00:00.000' '2021-11-15 00:00:00.000'
 '2023-07-07 00:00:00.000' '2022-02-26 00:00:00.000'
 '2023-12-24 00:00:00.000' '2021-07-30 00:00:00.000'
 '2023-03-03 00:00:00.000' '2020-08-05 00:00:00.000'
 '2024-02-05 00:00:00.000' '2023-11-29 00:00:00.000'
 '2021-04-30 00:00:00.000' '2023-10-20 00:00:00.000'
 '2021-09-05 00:00:00.000' '2022-09-18 00:00:00.000'
 '2022-10-30 00:00:00.000' '2021-03-11 00:00:00.000'
 '2022-11-17 00:00:00.000' '2022-12-20 00:00:00.000'
 '2023-06-11 00:00:00.000' '2021-06-12 00:00:00.000'
 '2022-05-16 00:00:00.000' '2023-01-14 00:00:00.000'
 '2023-08-19 00:00:00.000' '2022-07-23 00:00:00.000'
 '2022-08-08 00:00:00.000' '2022-12-23 00:00:00.000'
 '2021-02-25 00:00:00.000' '2023-12-29 00:00:00.000'
 '2023-02-12 00:00:00.000' '2023-09-02 00:00:00.000'
 '2023-07-04 00:00:00.000' '2023-10-27 00:00:00.000'
 '2021-02-23 00:00:00.000' '2023-01-11 00:00:00.000'
 '2022-12-16 00:00:00.000' '2024-02-07 00:00:00.000'
 '2022-11-30 00:00:00.000' '2022-12-12 00:00:00.000'
 '2023-08-12 00:00:00.000' '2023-10-01 00:00:00.000'
 '2022-07-27 00:00:00.000' '2023-11-27 00:00:00.000'
 '2022-05-27 00:00:00.000' '2022-06-30 00:00:00.000'
 '2021-09-01 00:00:00.000' '2022-07-15 00:00:00.000'
 '2023-02-09 00:00:00.000' '2023-05-06 00:00:00.000'
 '2020-04-25 00:00:00.000' '2020-07-08 00:00:00.000'
 '2021-06-18 00:00:00.000' '2023-06-28 00:00:00.000'
 '2022-10-04 00:00:00.000' '2023-05-17 00:00:00.000'
 '2020-07-05 00:00:00.000' '2021-09-20 00:00:00.000'
 '2022-10-16 00:00:00.000' '2022-03-03 00:00:00.000'
 '2023-05-05 00:00:00.000' '2021-03-04 00:00:00.000'
 '2023-08-27 00:00:00.000' '2022-10-22 00:00:00.000'
 '2022-12-06 00:00:00.000' '2023-12-17 00:00:00.000'
 '2022-11-23 00:00:00.000' '2021-02-06 00:00:00.000'
 '2022-06-22 00:00:00.000' '2023-12-06 00:00:00.000'
 '2023-08-02 00:00:00.000' '2023-07-15 00:00:00.000'
 '2023-10-13 00:00:00.000' '2021-09-06 00:00:00.000'
 '2023-04-30 00:00:00.000' '2023-11-13 00:00:00.000'
 '2023-11-23 00:00:00.000' '2023-06-08 00:00:00.000'
 '2021-11-13 00:00:00.000' '2022-05-26 00:00:00.000'
 '2023-11-26 00:00:00.000' '2022-07-05 00:00:00.000'
 '2021-04-08 00:00:00.000' '2021-11-03 00:00:00.000'
 '2023-10-15 00:00:00.000' '2022-10-29 00:00:00.000'
 '2022-04-26 00:00:00.000' '2023-05-13 00:00:00.000'
 '2023-06-15 00:00:00.000' '2023-09-17 00:00:00.000'
 '2022-02-01 00:00:00.000' '2021-04-28 00:00:00.000'
 '2020-05-22 00:00:00.000' '2021-10-14 00:00:00.000'
 '2023-07-24 00:00:00.000' '2023-11-17 00:00:00.000'
 '2021-10-22 00:00:00.000' '2022-11-21 00:00:00.000'
 '2022-02-07 00:00:00.000' '2021-07-03 00:00:00.000'
 '2021-08-10 00:00:00.000' '2024-01-02 00:00:00.000'
 '2023-10-29 00:00:00.000' '2022-03-31 00:00:00.000'
 '2021-05-24 00:00:00.000' '2021-08-19 00:00:00.000'
 '2023-01-12 00:00:00.000' '2023-08-26 00:00:00.000'
 '2020-08-01 00:00:00.000' '2021-02-20 00:00:00.000'
 '2022-08-29 00:00:00.000' '2022-09-16 00:00:00.000'
 '2021-10-07 00:00:00.000' '2022-10-24 00:00:00.000'
 '2021-12-03 00:00:00.000' '2021-07-06 00:00:00.000'
 '2022-06-17 00:00:00.000' '2023-07-12 00:00:00.000'
 '2022-03-30 00:00:00.000' '2022-04-14 00:00:00.000'
 '2022-08-26 00:00:00.000' '2022-11-19 00:00:00.000'
 '2022-09-30 00:00:00.000' '2023-10-11 00:00:00.000'
 '2020-12-11 00:00:00.000' '2022-08-20 00:00:00.000'
 '2022-05-21 00:00:00.000' '2021-10-24 00:00:00.000'
 '2022-10-11 00:00:00.000' '2023-11-20 00:00:00.000'
 '2023-07-10 00:00:00.000' '2022-03-12 00:00:00.000'
 '2024-01-11 00:00:00.000' '2022-04-02 00:00:00.000'
 '2021-08-28 00:00:00.000' '2022-06-12 00:00:00.000'
 '2023-04-20 00:00:00.000' '2023-11-11 00:00:00.000'
 '2022-07-09 00:00:00.000' '2022-04-13 00:00:00.000'
 '2023-10-30 00:00:00.000' '2023-01-21 00:00:00.000'
 '2022-08-16 00:00:00.000' '2021-01-21 00:00:00.000'
 '2023-05-10 00:00:00.000' '2022-06-04 00:00:00.000'
 '2020-05-20 00:00:00.000' '2023-07-17 00:00:00.000'
 '2021-10-30 00:00:00.000' '2021-08-21 00:00:00.000'
 '2023-08-17 00:00:00.000' '2021-03-25 00:00:00.000'
 '2022-12-15 00:00:00.000' '2024-01-18 00:00:00.000'
 '2022-05-18 00:00:00.000' '2021-02-08 00:00:00.000'
 '2021-02-05 00:00:00.000' '2023-02-06 00:00:00.000'
 '2021-05-27 00:00:00.000' '2023-04-29 00:00:00.000'
 '2021-02-03 00:00:00.000' '2022-06-09 00:00:00.000'
 '2023-11-25 00:00:00.000' '2022-03-09 00:00:00.000'
 '2022-04-29 00:00:00.000' '2023-01-17 00:00:00.000'
 '2021-04-14 00:00:00.000' '2022-12-27 00:00:00.000'
 '2023-09-24 00:00:00.000' '2023-09-19 00:00:00.000'
 '2022-07-30 00:00:00.000' '2022-01-05 00:00:00.000'
 '2021-08-26 00:00:00.000' '2023-05-03 00:00:00.000'
 '2021-07-10 00:00:00.000' '2021-02-10 00:00:00.000'
 '2022-11-12 00:00:00.000' '2021-03-01 00:00:00.000'
 '2021-10-01 00:00:00.000' '2023-09-01 00:00:00.000'
 '2021-11-18 00:00:00.000' '2023-03-01 00:00:00.000'
 '2021-02-21 00:00:00.000' '2024-01-01 00:00:00.000'
 '2022-08-17 00:00:00.000' '2022-08-31 00:00:00.000'
 '2020-06-21 00:00:00.000' '2021-10-15 00:00:00.000'
 '2023-07-20 00:00:00.000' '2022-03-26 00:00:00.000'
 '2023-03-12 00:00:00.000' '2023-04-15 00:00:00.000'
 '2024-02-08 00:00:00.000' '2021-06-01 00:00:00.000'
 '2022-01-23 00:00:00.000' '2021-08-27 00:00:00.000'
 '2021-05-29 00:00:00.000' '2023-05-22 00:00:00.000'
 '2022-08-28 00:00:00.000' '2023-04-03 00:00:00.000'
 '2021-12-18 00:00:00.000' '2023-12-27 00:00:00.000'
 '2022-10-17 00:00:00.000' '2022-10-13 00:00:00.000'
 '2023-06-03 00:00:00.000' '2022-03-24 00:00:00.000'
 '2022-07-04 00:00:00.000' '2021-04-17 00:00:00.000'
 '2021-05-08 00:00:00.000' '2022-07-03 00:00:00.000'
 '2023-09-30 00:00:00.000' '2020-07-20 00:00:00.000'
 '2023-07-25 00:00:00.000' '2022-12-03 00:00:00.000'
 '2022-05-10 00:00:00.000' '2023-12-13 00:00:00.000'
 '2022-05-19 00:00:00.000' '2022-03-22 00:00:00.000'
 '2022-07-25 00:00:00.000' '2021-07-12 00:00:00.000'
 '2022-12-07 00:00:00.000' '2020-06-10 00:00:00.000'
 '2021-04-01 00:00:00.000' '2022-06-06 00:00:00.000'
 '2023-03-17 00:00:00.000' '2021-06-27 00:00:00.000'
 '2022-07-31 00:00:00.000' '2023-06-26 00:00:00.000'
 '2021-12-04 00:00:00.000' '2023-07-09 00:00:00.000'
 '2022-10-19 00:00:00.000' '2022-10-27 00:00:00.000'
 '2022-11-10 00:00:00.000' '2020-05-05 00:00:00.000'
 '2022-04-10 00:00:00.000' '2022-02-06 00:00:00.000'
 '2020-11-28 00:00:00.000' '2021-06-23 00:00:00.000'
 '2020-06-25 00:00:00.000' '2021-04-16 00:00:00.000'
 '2022-09-22 00:00:00.000' '2021-08-25 00:00:00.000'
 '2023-10-14 00:00:00.000' '2022-11-13 00:00:00.000'
 '2022-05-23 00:00:00.000' '2022-10-07 00:00:00.000'
 '2022-04-27 00:00:00.000' '2023-08-06 00:00:00.000'
 '2020-11-26 00:00:00.000' '2022-09-03 00:00:00.000'
 '2021-06-17 00:00:00.000' '2024-01-06 00:00:00.000'
 '2022-04-15 00:00:00.000' '2022-06-11 00:00:00.000'
 '2024-01-09 00:00:00.000' '2020-06-28 00:00:00.000'
 '2021-02-28 00:00:00.000' '2022-01-22 00:00:00.000'
 '2023-03-22 00:00:00.000' '2022-07-29 00:00:00.000'
 '2023-01-30 00:00:00.000' '2022-08-24 00:00:00.000'
 '2022-09-04 00:00:00.000' '2022-06-01 00:00:00.000'
 '2022-11-01 00:00:00.000' '2022-04-24 00:00:00.000'
 '2022-06-14 00:00:00.000' '2022-12-04 00:00:00.000'
 '2021-08-09 00:00:00.000' '2023-04-12 00:00:00.000'
 '2023-01-18 00:00:00.000' '2022-09-17 00:00:00.000'
 '2023-10-22 00:00:00.000' '2023-07-13 00:00:00.000'
 '2022-07-14 00:00:00.000' '2021-12-27 00:00:00.000'
 '2022-04-20 00:00:00.000' '2020-10-07 00:00:00.000'
 '2020-04-11 00:00:00.000' '2021-11-07 00:00:00.000'
 '2021-11-06 00:00:00.000' '2023-07-06 00:00:00.000'
 '2022-10-18 00:00:00.000' '2023-09-11 00:00:00.000'
 '2023-01-04 00:00:00.000' '2020-07-26 00:00:00.000'
 '2021-05-25 00:00:00.000' '2021-07-07 00:00:00.000'
 '2022-05-29 00:00:00.000' '2023-04-04 00:00:00.000'
 '2022-09-24 00:00:00.000' '2021-09-21 00:00:00.000'
 '2023-03-29 00:00:00.000' '2020-07-06 00:00:00.000'
 '2022-12-01 00:00:00.000' '2023-01-28 00:00:00.000'
 '2020-09-16 00:00:00.000' '2023-08-03 00:00:00.000'
 '2022-08-05 00:00:00.000' '2023-12-26 00:00:00.000'
 '2023-02-25 00:00:00.000' '2023-09-20 00:00:00.000'
 '2021-09-10 00:00:00.000' '2020-11-06 00:00:00.000'
 '2022-08-09 00:00:00.000' '2022-01-30 00:00:00.000'
 '2023-01-15 00:00:00.000' '2023-08-09 00:00:00.000'
 '2021-11-30 00:00:00.000' '2023-03-25 00:00:00.000'
 '2021-02-14 00:00:00.000' '2020-08-12 00:00:00.000'
 '2022-11-27 00:00:00.000' '2023-07-22 00:00:00.000'
 '2023-01-10 00:00:00.000' '2021-03-24 00:00:00.000'
 '2021-01-07 00:00:00.000' '2022-12-24 00:00:00.000'
 '2023-12-15 00:00:00.000' '2023-02-27 00:00:00.000'
 '2022-04-25 00:00:00.000' '2023-08-23 00:00:00.000'
 '2021-06-30 00:00:00.000' '2024-01-07 00:00:00.000'
 '2023-10-07 00:00:00.000' '2022-02-03 00:00:00.000'
 '2022-02-28 00:00:00.000' '2021-03-06 00:00:00.000'
 '2022-10-09 00:00:00.000' '2021-12-09 00:00:00.000'
 '2022-12-31 00:00:00.000' '2023-04-23 00:00:00.000'
 '2021-07-15 00:00:00.000' '2021-05-11 00:00:00.000'
 '2024-01-10 00:00:00.000' '2021-12-15 00:00:00.000'
 '2023-08-13 00:00:00.000' '2024-02-03 00:00:00.000'
 '2020-05-07 00:00:00.000' '2023-11-22 00:00:00.000'
 '2024-01-05 00:00:00.000' '2023-10-06 00:00:00.000'
 '2020-05-10 00:00:00.000' '2021-07-29 00:00:00.000'
 '2021-03-20 00:00:00.000' '2021-05-10 00:00:00.000'
 '2022-07-01 00:00:00.000' '2023-05-15 00:00:00.000'
 '2021-03-09 00:00:00.000' '2023-03-10 00:00:00.000'
 '2023-02-07 00:00:00.000' '2022-05-20 00:00:00.000'
 '2021-06-06 00:00:00.000' '2021-06-19 00:00:00.000'
 '2020-08-28 00:00:00.000' '2021-12-22 00:00:00.000'
 '2022-11-06 00:00:00.000' '2023-09-10 00:00:00.000'
 '2022-10-28 00:00:00.000' '2022-05-17 00:00:00.000'
 '2024-02-12 00:00:00.000' '2022-04-28 00:00:00.000'
 '2020-12-29 00:00:00.000' '2022-06-16 00:00:00.000'
 '2022-03-29 00:00:00.000' '2024-01-26 00:00:00.000'
 '2020-10-22 00:00:00.000' '2023-01-26 00:00:00.000'
 '2021-04-04 00:00:00.000' '2023-10-18 00:00:00.000'
 '2022-03-21 00:00:00.000' '2024-01-12 00:00:00.000'
 '2022-10-12 00:00:00.000' '2023-05-19 00:00:00.000'
 '2022-04-16 00:00:00.000' '2023-01-16 00:00:00.000'
 '2022-08-01 00:00:00.000' '2023-10-31 00:00:00.000'
 '2023-10-28 00:00:00.000' '2020-03-07 00:00:00.000'
 '2023-09-12 00:00:00.000' '2023-12-08 00:00:00.000'
 '2023-04-14 00:00:00.000' '2024-02-09 00:00:00.000'
 '2023-01-23 00:00:00.000' '2020-12-09 00:00:00.000'
 '2022-07-28 00:00:00.000' '2023-06-04 00:00:00.000'
 '2023-03-31 00:00:00.000' '2022-04-06 00:00:00.000'
 '2024-02-10 00:00:00.000' '2020-10-19 00:00:00.000'
 '2023-02-02 00:00:00.000' '2023-07-28 00:00:00.000'
 '2023-08-30 00:00:00.000' '2023-01-03 00:00:00.000'
 '2020-11-30 00:00:00.000' '2023-04-09 00:00:00.000'
 '2023-07-11 00:00:00.000' '2022-05-04 00:00:00.000'
 '2023-04-13 00:00:00.000' '2022-04-12 00:00:00.000'
 '2022-02-25 00:00:00.000' '2021-07-26 00:00:00.000'
 '2022-03-28 00:00:00.000' '2022-05-05 00:00:00.000'
 '2024-01-31 00:00:00.000' '2021-06-04 00:00:00.000'
 '2022-03-16 00:00:00.000' '2023-01-06 00:00:00.000'
 '2021-04-27 00:00:00.000' '2021-08-24 00:00:00.000'
 '2021-07-18 00:00:00.000' '2022-08-23 00:00:00.000'
 '2023-09-06 00:00:00.000' '2023-06-13 00:00:00.000'
 '2022-09-20 00:00:00.000' '2023-01-01 00:00:00.000'
 '2021-12-30 00:00:00.000' '2023-01-20 00:00:00.000'
 '2020-04-29 00:00:00.000' '2022-07-26 00:00:00.000'
 '2023-03-08 00:00:00.000' '2023-02-05 00:00:00.000'
 '2023-09-09 00:00:00.000' '2023-11-12 00:00:00.000'
 '2022-06-20 00:00:00.000' '2021-03-22 00:00:00.000'
 '2022-05-28 00:00:00.000' '2020-10-18 00:00:00.000'
 '2023-01-13 00:00:00.000' '2023-04-08 00:00:00.000'
 '2023-08-29 00:00:00.000' '2021-05-03 00:00:00.000'
 '2022-12-30 00:00:00.000' '2022-03-02 00:00:00.000'
 '2022-06-28 00:00:00.000' '2023-01-24 00:00:00.000'
 '2021-10-18 00:00:00.000' '2021-08-06 00:00:00.000'
 '2021-06-08 00:00:00.000' '2021-03-30 00:00:00.000'
 '2022-02-23 00:00:00.000' '2023-11-15 00:00:00.000'
 '2021-09-29 00:00:00.000' '2021-02-02 00:00:00.000'
 '2022-12-25 00:00:00.000' '2022-06-07 00:00:00.000'
 '2022-02-19 00:00:00.000' '2023-09-14 00:00:00.000'
 '2022-04-21 00:00:00.000' '2021-08-03 00:00:00.000'
 '2022-05-03 00:00:00.000' '2022-03-05 00:00:00.000'
 '2021-07-27 00:00:00.000' '2022-02-24 00:00:00.000'
 '2023-03-15 00:00:00.000' '2023-02-18 00:00:00.000']

Unique values for finished_at:
['2023-01-29 00:00:00.000' '2023-06-23 00:00:00.000'

In [66]:
# Descriptive Statistics
print("\nDescriptive Statistics:")
cycles.describe()

Descriptive Statistics:

,id,pond_id,species_id,total_seed,area,initial_age,limit_weight_per_area,target_cultivation_day,target_size,hatchery_id,pond_length,pond_width,pond_depth
count,2617.000000,2617.000000,1803.000000,2.617000e+03,2617.000000,2569.000000,2610.000000,2614.000000,2613.000000,2152.000000,2611.000000,2611.000000,2499.000000
mean,19900.667176,32218.568972,1.113699,2.197552e+05,2292.673653,0.704944,1.559452,112.591813,52.696135,412.304368,44.169694,36.299874,4.207935
std,6006.802428,10156.254276,0.317534,1.710980e+05,12104.748470,4.744826,6.640846,23.564663,22.803397,472.518010,26.640087,23.034006,19.647010
min,3458.000000,1.000000,1.000000,1.000000e+01,1.020000,0.000000,0.600000,0.000000,0.000000,1.000000,3.000000,1.500000,0.600000
25%,16091.000000,24570.000000,1.000000,9.600000e+04,810.000000,0.000000,1.250000,100.000000,45.000000,35.000000,30.000000,26.230000,1.000000
50%,20401.000000,34697.000000,1.000000,1.943920e+05,1400.000000,0.000000,1.250000,120.000000,55.000000,83.000000,40.000000,34.500000,1.300000
75%,24804.000000,38943.000000,1.000000,3.000000e+05,2358.000000,0.000000,1.250000,120.000000,55.000000,1004.000000,53.000000,44.720000,1.500000
max,29874.000000,47282.000000,2.000000,1.800000e+06,422500.000000,75.000000,270.000000,348.000000,1000.000000,1077.000000,650.000000,650.000000,300.000000

In [67]:
# Check for Duplicate Rows
print("\nDuplicate Rows:")
cycles.duplicated().sum()

Duplicate Rows:

50

In [68]:
# Range Validation for Integer and Float Columns
numeric_columns = cycles.select_dtypes(include=['int64', 'float64']).columns
for column in numeric_columns:
    min_value = cycles[column].min()
    max_value = cycles[column].max()
    print(f"\nRange for {column}: {min_value} to {max_value}")

Range for id: 3458 to 29874

Range for pond_id: 1 to 47282

Range for species_id: 1.0 to 2.0

Range for total_seed: 10 to 1800000

Range for area: 1.02 to 422500.0

Range for initial_age: 0.0 to 75.0

Range for limit_weight_per_area: 0.6 to 270.0

Range for target_cultivation_day: 0.0 to 348.0

Range for target_size: 0.0 to 1000.0

Range for hatchery_id: 1.0 to 1077.0

Range for pond_length: 3.0 to 650.0

Range for pond_width: 1.5 to 650.0

Range for pond_depth: 0.6 to 300.0

In [69]:
# Foreign Key Validation
# Check if all 'pond_id' values exist in the 'ponds' table
invalid_pond_ids = cycles[~cycles['pond_id'].isin(ponds['id'])]
print("\nInvalid 'pond_id' values:")
print(invalid_pond_ids)

Invalid 'pond_id' values:
         id  pond_id  species_id  total_seed               started_at  \
0     18876    36294         1.0      331920  2022-10-14 00:00:00.000
1     22118    37102         1.0       40000  2023-04-26 00:00:00.000
2     24088    39154         NaN      357570  2023-08-01 00:00:00.000
3     17743    20914         1.0      168275  2022-07-19 00:00:00.000
4     17125    34187         1.0      188000  2022-07-07 00:00:00.000
...     ...      ...         ...         ...                      ...
2612  19131    34712         2.0      300000  2022-10-25 00:00:00.000
2613  27552    45697         1.0      100000  2023-11-05 00:00:00.000
2614  27885    24570         1.0       30716  2023-12-02 00:00:00.000
2615  15868    32398         1.0      150000  2022-04-28 00:00:00.000
2616  20849    35913         1.0      384000  2023-02-09 00:00:00.000

                  finished_at                  remark  \
0     2023-01-29 00:00:00.000                     NaN
1     2023-06-23 00:00:00.000                  #TBR01
2     2023-10-18 00:00:00.000             #SiklusFarm
3     2022-09-29 00:00:00.000  #SiklusCustomerPermadi
4     2022-09-20 00:00:00.000            #SiklusTebar
...                       ...                     ...
2612  2023-01-21 00:00:00.000                     NaN
2613  2024-02-13 00:00:00.000                  #TBR03
2614  2024-02-29 00:00:00.000                  #TBR05
2615  2022-06-21 00:00:00.000            #SiklusTebar
2616  2023-04-07 00:00:00.000                     NaN

                   created_at               updated_at    area  ...  \
0     2022-10-14 12:34:23.000  2023-01-30 01:46:27.000  4030.0  ...
1     2023-04-30 22:28:13.000  2023-06-26 05:35:32.000   399.0  ...
2     2023-07-12 01:13:05.000  2023-10-19 04:23:11.000  2000.0  ...
3     2022-08-14 04:40:46.000  2022-10-06 00:09:36.000  1512.0  ...
4     2022-07-12 00:24:30.000  2022-10-15 04:27:24.000  1225.0  ...
...                       ...                      ...     ...  ...
2612  2022-10-25 10:13:31.000  2023-01-25 08:01:19.000  4999.9  ...
2613  2023-11-18 03:43:40.000  2024-03-27 02:52:36.000   900.0  ...
2614  2023-12-03 03:06:01.000  2024-03-03 03:03:26.000    86.0  ...
2615  2022-05-08 16:02:51.000  2022-08-23 03:12:20.000  1600.0  ...
2616  2023-02-14 00:23:40.000  2023-04-14 00:04:22.000  2915.0  ...

                 extracted_at  subscription_type               ordered_at  \
0     2024-04-12 17:02:22.000               Free                      NaN
1     2024-04-12 17:02:22.000               Free                      NaN
2     2024-04-12 17:02:22.000               Free  2023-07-12 01:13:05.000
3     2024-04-12 17:02:22.000               Free                      NaN
4     2024-04-12 17:02:22.000               Free  2022-07-12 00:24:30.000
...                       ...                ...                      ...
2612  2024-04-12 17:02:22.000               Free                      NaN
2613  2024-04-12 17:02:22.000               Free  2023-11-18 03:43:40.000
2614  2024-04-12 17:02:22.000               Free                      NaN
2615  2024-04-12 17:02:22.000               Free  2022-05-08 16:02:51.000
2616  2024-04-12 17:02:22.000               Free                      NaN

      hatchery_id total_seed_type  \
0            66.0             net
1            83.0             net
2          1004.0           gross
3             3.0          actual
4            35.0             net
...           ...             ...
2612       1020.0          actual
2613       1022.0             net
2614         83.0           gross
2615         35.0           gross
2616         83.0          actual

                                     hatchery_name pond_name  pond_length  \
0                             UD. Benur Ndaru Laut         H        65.00
1                                    CV Raja Benur        A1        30.00
2     PT. Tri Karta Pratama - Total Kualitas Prima        A3        50.00
3                    PT. Central Proteinaprima Tbk        B4        54.00
4                            PT Windu Alam Sentosa         A        35.00
...                                            ...       ...          ...
2612                            MATERNIDADE NACALA       E01        70.71
2613                            Windu Segara Anyar   Kolam 4        45.00
2614                                 CV Raja Benur     Bagus        10.71
2615                         PT Windu Alam Sentosa     B 4.1        45.00
2616                                 CV Raja Benur        A4        55.00

     pond_width pond_depth
0         62.00        1.0
1         20.00        1.0
2         40.00        1.4
3         28.00        1.5
4         35.00        1.2
...         ...        ...
2612      70.71        1.5
2613      20.00        1.5
2614       8.03        1.0
2615      35.00        2.0
2616      53.00        1.7

[2566 rows x 24 columns]

In [70]:
# Columns with missing values
columns_with_missing = cycles.columns[cycles.isnull().any()]

# Iterate over columns with missing values
for column in columns_with_missing:
    print(f"Missing values in column '{column}':")
    print(cycles.loc[cycles[column].isnull()])
    print("\n")

Missing values in column 'species_id':
         id  pond_id  species_id  total_seed               started_at  \
2     24088    39154         NaN      357570  2023-08-01 00:00:00.000
5     28070    46261         NaN      200128  2023-12-20 00:00:00.000
8     24702    34746         NaN      439635  2023-07-19 00:00:00.000
16    24542    41484         NaN      516780  2023-08-04 00:00:00.000
22    28280    41859         NaN      237300  2023-12-05 00:00:00.000
...     ...      ...         ...         ...                      ...
2597  23106    41216         NaN      985776  2023-03-15 00:00:00.000
2603  18872    36246         NaN      130000  2022-10-11 00:00:00.000
2604  25138    43244         NaN      436424  2023-08-21 00:00:00.000
2607  17449    34490         NaN      380000  2022-07-02 00:00:00.000
2608  19614    33945         NaN      400000  2022-12-01 00:00:00.000

                  finished_at            remark               created_at  \
2     2023-10-18 00:00:00.000       #SiklusFarm  2023-07-12 01:13:05.000
5     2024-03-30 00:00:00.000               NaN  2023-12-12 04:54:37.000
8     2023-07-29 00:00:00.000               NaN  2023-08-08 10:55:46.000
16    2023-10-13 00:00:00.000     #BD-Katalis01  2023-08-01 04:54:31.000
22    2024-02-24 00:00:00.000               NaN  2023-12-18 08:33:32.000
...                       ...               ...                      ...
2597  2023-06-14 00:00:00.000               NaN  2023-06-11 09:32:10.000
2603  2022-11-29 00:00:00.000  #SiklusShrimpHub  2022-10-14 09:00:06.000
2604  2023-11-24 00:00:00.000     #BD-Katalis05  2023-08-29 06:17:10.000
2607  2022-10-07 00:00:00.000               NaN  2022-07-28 03:33:46.000
2608  2023-02-17 00:00:00.000               NaN  2022-11-20 07:29:20.000

                   updated_at     area  ...             extracted_at  \
2     2023-10-19 04:23:11.000  2000.00  ...  2024-04-12 17:02:22.000
5     2024-04-06 00:06:16.000   803.84  ...  2024-04-12 17:02:22.000
8     2023-09-08 10:43:35.000    35.00  ...  2024-04-12 17:02:22.000
16    2023-10-13 13:20:47.000  3775.20  ...  2024-04-12 17:02:22.000
22    2024-03-05 00:11:48.000  1957.95  ...  2024-04-12 17:02:22.000
...                       ...      ...  ...                      ...
2597  2023-06-14 15:50:02.000  8900.00  ...  2024-04-12 17:02:22.000
2603  2022-12-15 14:30:36.000  1144.00  ...  2024-04-12 17:02:22.000
2604  2023-12-01 00:06:35.000  1962.50  ...  2024-04-12 17:02:22.000
2607  2023-09-22 03:26:47.000  1056.00  ...  2024-04-12 17:02:22.000
2608  2023-02-21 10:04:55.000   699.90  ...  2024-04-12 17:02:22.000

      subscription_type               ordered_at  hatchery_id total_seed_type  \
2                  Free  2023-07-12 01:13:05.000       1004.0           gross
5                  Free  2023-12-12 04:54:37.000          NaN          actual
8                  Free                      NaN       1020.0          actual
16                 Free  2023-08-01 04:54:31.000       1000.0          actual
22                 Paid  2023-12-18 08:33:32.000          NaN          actual
...                 ...                      ...          ...             ...
2597               Free                      NaN          NaN          actual
2603               Free                      NaN         25.0             net
2604               Free  2023-08-29 06:17:10.000       1070.0          actual
2607               Free                      NaN       1000.0           gross
2608               Free                      NaN         24.0             net

                                          hatchery_name pond_name  \
2          PT. Tri Karta Pratama - Total Kualitas Prima        A3
5                                                   NaN        B8
8                                    MATERNIDADE NACALA       N13
16                                       AGAPE Hatchery   Petak 2
22                                                  NaN       P10
...                                                 ...       ...
2597                                                NaN        B1
2603  PT. Matahari Cipta Sentosa (Unit Hatchery Paiton)        K4
2604                       PT. Suri Tani Pemuka Makasar       A10
2607                                     AGAPE Hatchery  Dungkek1
2608                                   PT. Prima Larvae   Pond #1

      pond_length pond_width pond_depth
2            50.0      40.00        1.4
5            32.0      32.00        1.5
8             7.0       5.00        1.0
16           60.0      62.92        1.2
22           45.0      43.51        1.2
...           ...        ...        ...
2597        222.5      40.00        1.5
2603         44.0      26.00        1.0
2604         50.0      50.00        1.2
2607         33.0      32.00        1.8
2608         30.0      30.00        1.5

[814 rows x 24 columns]


Missing values in column 'finished_at':
       id  pond_id  species_id  total_seed               started_at  \
67  20192    37769         1.0       29000  2022-12-28 00:00:00.000

   finished_at remark               created_at               updated_at  \
67         NaN    NaN  2022-12-28 14:07:10.000  2023-01-02 06:11:25.000

     area  ...             extracted_at  subscription_type  ordered_at  \
67  28.27  ...  2023-03-17 17:02:11.000               Free         NaN

    hatchery_id total_seed_type         hatchery_name pond_name  pond_length  \
67         66.0             net  UD. Benur Ndaru Laut        A1          6.0

   pond_width pond_depth
67        6.0        1.0

[1 rows x 24 columns]


Missing values in column 'remark':
         id  pond_id  species_id  total_seed               started_at  \
0     18876    36294         1.0      331920  2022-10-14 00:00:00.000
5     28070    46261         NaN      200128  2023-12-20 00:00:00.000
8     24702    34746         NaN      439635  2023-07-19 00:00:00.000
9     24007    34746         2.0      501054  2023-07-08 00:00:00.000
10    25693    34746         2.0      410121  2023-09-13 00:00:00.000
...     ...      ...         ...         ...                      ...
2607  17449    34490         NaN      380000  2022-07-02 00:00:00.000
2608  19614    33945         NaN      400000  2022-12-01 00:00:00.000
2610  25362    43578         1.0      221000  2023-10-16 00:00:00.000
2612  19131    34712         2.0      300000  2022-10-25 00:00:00.000
2616  20849    35913         1.0      384000  2023-02-09 00:00:00.000

                  finished_at remark               created_at  \
0     2023-01-29 00:00:00.000    NaN  2022-10-14 12:34:23.000
5     2024-03-30 00:00:00.000    NaN  2023-12-12 04:54:37.000
8     2023-07-29 00:00:00.000    NaN  2023-08-08 10:55:46.000
9     2023-07-17 00:00:00.000    NaN  2023-07-10 07:08:53.000
10    2023-10-07 00:00:00.000    NaN  2023-09-21 11:18:55.000
...                       ...    ...                      ...
2607  2022-10-07 00:00:00.000    NaN  2022-07-28 03:33:46.000
2608  2023-02-17 00:00:00.000    NaN  2022-11-20 07:29:20.000
2610  2024-01-31 00:00:00.000    NaN  2023-09-07 04:00:41.000
2612  2023-01-21 00:00:00.000    NaN  2022-10-25 10:13:31.000
2616  2023-04-07 00:00:00.000    NaN  2023-02-14 00:23:40.000

                   updated_at     area  ...             extracted_at  \
0     2023-01-30 01:46:27.000  4030.00  ...  2024-04-12 17:02:22.000
5     2024-04-06 00:06:16.000   803.84  ...  2024-04-12 17:02:22.000
8     2023-09-08 10:43:35.000    35.00  ...  2024-04-12 17:02:22.000
9     2023-08-07 09:57:49.000    35.00  ...  2024-04-12 17:02:22.000
10    2023-10-13 06:18:49.000    35.00  ...  2024-04-12 17:02:22.000
...                       ...      ...  ...                      ...
2607  2023-09-22 03:26:47.000  1056.00  ...  2024-04-12 17:02:22.000
2608  2023-02-21 10:04:55.000   699.90  ...  2024-04-12 17:02:22.000
2610  2024-02-07 00:06:25.000   314.00  ...  2024-04-12 17:02:22.000
2612  2023-01-25 08:01:19.000  4999.90  ...  2024-04-12 17:02:22.000
2616  2023-04-14 00:04:22.000  2915.00  ...  2024-04-12 17:02:22.000

      subscription_type               ordered_at  hatchery_id total_seed_type  \
0                  Free                      NaN         66.0             net
5                  Free  2023-12-12 04:54:37.000          NaN          actual
8                  Free                      NaN       1020.0          actual
9                  Free                      NaN       1020.0          actual
10                 Paid                      NaN       1020.0          actual
...                 ...                      ...          ...             ...
2607               Free                      NaN       1000.0           gross
2608               Free                      NaN         24.0             net
2610               Free  2023-09-07 04:52:05.000          NaN           gross
2612               Free                      NaN       1020.0          actual
2616               Free                      NaN         83.0          actual

             hatchery_name pond_name  pond_length pond_width pond_depth
0     UD. Benur Ndaru Laut         H        65.00      62.00        1.0
5                      NaN        B8        32.00      32.00        1.5
8       MATERNIDADE NACALA       N13         7.00       5.00        1.0
9       MATERNIDADE NACALA       N13         7.00       5.00        1.0
10      MATERNIDADE NACALA       N13         7.00       5.00        1.0
...                    ...       ...          ...        ...        ...
2607        AGAPE Hatchery  Dungkek1        33.00      32.00        1.8
2608      PT. Prima Larvae   Pond #1        30.00      30.00        1.5
2610                   NaN  Kolbun 3        20.00      20.00        1.2
2612    MATERNIDADE NACALA       E01        70.71      70.71        1.5
2616         CV Raja Benur        A4        55.00      53.00        1.7

[1281 rows x 24 columns]


Missing values in column 'initial_age':
         id  pond_id  species_id  total_seed               started_at  \
18    23341    30343         1.0        4500  2023-06-17 00:00:00.000
19    21662    30343         1.0        2800  2023-04-07 00:00:00.000
31    27016    45165         1.0      400000  2023-09-21 00:00:00.000
141   24949    37101         1.0       67000  2023-08-18 00:00:00.000
146   18761    32258         1.0       90000  2021-04-21 00:00:00.000
267   16498    23995         1.0      240000  2022-05-22 00:00:00.000
323   22815    40480         1.0       80000  2023-04-02 00:00:00.000
327   28313    37103         1.0      100000  2023-12-19 00:00:00.000
331   16374    31376         1.0       30000  2022-05-31 00:00:00.000
352   26049    39087         1.0       50000  2023-10-02 00:00:00.000
436   14345    30343         1.0        3000  2022-02-15 00:00:00.000
466   28611    38791         1.0       75000  2023-12-28 00:00:00.000
501   25553    43468         1.0       45000  2023-07-27 00:00:00.000
529   27014    45163         1.0      400000  2023-09-21 00:00:00.000
598   26048    38700         1.0       50000  2023-10-02 00:00:00.000
626   27689    38467         1.0       60000  2023-11-23 00:00:00.000
821   28318    38590         1.0       75000  2023-12-20 00:00:00.000
884   26560    36968         1.0      250000  2023-10-15 00:00:00.000
896   11675    19372         1.0      150000  2021-08-26 00:00:00.000
929   28607    36968         1.0      200000  2024-01-01 00:00:00.000
947   24888    43003         1.0      100000  2023-08-20 00:00:00.000
1127  28292    43159         1.0       40000  2023-12-10 00:00:00.000
1162   7020    12824         1.0       90000  2020-11-28 00:00:00.000
1296  24948    38470         1.0       75000  2023-08-18 00:00:00.000
1383  27018    45167         1.0      400000  2023-09-21 00:00:00.000
1528  17266    24014         1.0      110000  2021-11-30 00:00:00.000
1537  19824    32064         1.0          10  2022-11-27 00:00:00.000
1647  20800    38481         1.0       90000  2023-01-15 00:00:00.000
1697  16372    31372         1.0       30000  2022-05-31 00:00:00.000
1710  27082    45359         1.0       65000  2023-11-02 00:00:00.000
1721  28314    36139         1.0       50000  2023-12-19 00:00:00.000
1851  26561    36969         1.0      250000  2023-10-15 00:00:00.000
1856  28608    36969         1.0      200000  2024-01-01 00:00:00.000
1865  15060    31033         1.0        4769  2022-03-21 00:00:00.000
1866  15060    31033         1.0        4769  2022-03-21 00:00:00.000
1936  25274    43478         1.0       96000  2023-07-29 00:00:00.000
1947  19822    16865         1.0          60  2022-11-27 00:00:00.000
2128  21661    30344         1.0        2800  2023-04-07 00:00:00.000
2171   9057    21898         1.0      120000  2021-03-11 00:00:00.000
2182  14344    30344         1.0        3000  2022-02-15 00:00:00.000
2193  17946    32216         1.0      100000  2022-08-23 00:00:00.000
2197  28304    38699         1.0       40000  2023-12-18 00:00:00.000
2265  24950    37100         1.0       67000  2023-08-18 00:00:00.000
2300  27670    38465         1.0       75000  2023-11-22 00:00:00.000
2337  28055    37100         1.0       67000  2023-12-10 00:00:00.000
2349  18108    32187         1.0      135000  2022-09-03 00:00:00.000
2471  28315    46475         1.0       50000  2023-12-19 00:00:00.000
2574  26945    37037         1.0      100000  2023-10-20 00:00:00.000

                  finished_at                 remark               created_at  \
18    2023-09-16 00:00:00.000                    NaN  2023-06-17 13:52:22.000
19    2023-05-30 00:00:00.000                    NaN  2023-04-07 00:46:15.000
31    2024-01-19 00:00:00.000                    NaN  2023-10-30 04:28:43.000
141   2023-11-17 00:00:00.000                 #TBR01  2023-08-21 00:45:03.000
146   2021-07-27 00:00:00.000  #SiklusTebarSbelumnya  2022-10-06 15:16:05.000
267   2022-09-03 00:00:00.000                  #JT12  2022-06-08 05:21:16.000
323   2023-06-11 00:00:00.000                  #JT03  2023-06-01 09:04:42.000
327   2024-02-08 00:00:00.000                 #TBR01  2023-12-19 10:38:04.000
331   2022-08-13 00:00:00.000                    NaN  2022-05-31 17:02:51.000
352   2023-11-26 00:00:00.000                 #TBR01  2023-10-02 23:41:09.000
436   2022-04-24 00:00:00.000                    NaN  2022-02-15 12:03:48.000
466   2024-02-23 00:00:00.000         #TBRJember2024  2024-01-03 03:34:19.000
501   2023-10-05 00:00:00.000          #BD-Katalis04  2023-09-16 06:48:03.000
529   2024-01-19 00:00:00.000                    NaN  2023-10-30 03:53:36.000
598   2023-12-01 00:00:00.000                 #TBR01  2023-10-02 23:39:36.000
626   2024-02-06 00:00:00.000                 #TBR01  2023-11-23 09:35:38.000
821   2024-02-08 00:00:00.000                 #TBR01  2023-12-20 00:14:46.000
884   2023-12-16 00:00:00.000                 #TBR01  2023-10-16 08:59:50.000
896   2021-11-18 00:00:00.000                    NaN  2021-08-27 07:49:05.000
929   2024-02-29 00:00:00.000         #TBRJember2024  2024-01-03 03:06:58.000
947   2023-11-14 00:00:00.000                    NaN  2023-08-16 14:40:38.000
1127  2024-02-28 00:00:00.000                 #TBR01  2023-12-18 23:54:41.000
1162  2021-01-15 00:00:00.000                    NaN  2020-12-02 01:44:19.000
1296  2023-11-10 00:00:00.000                 #TBR01  2023-08-21 00:31:33.000
1383  2023-12-28 00:00:00.000                    NaN  2023-10-30 04:29:53.000
1528  2022-03-11 00:00:00.000                    NaN  2022-07-19 01:51:40.000
1537  2023-02-10 00:00:00.000                    NaN  2022-12-05 04:38:38.000
1647  2023-02-27 00:00:00.000                 #TBR01  2023-02-09 15:07:33.000
1697  2022-08-13 00:00:00.000                    NaN  2022-05-31 16:54:17.000
1710  2024-02-03 00:00:00.000                    NaN  2023-11-01 07:03:09.000
1721  2024-02-08 00:00:00.000                 #TBR01  2023-12-19 10:39:23.000
1851  2023-12-16 00:00:00.000                 #TBR01  2023-10-16 09:00:35.000
1856  2024-02-29 00:00:00.000         #TBRJember2024  2024-01-03 03:20:37.000
1865  2022-07-04 00:00:00.000                    NaN  2022-03-21 13:58:04.000
1866  2022-07-04 00:00:00.000                    NaN  2022-03-21 13:58:04.000
1936  2023-09-26 00:00:00.000                 #TBR01  2023-09-04 01:21:13.000
1947  2023-02-16 00:00:00.000                    NaN  2022-12-05 04:19:10.000
2128  2023-05-28 00:00:00.000                    NaN  2023-04-07 00:44:25.000
2171  2021-05-10 00:00:00.000                    NaN  2021-04-03 14:51:56.000
2182  2022-04-23 00:00:00.000                    NaN  2022-02-15 12:03:47.000
2193  2022-10-06 00:00:00.000           #SiklusTebar  2022-08-23 23:46:00.000
2197  2024-01-28 00:00:00.000                 #TBR01  2023-12-19 02:46:31.000
2265  2023-11-20 00:00:00.000                 #TBR01  2023-08-21 00:46:48.000
2300  2024-02-05 00:00:00.000                 #TBR01  2023-11-22 10:20:28.000
2337  2024-02-28 00:00:00.000                 #TBR01  2023-12-11 23:41:42.000
2349  2022-10-27 00:00:00.000           #SiklusTebar  2022-09-03 14:16:58.000
2471  2024-02-08 00:00:00.000                 #TBR01  2023-12-19 10:45:16.000
2574  2023-12-21 00:00:00.000                 #TBR01  2023-10-26 04:35:24.000

                   updated_at     area  ...             extracted_at  \
18    2023-09-23 00:13:14.000     7.07  ...  2024-04-12 17:02:22.000
19    2023-06-06 00:09:08.000     7.07  ...  2024-04-12 17:02:22.000
31    2024-01-26 00:08:20.000  2025.00  ...  2024-04-12 17:02:22.000
141   2023-11-23 05:53:19.000   435.00  ...  2024-04-12 17:02:22.000
146   2022-10-06 15:30:08.000   700.00  ...  2024-04-12 17:02:22.000
267   2023-12-20 15:18:24.000  1600.00  ...  2024-04-12 17:02:22.000
323   2023-06-14 07:50:44.000   600.00  ...  2024-04-12 17:02:22.000
327   2024-02-16 05:14:12.000   810.00  ...  2024-04-12 17:02:22.000
331   2022-08-20 00:05:20.000   256.00  ...  2024-04-12 17:02:22.000
352   2023-11-27 07:00:49.000   375.00  ...  2024-04-12 17:02:22.000
436   2022-05-01 00:04:18.000     7.00  ...  2024-04-12 17:02:22.000
466   2024-03-10 08:34:52.000   700.00  ...  2024-04-12 17:02:22.000
501   2023-11-11 21:47:17.000  2000.00  ...  2024-04-12 17:02:22.000
529   2024-01-26 00:08:16.000  2025.00  ...  2024-04-12 17:02:22.000
598   2023-12-05 04:05:02.000   360.00  ...  2024-04-12 17:02:22.000
626   2024-02-16 04:47:03.000   625.00  ...  2024-04-12 17:02:22.000
821   2024-02-16 05:56:26.000  1385.44  ...  2024-04-12 17:02:22.000
884   2023-12-21 09:02:48.000  1156.00  ...  2024-04-12 17:02:22.000
896   2021-11-23 04:11:35.000  2000.00  ...  2024-04-12 17:02:22.000
929   2024-03-12 04:12:27.000  1156.00  ...  2024-04-12 17:02:22.000
947   2023-11-14 16:11:12.000  1050.00  ...  2024-04-12 17:02:22.000
1127  2024-03-11 05:32:22.000   440.00  ...  2024-04-12 17:02:22.000
1162  2020-12-06 11:46:50.000   310.00  ...  2024-04-12 17:02:22.000
1296  2023-11-13 07:03:19.000  1089.00  ...  2024-04-12 17:02:22.000
1383  2024-01-16 00:12:49.000  2025.00  ...  2024-04-12 17:02:22.000
1528  2022-07-19 03:01:35.000   900.00  ...  2024-04-12 17:02:22.000
1537  2023-02-17 00:08:30.000    56.00  ...  2024-04-12 17:02:22.000
1647  2023-02-27 08:02:44.000  1225.00  ...  2024-04-12 17:02:22.000
1697  2022-08-20 00:05:19.000   256.00  ...  2024-04-12 17:02:22.000
1710  2024-02-05 02:07:04.000   650.00  ...  2024-04-12 17:02:22.000
1721  2024-02-16 05:26:41.000   675.00  ...  2024-04-12 17:02:22.000
1851  2023-12-22 05:52:50.000  1156.00  ...  2024-04-12 17:02:22.000
1856  2024-03-12 04:24:10.000  1156.00  ...  2024-04-12 17:02:22.000
1865  2022-07-12 00:08:41.000     7.00  ...  2024-04-12 17:02:22.000
1866  2022-07-12 00:08:41.000     7.00  ...  2024-04-12 17:02:22.000
1936  2023-09-29 11:23:38.000  1000.00  ...  2024-04-12 17:02:22.000
1947  2023-02-23 00:08:11.000   800.00  ...  2024-04-12 17:02:22.000
2128  2023-06-04 00:09:10.000     7.07  ...  2024-04-12 17:02:22.000
2171  2021-05-16 07:17:39.000   636.00  ...  2024-04-12 17:02:22.000
2182  2022-04-30 00:04:14.000     7.00  ...  2024-04-12 17:02:22.000

### Summary of Data Validation for `cycles` Table

**Basic Information:**
- The dataset contains 2617 entries with 24 columns.
- Data types include integers, floats, and objects (strings/dates).

**Missing Values:**
- Significant columns with missing values:
  - `species_id`: 814 missing
  - `finished_at`: 1 missing
  - `remark`: 1281 missing
  - `initial_age`: 48 missing
  - `limit_weight_per_area`: 7 missing
  - `target_cultivation_day`: 3 missing
  - `target_size`: 4 missing
  - `ordered_at`: 1523 missing
  - `hatchery_id`: 465 missing
  - `total_seed_type`: 242 missing
  - `hatchery_name`: 465 missing
  - `pond_length`: 6 missing
  - `pond_width`: 6 missing
  - `pond_depth`: 118 missing

**Descriptive Statistics:**
- `id` ranges from 3458 to 29874.
- `pond_id` ranges from 1 to 47282.
- `species_id` ranges from 1.0 to 2.0.
- `total_seed` ranges from 10 to 1800000.
- `area` ranges from 1.02 to 422500.0.
- `initial_age` ranges from 0.0 to 75.0.
- `limit_weight_per_area` ranges from 0.6 to 270.0.
- `target_cultivation_day` ranges from 0.0 to 348.0.
- `target_size` ranges from 0.0 to 1000.0.
- `hatchery_id` ranges from 1.0 to 1077.0.
- `pond_length` ranges from 3.0 to 650.0.
- `pond_width` ranges from 1.5 to 650.0.
- `pond_depth` ranges from 0.6 to 300.0.

**Duplicate Rows:**
- There are 50 duplicate rows in the dataset.

**Observations:**
1. **Missing Values:**
   - Several columns have a significant number of missing values, especially `remark`, `ordered_at`, and `species_id`.
   - These missing values need to be addressed, possibly through imputation or removal, depending on the use case.

2. **Duplicate Rows:**
   - The presence of 50 duplicate rows suggests a need for data cleaning to ensure data integrity.

3. **Range Validations:**
   - The ranges for each numeric column seem reasonable, except for potentially extreme values in columns like `total_seed`, `area`, and `target_size`. These should be further examined to confirm their validity.

4. **Data Types:**
   - Ensure the date columns (`started_at`, `finished_at`, etc.) are in the correct datetime format for further analysis.

5. **Foreign Key Validation:**
   - Check if all `pond_id` values exist in the `ponds` table to ensure referential integrity.

### Actions Recommended:
1. **Handle Missing Values:**
   - Impute or remove missing values based on the column's importance and data availability.
   - For critical columns, consider using median or mean for numerical imputation or mode for categorical.

2. **Remove Duplicates:**
   - Remove duplicate rows to maintain data integrity.

3. **Range Check and Outlier Detection:**
   - Investigate extreme values in key columns like `total_seed`, `area`, and `target_size` to determine if they are valid or require correction.

4. **Data Type Conversion:**
   - Convert date columns to `datetime` format for accurate time-based analysis.

5. **Foreign Key Integrity:**
   - Ensure all `pond_id` values exist in the `ponds` table to maintain database integrity.

## Farms Table Analysis

In [71]:
# sanity check
farms

        id           province      regency timezone
0      652         JAWA BARAT       SUBANG   +07:00
1      869   SULAWESI SELATAN        BARRU   +08:00
2      900         JAWA TIMUR      PACITAN   +07:00
3     1000         JAWA TIMUR    SITUBONDO   +07:00
4     1106         JAWA TIMUR   BANYUWANGI   +07:00
..     ...                ...          ...      ...
546  13692  OUTSIDE INDONESIA          NaN   +07:00
547  13743               BALI  KARANG ASEM   +08:00
548  13788         JAWA TIMUR       JEMBER   +07:00
549  13876         JAWA TIMUR   BANYUWANGI   +07:00
550  13886         JAWA TIMUR       JEMBER   +07:00

[551 rows x 4 columns]

In [72]:
# Check basic information about the dataframe
print("Basic Information:")
farms.info()

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551 entries, 0 to 550
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        551 non-null    int64
 1   province  479 non-null    object
 2   regency   458 non-null    object
 3   timezone  551 non-null    object
dtypes: int64(1), object(3)
memory usage: 17.3+ KB

In [73]:
# Check for missing values
print("\nMissing Values:")
farms.isnull().sum()

Missing Values:

id           0
province    72
regency     93
timezone     0
dtype: int64

In [74]:
# Select rows with NaN values in 'province' column
rows_with_nan_province = farms.loc[farms['province'].isna()]

# Print the rows
rows_with_nan_province[50:]

        id province regency timezone
412  10689      NaN     NaN   +07:00
415  10805      NaN     NaN   +07:00
416  10806      NaN     NaN   +07:00
417  10808      NaN     NaN   +07:00
418  10809      NaN     NaN   +07:00
419  10811      NaN     NaN   +07:00
420  10813      NaN     NaN   +07:00
421  10830      NaN     NaN   +07:00
422  10841      NaN     NaN   +07:00
423  10842      NaN     NaN   +07:00
424  10845      NaN     NaN   +07:00
425  10849      NaN     NaN   +07:00
426  10855      NaN     NaN   +07:00
427  10857      NaN     NaN   +07:00
430  10882      NaN     NaN   +07:00
441  11069      NaN     NaN   +07:00
442  11070      NaN     NaN   +07:00
449  11203      NaN     NaN   +07:00
452  11258      NaN     NaN   +07:00
456  11381      NaN     NaN   +07:00
461  11465      NaN     NaN   +07:00
462  11466      NaN     NaN   +07:00

In [75]:
# Select rows with NaN values in 'regency' column
rows_with_nan_regency = farms.loc[farms['regency'].isna()]

# Print the rows
rows_with_nan_regency

        id           province regency timezone
32    2960               ACEH     NaN   +07:00
43    3994            LAMPUNG     NaN   +07:00
44    3995            LAMPUNG     NaN   +07:00
166   7766  OUTSIDE INDONESIA     NaN   +07:00
235   8350                NaN     NaN   +07:00
..     ...                ...     ...      ...
478  11679  OUTSIDE INDONESIA     NaN   +07:00
496  13198  OUTSIDE INDONESIA     NaN   +05:00
497  13224  OUTSIDE INDONESIA     NaN   +05:00
499  13251  OUTSIDE INDONESIA     NaN   +07:00
546  13692  OUTSIDE INDONESIA     NaN   +07:00

[93 rows x 4 columns]

In [76]:
# Check unique values for object columns
object_columns = farms.select_dtypes(include='object').columns
for column in object_columns:
    print(f"\nUnique values for {column}:")
    print(farms[column].unique())

Unique values for province:
['JAWA BARAT' 'SULAWESI SELATAN' 'JAWA TIMUR' 'JAWA TENGAH' 'LAMPUNG'
 'BALI' 'GORONTALO' 'ACEH' 'BANTEN' 'RIAU' 'DI YOGYAKARTA'
 'KEPULAUAN BANGKA BELITUNG' 'SUMATERA BARAT' 'OUTSIDE INDONESIA'
 'SUMATERA SELATAN' nan 'NUSA TENGGARA BARAT' 'SULAWESI TENGAH'
 'SUMATERA UTARA' 'SULAWESI UTARA' 'SULAWESI BARAT']

Unique values for regency:
['SUBANG' 'BARRU' 'PACITAN' 'SITUBONDO' 'BANYUWANGI' 'DEMAK'
 'PESISIR BARAT' 'JEPARA' 'TULANGBAWANG' 'BULELENG' 'CILACAP' 'KENDAL'
 'PESAWARAN' 'POHUWATO' 'LAMPUNG SELATAN' nan 'PANDEGLANG' 'PURWOREJO'
 'INDRAMAYU' 'BENGKALIS' 'PROBOLINGGO' 'BANTUL' 'GARUT' 'SAMPANG'
 'BULUKUMBA' 'GRESIK' 'SERANG' 'BANGKA SELATAN' 'PANGANDARAN' 'PASURUAN'
 'SUMENEP' 'PATI' 'PEMALANG' 'BREBES' 'PIDIE JAYA' 'LAMONGAN'
 'TASIKMALAYA' 'AGAM' 'ACEH TIMUR' 'OGAN KOMERING ILIR' 'NGANJUK'
 'CIREBON' 'KEBUMEN' 'JEMBRANA' 'JEMBER' 'KOTA CIREBON' 'SUMBAWA'
 'ACEH UTARA' 'BANGKA' 'PINRANG' 'BANGKALAN' 'DONGGALA' 'KOTA TASIKMALAYA'
 'TEGAL' 'LAMPUNG TIMUR' 'SERDANG BEDAGAI' 'BADUNG' 'PADANG PARIAMAN'
 'PIDIE' 'PAMEKASAN' 'MINAHASA SELATAN' 'PADANG' 'LOMBOK TIMUR'
 'MAMUJU UTARA' 'PESISIR SELATAN' 'LAMPUNG UTARA' 'BONE BOLANGO'
 'KARANG ASEM']

Unique values for timezone:
['+07:00' '+08:00' '+05:30' '+02:00' '+06:00' '+05:00']

In [77]:
# Descriptive Statistics
print("\nDescriptive Statistics:")
farms.describe()

Descriptive Statistics:

                 id
count    551.000000
mean    8625.956443
std     2937.544875
min      652.000000
25%     6369.500000
50%     8531.000000
75%    10710.000000
max    13886.000000

In [78]:
# Check for Duplicate Rows
print("\nDuplicate Rows:")
farms.duplicated().sum()

Duplicate Rows:

0

In [79]:
# Numeric Value Validation
# Example: Check for negative values in the 'id' column
negative_ids = farms[farms['id'] < 0]
print("\nNegative IDs:")
print(negative_ids)

Negative IDs:
Empty DataFrame
Columns: [id, province, regency, timezone]
Index: []

Based on the data validation results:

1. **Basic Information:** The dataframe consists of 551 entries and 4 columns. The 'province' and 'regency' columns have missing values, with 72 and 93 null values respectively.

2. **Unique Values for 'province':** The 'province' column contains various provinces where the farms are located, with 'JAWA BARAT' being the most common. There is also a category 'OUTSIDE INDONESIA' indicating farms located outside Indonesia.

3. **Unique Values for 'regency':** The 'regency' column contains various regencies where the farms are located, with 'SUBANG' being the most common. There is also a category 'nan' indicating missing values in this column.

4. **Unique Values for 'timezone':** The 'timezone' column indicates the timezone of the farms, with several different timezone offsets ranging from +02:00 to +08:00.

5. **Duplicate Rows:** There are no duplicate rows in the dataframe.

**Conclusion:**
- The dataset contains information about farms, including their locations (province and regency) and timezone.
- There are missing values in the 'province' and 'regency' columns, which may need to be addressed before further analysis.
- The data seems relatively clean, with no duplicate rows detected.

Further actions may include imputing missing values, if possible, and conducting exploratory data analysis to gain more insights into the farm data.

## Fasting

In [80]:
# sanity check
fasting

     logged_date  cycle_id  fasting
0     2022-10-17     15804      1.0
1     2022-11-27     15804      0.0
2     2022-11-28     15804      0.0
3     2022-11-29     15804      0.0
4     2022-12-01     15804      1.0
...          ...       ...      ...
6184  2023-03-09     15301      1.0
6185  2023-03-15     15301      1.0
6186  2023-03-23     15301      1.0
6187  2023-04-06     15301      1.0
6188  2023-04-14     15301      1.0

[6189 rows x 3 columns]

In [81]:
# Check basic information about the dataframe
print("Basic Information:")
print(fasting.info())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6189 entries, 0 to 6188
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   logged_date  6189 non-null   object
 1   cycle_id     6189 non-null   int64
 2   fasting      6172 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 145.2+ KB
None

In [82]:
# Check for missing values
print("\nMissing Values:")
print(fasting.isnull().sum())

Missing Values:
logged_date     0
cycle_id        0
fasting        17
dtype: int64

In [83]:
# Check unique values for object columns
object_columns = fasting.select_dtypes(include='object').columns
for column in object_columns:
    print(f"\nUnique values for {column}:")
    print(fasting[column].unique())

Unique values for logged_date:
['2022-10-17' '2022-11-27' '2022-11-28' '2022-11-29' '2022-12-01'
 '2021-05-20' '2022-08-16' '2022-03-28' '2022-04-10' '2022-04-18'
 '2022-04-17' '2022-04-16' '2022-04-15' '2022-04-14' '2022-04-13'
 '2022-04-12' '2022-09-10' '2022-09-19' '2022-09-20' '2022-09-21'
 '2022-09-22' '2022-09-23' '2022-09-24' '2022-09-25' '2022-10-05'
 '2022-10-04' '2022-10-22' '2022-10-23' '2023-03-01' '2023-03-02'
 '2021-11-16' '2022-10-19' '2022-10-24' '2022-10-26' '2022-11-11'
 '2022-11-12' '2022-11-13' '2022-11-26' '2022-12-03' '2022-12-06'
 '2022-12-07' '2022-12-10' '2022-12-11' '2022-12-09' '2022-12-19'
 '2022-12-21' '2022-12-23' '2022-12-24' '2022-12-31' '2023-01-02'
 '2023-01-01' '2023-01-05' '2023-01-07' '2022-11-18' '2023-03-13'
 '2023-03-14' '2023-03-15' '2023-03-16' '2023-03-17' '2023-03-18'
 '2023-03-19' '2023-03-20' '2023-03-21' '2023-03-22' '2023-03-23'
 '2023-03-24' '2023-03-25' '2023-03-26' '2023-03-27' '2023-03-28'
 '2023-03-29' '2023-03-30' '2023-03-31' '2023-04-01' '2023-04-02'
 '2023-04-03' '2023-04-04' '2023-04-05' '2023-04-06' '2023-04-07'
 '2023-04-08' '2023-04-09' '2023-04-10' '2023-04-11' '2023-04-12'
 '2023-04-13' '2023-04-14' '2023-04-15' '2023-04-16' '2023-04-17'
 '2023-04-18' '2023-04-19' '2023-04-20' '2023-04-21' '2023-04-22'
 '2023-04-23' '2022-08-17' '2022-08-18' '2022-08-19' '2022-08-20'
 '2022-08-21' '2022-08-22' '2022-08-23' '2022-08-24' '2022-08-25'
 '2022-08-26' '2022-08-27' '2022-08-28' '2022-08-29' '2022-08-30'
 '2022-08-31' '2022-09-01' '2022-09-02' '2022-09-03' '2022-09-04'
 '2022-09-05' '2022-09-06' '2022-09-07' '2022-09-08' '2022-09-09'
 '2022-09-11' '2022-09-12' '2022-09-13' '2022-09-14' '2022-09-15'
 '2022-09-16' '2022-09-17' '2022-09-18' '2022-09-26' '2022-09-27'
 '2022-09-29' '2022-09-30' '2022-09-28' '2022-10-01' '2022-10-02'
 '2022-10-03' '2022-10-06' '2022-10-07' '2022-10-08' '2022-10-09'
 '2022-10-10' '2022-10-11' '2022-10-12' '2022-10-13' '2022-10-14'
 '2022-10-16' '2022-10-15' '2022-10-18' '2022-10-20' '2022-10-21'
 '2022-10-25' '2022-10-27' '2022-10-28' '2022-10-29' '2022-10-30'
 '2023-02-15' '2023-01-22' '2023-02-18' '2023-02-19' '2023-02-20'
 '2023-02-21' '2023-02-22' '2023-02-25' '2022-12-15' '2022-12-16'
 '2022-12-17' '2022-12-18' '2022-12-20' '2022-12-22' '2023-02-27'
 '2023-03-07' '2023-03-09' '2022-11-05' '2022-11-19' '2022-11-30'
 '2022-12-02' '2022-12-04' '2022-12-05' '2022-12-08' '2022-12-12'
 '2022-12-14' '2022-12-13' '2022-12-25' '2022-12-27' '2022-12-26'
 '2022-12-28' '2022-12-29' '2022-12-30' '2022-11-24' '2023-01-04'
 '2022-07-13' '2022-07-10' '2022-07-18' '2022-07-12' '2022-07-11'
 '2022-07-08' '2022-07-14' '2022-07-15' '2022-07-16' '2022-07-17'
 '2022-07-19' '2022-07-20' '2022-07-22' '2022-07-21' '2022-07-24'
 '2022-07-23' '2022-07-25' '2022-05-29' '2022-05-30' '2022-05-31'
 '2022-06-01' '2022-06-02' '2022-06-03' '2022-06-04' '2022-06-05'
 '2022-07-26' '2022-07-27' '2023-02-23' '2023-02-10' '2023-01-10'
 '2022-06-11' '2022-08-04' '2022-06-10' '2021-09-17' '2023-05-05'
 '2023-05-06' '2023-05-07' '2023-05-08' '2023-05-10' '2023-05-09'
 '2023-05-11' '2023-05-12' '2023-05-13' '2023-05-14' '2023-05-15'
 '2023-05-16' '2023-05-17' '2023-05-18' '2023-05-19' '2023-05-20'
 '2023-05-21' '2023-05-22' '2023-05-23' '2023-05-24' '2023-05-25'
 '2023-06-01' '2023-05-26' '2023-05-27' '2023-05-28' '2023-05-29'
 '2023-05-30' '2023-05-31' '2023-06-02' '2023-06-03' '2023-06-04'
 '2023-06-05' '2023-06-06' '2023-06-07' '2023-06-08' '2023-06-09'
 '2023-06-10' '2023-06-11' '2023-06-12' '2023-06-13' '2023-06-14'
 '2023-01-03' '2023-01-06' '2023-01-08' '2023-01-11' '2023-01-12'
 '2023-01-16' '2023-01-17' '2023-01-20' '2023-01-21' '2023-02-01'
 '2023-01-25' '2023-01-27' '2023-01-28' '2022-05-13' '2023-03-10'
 '2022-07-09' '2022-07-28' '2022-07-29' '2022-07-30' '2022-08-01'
 '2022-07-31' '2022-08-02' '2022-08-03' '2022-08-05' '2022-08-06'
 '2022-08-07' '2022-08-08' '2022-08-09' '2022-08-10' '2022-08-11'
 '2022-08-13' '2022-08-12' '2022-08-14' '2022-08-15' '2022-07-05'
 '2022-10-31' '2022-11-01' '2022-11-02' '2022-11-03' '2022-11-04'
 '2022-11-06' '2022-11-07' '2022-11-08' '2022-11-09' '2022-11-10'
 '2022-11-14' '2022-11-15' '2022-11-16' '2022-11-17' '2022-11-20'
 '2022-11-21' '2022-11-22' '2022-11-23' '2022-11-25' '2023-01-09'
 '2023-01-13' '2023-01-14' '2023-01-15' '2023-01-18' '2023-01-19'
 '2022-03-30' '2022-06-18' '2022-06-13' '2022-06-14' '2023-01-24'
 '2022-03-22' '2022-07-07' '2023-02-26' '2021-01-27' '2022-05-19'
 '2022-05-20' '2022-05-21' '2022-05-22' '2022-05-23' '2022-05-24'
 '2022-05-25' '2023-05-04' '2023-01-29' '2023-02-12' '2023-02-24'
 '2023-06-25' '2023-06-24' '2023-06-23' '2023-06-22' '2023-06-26'
 '2022-04-29' '2022-05-28' '2022-05-27' '2022-05-26' '2021-05-24'
 '2023-01-23' '2023-01-26' '2023-01-30' '2023-01-31' '2023-02-06'
 '2023-02-07' '2022-04-11' '2018-06-08' '2023-02-28' '2023-05-01'
 '2023-05-02' '2023-02-17' '2022-05-02' '2023-03-03' '2023-03-04'
 '2023-03-05' '2023-03-06' '2023-03-08' '2023-03-11' '2023-03-12'
 '2022-05-15' '2022-01-25' '2022-05-14' '2022-03-06' '2022-04-21'
 '2022-05-12' '2022-05-17' '2022-04-07' '2022-04-23' '2023-02-02'
 '2023-02-03' '2023-02-14' '2023-02-16' '2022-06-23' '2022-06-06'
 '2022-06-27' '2022-06-28' '2022-06-29' '2022-06-30' '2022-07-01'
 '2022-07-02' '2022-07-03' '2022-07-04' '2021-11-08' '2022-04-28'
 '2022-06-08' '2022-06-09' '2022-06-15' '2022-06-16' '2022-06-12'
 '2022-06-17' '2022-06-19' '2022-06-20' '2022-06-21' '2022-06-22'
 '2022-06-24' '2022-06-25' '2022-06-26' '2022-07-06' '2022-05-16'
 '2022-05-03' '2022-05-11' '2022-05-10' '2022-05-09' '2022-05-08'
 '2022-05-07' '2022-05-06' '2022-05-05' '2022-05-04' '2022-01-04'
 '2021-12-14' '2021-12-08' '2021-12-09' '2021-12-07' '2022-04-19'
 '2023-02-09' '2023-02-11' '2022-06-07' '2023-04-24' '2023-04-25'
 '2023-04-26' '2023-04-27' '2023-04-28' '2023-04-29' '2023-04-30'
 '2023-05-03' '2021-02-14' '2021-02-15' '2021-02-16' '2021-03-07'
 '2021-03-08' '2022-03-18' '2022-04-25' '2022-01-01' '2021-12-23'
 '2021-11-21' '2023-06-17' '2023-06-18' '2023-06-19' '2023-06-20'
 '2023-06-21' '2023-06-30' '2022-02-18' '2022-03-25' '2023-07-03'
 '2023-07-04' '2023-07-05' '2023-07-06' '2023-07-07' '2020-06-24'
 '2020-06-23' '2023-06-15' '2023-06-16' '2021-07-24' '2021-10-04'
 '2023-06-27' '2023-06-28' '2023-06-29' '2022-04-20' '2021-12-20'
 '2022-02-10' '2022-02-12' '2022-02-13' '2021-05-28']

In [84]:
# Descriptive Statistics
print("\nDescriptive Statistics:")
print(fasting.describe())

Descriptive Statistics:
           cycle_id      fasting
count   6189.000000  6172.000000
mean   17675.134755     0.242547
std     2820.779258     0.428658
min     7616.000000     0.000000
25%    16091.000000     0.000000
50%    17832.000000     0.000000
75%    19318.000000     0.000000
max    23531.000000     1.000000

In [85]:
# Check for Duplicate Rows
print("\nDuplicate Rows:")
print(fasting.duplicated().sum())

Duplicate Rows:
67

In [86]:
# Range Validation for Integer and Float Columns
numeric_columns = fasting.select_dtypes(include=['int64', 'float64']).columns
for column in numeric_columns:
    min_value = fasting[column].min()
    max_value = fasting[column].max()
    print(f"\nRange for {column}: {min_value} to {max_value}")

Range for cycle_id: 7616 to 23531

Range for fasting: 0.0 to 1.0

In [87]:
# Foreign Key Validation
# Check if all 'cycle_id' values exist in the 'cycles' table
invalid_cycle_ids = fasting[~fasting['cycle_id'].isin(cycles['id'])]
print("\nInvalid 'cycle_id' values:")
print(invalid_cycle_ids)

Invalid 'cycle_id' values:
     logged_date  cycle_id  fasting
101   2022-08-16     15068      0.0
102   2022-08-17     15068      0.0
103   2022-08-18     15068      0.0
104   2022-08-19     15068      0.0
105   2022-08-20     15068      0.0
...          ...       ...      ...
4617  2022-10-18     19048      0.0
4618  2022-10-19     19048      0.0
4619  2022-10-22     19048      0.0
4620  2022-10-24     19048      0.0
4621  2022-10-26     19048      0.0

[199 rows x 3 columns]

In [88]:
# Columns with missing values
columns_with_missing = fasting.columns[fasting.isnull().any()]

# Iterate over columns with missing values
for column in columns_with_missing:
    print(f"Missing values in column '{column}':")
    print(fasting.loc[fasting[column].isnull()])
    print("\n")

Missing values in column 'fasting':
     logged_date  cycle_id  fasting
830   2022-09-04     15970      NaN
831   2022-09-13     15970      NaN
1560  2022-09-04     17880      NaN
1561  2022-09-13     17880      NaN
1962  2023-05-02     18238      NaN
3689  2022-12-10     15869      NaN
4692  2022-09-04     20978      NaN
4693  2022-09-13     20978      NaN
4746  2023-01-19     22445      NaN
4750  2023-02-06     22445      NaN
4817  2022-09-07     15505      NaN
4818  2022-09-04     15505      NaN
4819  2022-09-13     15505      NaN
5039  2022-09-22      9090      NaN
5435  2022-09-07     19688      NaN
5436  2022-09-04     19688      NaN
5437  2022-09-13     19688      NaN

Here are the key points from the data validation of the "fasting" table:

1. **Basic Information**:
   - The dataset contains 6189 entries with 3 columns: `logged_date`, `cycle_id`, and `fasting`.
   - The data types are: `logged_date` (object), `cycle_id` (int64), and `fasting` (float64).

2. **Missing Values**:
   - The `logged_date` and `cycle_id` columns have no missing values.
   - The `fasting` column has 17 missing values.

3. **Duplicate Rows**:
   - There are 67 duplicate rows in the dataset.

4. **Range for Integer and Float Columns**:
   - The `cycle_id` values range from 7616 to 23531.
   - The `fasting` values range from 0.0 to 1.0.

These points provide a clear summary of the data validation results for the "fasting" table, highlighting the presence of missing values, duplicate rows, and the ranges of key numerical columns.

# Fastings

In [89]:
# sanity check
fastings

      logged_date  cycle_id  fasting
0      2022-03-26   15013.0      1.0
1      2022-03-27   15013.0      0.0
2      2022-03-28   15013.0      0.0
3      2022-04-10   15013.0      1.0
4      2021-10-23   11848.0      1.0
...           ...       ...      ...
32374  2024-01-02   28500.0      1.0
32375  2024-01-02   28500.0      0.0
32376  2023-08-07   24650.0      1.0
32377  2023-09-06   24650.0      1.0
32378  2023-08-06   24650.0      1.0

[32379 rows x 3 columns]

In [91]:
# Check basic information about the dataframe
print("Basic Information:")
fastings.info()  # Display basic info about the dataframe including data types and non-null counts

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32379 entries, 0 to 32378
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   logged_date  32379 non-null  object
 1   cycle_id     32379 non-null  float64
 2   fasting      32339 non-null  float64
dtypes: float64(2), object(1)
memory usage: 759.0+ KB

In [92]:
# Check for missing values
print("\nMissing Values:")
print(fastings.isnull().sum())  # Sum of missing values in each column

Missing Values:
logged_date     0
cycle_id        0
fasting        40
dtype: int64

In [93]:
# Check unique values for object columns
object_columns = fastings.select_dtypes(include='object').columns  # Identify columns with object data type
for column in object_columns:
    print(f"\nUnique values for {column}:")
    print(fastings[column].unique())  # Display unique values for each object column

Unique values for logged_date:
['2022-03-26' '2022-03-27' '2022-03-28' ... '2022-02-03' '2021-11-23'
 '2021-11-20']

In [94]:
# Descriptive Statistics
print("\nDescriptive Statistics:")
print(fastings.describe())  # Display descriptive statistics for numerical columns

Descriptive Statistics:
           cycle_id       fasting
count  32379.000000  32339.000000
mean   20198.647364      0.269025
std     4592.291087      0.443460
min     4036.000000      0.000000
25%    17307.000000      0.000000
50%    18919.000000      0.000000
75%    24321.000000      1.000000
max    29659.000000      1.000000

In [95]:
# Check for Duplicate Rows
print("\nDuplicate Rows:")
print(fastings.duplicated().sum())  # Count duplicate rows in the dataframe

Duplicate Rows:
185

In [96]:

# Range Validation for Integer and Float Columns
numeric_columns = fastings.select_dtypes(include=['int64', 'float64']).columns  # Identify numeric columns
for column in numeric_columns:
    min_value = fastings[column].min()  # Find minimum value in the column
    max_value = fastings[column].max()  # Find maximum value in the column
    print(f"\nRange for {column}: {min_value} to {max_value}")  # Print the range of values

Range for cycle_id: 4036.0 to 29659.0

Range for fasting: 0.0 to 1.0

In [97]:
# Foreign Key Validation
# Check if all 'cycle_id' values exist in the 'cycles' table
invalid_cycle_ids = fastings[~fastings['cycle_id'].isin(cycles['id'])]  # Find invalid foreign key references
print("\nInvalid 'cycle_id' values:")
print(invalid_cycle_ids)  # Print rows with invalid foreign key references

Invalid 'cycle_id' values:
Empty DataFrame
Columns: [logged_date, cycle_id, fasting]
Index: []

In [98]:
# Columns with missing values
columns_with_missing = fastings.columns[fastings.isnull().any()]  # Identify columns with missing values

# Iterate over columns with missing values
for column in columns_with_missing:
    print(f"Missing values in column '{column}':")
    print(fastings.loc[fastings[column].isnull()])  # Print rows with missing values for each column
    print("\n")

Missing values in column 'fasting':
      logged_date  cycle_id  fasting
1990   2023-09-16   23123.0      NaN
3128   2023-08-13   24814.0      NaN
3319   2022-12-10   19253.0      NaN
4524   2023-08-11   24692.0      NaN
4525   2023-08-11   24692.0      NaN
5583   2022-10-05   18036.0      NaN
5584   2022-10-04   18036.0      NaN
5790   2023-09-26   25577.0      NaN
5799   2023-10-05   25577.0      NaN
7569   2023-07-19   24300.0      NaN
7574   2023-08-14   24300.0      NaN
9340   2022-09-04   17628.0      NaN
9341   2022-09-13   17628.0      NaN
9914   2022-08-20   17186.0      NaN
11403  2023-05-02   20614.0      NaN
11519  2023-04-19   21597.0      NaN
12310  2022-11-30   19061.0      NaN
15564  2022-09-04   17632.0      NaN
15565  2022-09-13   17632.0      NaN
15727  2022-09-09   17625.0      NaN
15992  2023-01-19   19247.0      NaN
15996  2023-02-06   19247.0      NaN
16629  2022-07-24   16065.0      NaN
16654  2022-08-21   16065.0      NaN
16777  2022-09-07   17631.0      NaN
16778  2022-09-04   17631.0      NaN
16779  2022-09-13   17631.0      NaN
17711  2023-10-06   25580.0      NaN
17714  2022-09-22   17634.0      NaN
18962  2023-08-30   24574.0      NaN
19668  2022-09-07   17563.0      NaN
19669  2022-09-04   17563.0      NaN
19670  2022-09-13   17563.0      NaN
20480  2023-11-01   24690.0      NaN
20481  2023-11-01   24690.0      NaN
25063  2022-09-15   17624.0      NaN
29794  2022-09-04   17633.0      NaN
29795  2022-09-13   17633.0      NaN
32357  2023-10-18   25578.0      NaN
32359  2023-10-20   25578.0      NaN

Here are the key points from the data validation of the "fastings" table:

1. **Basic Information**:
   - The dataset contains 32,379 entries with 3 columns: `logged_date`, `cycle_id`, and `fasting`.
   - The data types are: `logged_date` (object), `cycle_id` (float64), and `fasting` (float64).

2. **Missing Values**:
   - The `logged_date` and `cycle_id` columns have no missing values.
   - The `fasting` column has 40 missing values.

3. **Duplicate Rows**:
   - There are 185 duplicate rows in the dataset.

4. **Range for Integer and Float Columns**:
   - The `cycle_id` values range from 4036.0 to 29659.0.
   - The `fasting` values range from 0.0 to 1.0.

These points provide a summary of the data validation results for the "fastings" table, highlighting the presence of missing values, duplicate rows, and the ranges of key numerical columns.

## Feed Tray

In [7]:
# sanity check
feed_tray

,id,logged_at,feed_logged_at,cycle_id,tray_number,feed_remaining_percent,remark,created_at,updated_at,local_feed_logged_at
0,498,2021-11-19 17:09:00,2021-11-20 04:09:00,12163,1,0,NaN,2021-11-20 04:12:03,2021-11-20 04:12:03,2021-11-20 00:09:00
1,499,2021-11-19 17:09:00,2021-11-20 04:09:00,12163,2,0,NaN,2021-11-20 04:12:03,2021-11-20 04:12:03,2021-11-20 00:09:00
2,500,2021-11-20 09:14:00,2021-11-20 08:14:00,12163,1,0,NaN,2021-11-20 08:15:17,2021-11-20 08:15:17,2021-11-20 16:14:00
3,501,2021-11-20 09:14:00,2021-11-20 08:14:00,12163,2,0,NaN,2021-11-20 08:15:17,2021-11-20 08:15:17,2021-11-20 16:14:00
4,1643,2021-12-13 02:00:00,2021-12-13 00:00:00,13112,2,0,"Anco 1 habis 30 menit, anco 2 55 menit",2021-12-14 01:18:59,2021-12-16 00:12:44,2021-12-13 09:00:00
...,...,...,...,...,...,...,...,...,...,...
186659,285946,2024-03-28 18:00:00,2024-03-29 00:00:00,27415,2,33,NaN,2024-04-03 10:34:19,2024-04-03 10:34:19,2024-03-29 01:00:00
186660,285947,2024-03-28 18:00:00,2024-03-29 03:30:00,27415,1,33,NaN,2024-04-03 10:34:19,2024-04-03 10:34:19,2024-03-29 01:00:00
186661,285948,2024-03-28 18:00:00,2024-03-29 03:30:00,27415,2,33,NaN,2024-04-03 10:34:19,2024-04-03 10:34:19,2024-03-29 01:00:00
186662,285949,2024-03-28 18:00:00,2024-03-29 05:30:00,27415,1,33,NaN,2024-04-03 10:34:19,2024-04-03 10:34:19,2024-03-29 01:00:00
186663,285950,2024-03-28 18:00:00,2024-03-29 05:30:00,27415,2,33,NaN,2024-04-03 10:34:19,2024-04-03 10:34:19,2024-03-29 01:00:00

In [99]:
# Check basic information about the dataframe
print("Basic Information:")
print(feed_tray.info())  # Display basic info about the dataframe including data types and non-null counts

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186664 entries, 0 to 186663
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      186664 non-null  int64
 1   logged_at               186664 non-null  object
 2   feed_logged_at          186664 non-null  object
 3   cycle_id                186664 non-null  int64
 4   tray_number             186664 non-null  int64
 5   feed_remaining_percent  186664 non-null  int64
 6   remark                  46381 non-null   object
 7   created_at              186664 non-null  object
 8   updated_at              186664 non-null  object
 9   local_feed_logged_at    186664 non-null  object
dtypes: int64(4), object(6)
memory usage: 14.2+ MB
None

In [100]:
# Check for missing values
print("\nMissing Values:")
print(feed_tray.isnull().sum())  # Sum of missing values in each column

Missing Values:
id                             0
logged_at                      0
feed_logged_at                 0
cycle_id                       0
tray_number                    0
feed_remaining_percent         0
remark                    140283
created_at                     0
updated_at                     0
local_feed_logged_at           0
dtype: int64

In [101]:
# Check unique values for object columns
object_columns = feed_tray.select_dtypes(include='object').columns  # Identify columns with object data type
for column in object_columns:
    print(f"\nUnique values for {column}:")
    print(feed_tray[column].unique())  # Display unique values for each object column

Unique values for logged_at:
['2021-11-19 17:09:00' '2021-11-20 09:14:00' '2021-12-13 02:00:00' ...
 '2024-03-27 18:00:00' '2024-03-28 18:00:00' '2024-03-23 18:00:00']

Unique values for feed_logged_at:
['2021-11-20 04:09:00' '2021-11-20 08:14:00' '2021-12-13 00:00:00' ...
 '2024-03-29 05:30:00' '2024-03-24 03:30:00' '2024-03-24 05:30:00']

Unique values for remark:
[nan 'Anco 1 habis 30 menit, anco 2 55 menit'
 'Anco 1 dan 2, 1jam 16 menit habis'
 'Anco 1 habis 1 jam\nAnco 2 habis 1 jam 15 menit' 'Udang sehat,,'
 'Anco 1 45 menit\nAnco 2 1 jam 10 menit' '1,5jam habis' '1 jam habis'
 'Anco 1, 1 jam\nAnco 2, 1 jam 45 menit'
 'Anco 1 : 1 jam 18 menit\nAnco 2 : 1 jam 40 menit'
 'Perkembangan udang normal sehat,, tingkat agresif tinggi'
 'Mepet 2 jam habisnya' '1 jam' '1 jam 50 menit'
 'Anco 1 habis 1 jam 50 menit' 'Keadaan udang moulting'
 'Dalam waktu 1jam kurang pakan di anco habiss,,, anco menggunakan 2%'
 '2 pakan habis dan 1 sisa sedikit pakan di anco'
 'pakan habis semua di 3 anco' '1 habis 1 sisa sedikit dan 1 sisa banyak'
 'pakan sisa sedikit semua di 3 anco'
 '1 anco pakan masih banyak dikarenakan lupa tidak masuk ke kolam'
 'pakan habis 2 dan 1 sisa sedikit di anco' 'pakan menggunakan outofeeder'
 'pakan masih sisa sedkit dan 2 sisa banyak di anco'
 'pakan 1 habis dan 2 sisa sedkit di anco'
 'pakan 2 habis dan 1 sisa banyak di anco'
 'pakan 2 habis dan 1 sisa sedikit dianco'
 'pakan masih sisa banyak di 3 anco'
 'pakan habis dan 2 sisa sedikit di anco'
 'pakan semua sisa sedikit di 3 anco'
 'pakan 1 habis dan 2 sisa sedikit di anco'
 'pakan 2 sisa sedikit dan 1 sisa banyak'
 'pakan 1 habis dan 2 sisa banyak di anco'
 'pakan 1 habis, 1 sisa sedikiti dan 1 sisa banyak di anco'
 'pakan 1 habis dan 2 sisa banyak'
 'Pakan menggunakan auto feeder habis semua di anco'
 'Pakan menggunakan auto feeder 1 habis dan 1 sisa banyak'
 'Pakan habis 2 . sisa sedikit 1 di anco'
 'Pakan sudah menggunakan autofeder habis 1 dan 1 sisa sedikit di anco'
 'Pakan menggunakan autofeder habis semua di anco'
 'Pakan menggunakan autofeder habis semua'
 'Pakan menggunakan autofeder habis 2 sisa sedikit 1'
 'Pakan 2 habis dan 1 sisa sedikit di anco'
 'Pakan menggunakan autofeder 1habis dan 2 sisa sedikit di anco'
 'Pakan 1 habis, 1 sisa sedikit dan 1 sisa banyak di anco'
 'Pakan menggunakan autofeder habis 2 dan sisa sedikit 2 di anco'
 'Pakan habis 1, sisa sedikit 1, dan sisa banyak 1 di anco'
 'Pakan menggunakan autofeder masih sisa sedikit 2dan masih sisa banyak 2 di anco'
 'Pakan menggunakan autofeder masih sisa sedikit 3dan 1 sisa banyak di anco'
 'Pakan menggunakan autofeder habis dan sisa sedikit di anco'
 'Pakan menggunakan autofeder habis 2, sisa sedikit 1dan sisa banyak 1di anco'
 'Pakan habis 1, sisa sedikit 1dan sisa banyak 1 di anco'
 'Pakan habis 1, sisa sedikit 1 dan 1 sisa banyak di anco'
 'Pakan habis 2 dan sisa banyak 1 di anco'
 'Pakan menggunakan autofeder habis 1 dan 2 sisa sedikit di anco'
 'Pakan habis 2 dan 1 sisa sedikit di anco'
 'Pakan menggunakan autofeder habis 1 dan sisa sedikit di anco'
 'Pakan habis 2 dan sisa sedikit 1 di anco'
 'Pakan menggunakan autofeder habis 1dan 2 sisa sedikit di anco'
 'Pakan menggunakan autofeder habis 1dan sisa sedikit 1di anco'
 'Pakan menggunakan autofeder masih sisa sedikit dan sisa banyak di anco'
 'Pakan menggunakan autofeder habis 2, sisa sedikit dan sisa banyak di anco'
 'Pakan habis dan 2 sisa sedikit di anco'
 'Pakan menggunakan autofeder habis 1, 2 sisa sedikit dan 1 sisa banyak'
 'Pakan habis 2 dan sisa sedikit di anco'
 'Pakan menggunakan autofeder sisa sedikit dan sisa banyak di anco'
 'Pakan menggunakan autofeder habis 1, 2 sisa sedikit dan sisa banyak di anco'
 'Pakan menggunakan autofeder 1 habis, 2 sisa sedikit dan 1 sisa banyak'
 'Pakan menggunakan autofeder habis dan sisa banyak di anco'
 'Pakan menggunakan autofeder habis 1, sisa sedikit 2 dan sisa banyak di anco'
 'Pakan habis 1 dan 2 sisa sedikit di anco'
 'Pakan menggunakan autofeder 2 habis, 1 sisa sedikit dan 1 sisa banyak di anco'
 'Pakan masih sisa sedikit dan sisa banyak di anco'
 'Pakan habis dan sisa sedikit di anco'
 'Pakan habis 2 dan sisa sedikit 2 di anco'
 'Pakan habis, sisa sedikit dan sisa banyak di anco'
 'Pakan habis semua di anco'
 'Pakan menggunakan autofeder masih sisa sedikit 2 dan sisa banyak 2 di anco'
 'Pakan menggunakan autofeder habis 3 dan sisa sedikit di anco'
 'Pakan menggunakan autofeder habis 3 dan 1 sisa sedikit di anco'
 'Pakan menggunakan autofeder habis 1 dan 1 sisa sedikit di anco'
 'Pakan menggunakan autofeder habis 2 sisa sedikit 2 di anco'
 'Pakan menggunakan autofeder masih sisa sedikit semua di anco'
 'Pakan menggunakan autofeder habis 1, sisa sedikit 2, sisa banyak di anco'
 'Habis semua di anco'
 'Pakan menggunakan autofeder habis, sisa sedikit dan sisa banyak di anco'
 'Pakan habis 3 dan sisa sedikit di anco'
 'Pakan masih sisa sedikit semua di anco' 'Semua pakan di anco habis'
 'Pakan di anco habis semua' 'Pakan di 3 anco habis, 1 anco sisa sedikit'
 'Pakan di 2 anco habis, 1 anco sisa sedikit' 'Pakan di anco habis'
 'Pakan di 2 anco habis, 2 anco sisa sedikit'
 'Pakan di 2 anco habis 1 anco sisa sedikit' 'Pakan di 2 anco sisa banyak'
 'Pakan di 3 anco habis dan 1 anco sisa sedikit'
 'Pakan di 3 anco habis, 1 anco sisa banyak'
 'Pakan di anco habis, tali putus 1'
 'Pakan di 1 anco habis, 1 anco sisa sedikit'
 'Pakan di 2 anco habis, 1 anco sisa sedikit, 1 anco sisa banyak'
 'Pakan dianco habis' 'pakan habis semua dianco'
 'pakan habis dan sisa banyak dianco'
 'pakan menggunakan autofeder habis semua dianco'
 'pakan menggunakan autofeder habis semua di anco'
 'pakan menggunakan autoferd habis dan sisa sedikit dianco'
 'Pakan di 3 anco sisa sedikit'
 'Pakan di 1 anco habis, 2 anco sisa sedikit'
 'pakan menggunakan autoveder habis dan sisa banyak di anco'
 'pakan menggunakan autofeder habis,sisa sedikit dan sisa banyak di anco'
 'pakan habis semua di anco' 'Pakan di 2 anco sisa sedikit'
 'Pakan di 1 anco habis, 1 anco sisa sedikit, 1 anco sisa banyak'
 'Pakan di 1 anco habis, 1 anco sisa banyak'
 'Pakan di 1 anco habis, 2 anco sisa banyak'
 'Pakan di 1 anco habis, 2 anco sisa sedikit, 1 anco sisa banyak'
 'Pakan di 2 anco sisa sedikit, 2 anco sisa banyak'
 'Pakan di 1 anco habis, 1 anco sisa sedikit, 2 anco sisa banyak'
 'Pakan di 1 anco habis, 3 anco sisa sedikit'
 'pakan masih sisa sedikit dan sisa banyak di anco'
 'Pakan di anco habis, anco 1 jembatan rubuh'
 'Pakan di 1 anco habis, 3 anco sisa banyak'
 'Pakan di 3 anco sisa sedikit, 1 anco sisa banyak'
 'Pakan di 1 anco habis, 2 anco sisa banyak, 1 anco sisa sedikit'
 'Pakan di anco sisa banyak' 'Pakan di anxo anco habis'
 'Pakan di 1 anco sisa sedikit, 1 anco sisa banyak'
 'Pakan  di 2 anco habis, 2 anco sisa sedikit'
 'Pakan di 2 anco sisa sedikit, 1 anco sisa banyak'
 'Pakan di 2 anco habis, 2 anxo anco sisa sedikit'
 'pakan di 2 anco habis dan sisa sedikit dan sisa banyak di anco'
 'pakan 1 anco habis dan sisa nya masih sisa sedikit di anco'
 'pakan 2 anco habis dan 2 anco sisa sedikit'
 'Pakan di 2 anco sisa banyak, 2 anco sisa sedikit'
 'Pakan di 1 anco habis, 1 anco susa sedikit, 2 anco sisa banyak'
 'Pakan sisa sedikit dan sisa banyak di anco'
 'pakan masih sisa sedikit 2 dan sisa banyak 2 di anco'
 'pakan menggunakan autofeder habis dan sisa sedikit di anco'
 'pakan di 2 anco habis dan 1 sisa sedikit di anco'
 'pakan 1 habis, 2 sisa sedikit dan 1 sisa banyak di anco'
 'pakan masih sisa sedikit dan 3 sisa banyak di anco'
 'pakan 1 habis, 2 sisa sediikit dan 1 sisa banyak di anco'
 'pakan 1 habis, 2 sisa sedikt dan 1 sisa banyak di anco'
 'pakan menggunakan autofder habis dan sisa sedikit di anco'
 'pakan menggunakan autofeder habis 3 dan 1 sisa sedikit di anco'
 'Pakan di anco habis dan sisa banyak'
 'Pakan di 2 anco habis, 1 anco sisa banyak'
 'pakan habis 2 dan sisa sedikit 2 di anco'
 'Pakan gamma nomor 4 dicampur vitamin'
 'Pakan 2 anco habis, 1 anco sisa sedikit'
 'Pakan di 1 anco habis, 1  anco sisa sedikit, 2 anco sisa banyak'
 'pakan 1 habis, sisa sedikit 2 dan sisa banyak dianco'
 'Pakan di 1 qnco habis, 2 anco sisa sedikit, 1 anco sisa banyak'
 'pakan habis 3 dan 1 sisa banyak dianco'
 'Pakan di anco habis dan sisa sedikit'
 'Pakan 2 anco habis, 1 anco sisa sedikit, 1 anco sisa banyak'
 'Pakan di 1 anco habis, 1 anco sisa sedikit, 1 anco sisa banyak, 1 anco tidak tenggelam'
 'pakan menggunakan autofeder masih sisa sedikit semua di anco'
 'pakan 1 habis, 2 sisa sedikit dan 1 sisa banyak dianco'
 'pakan habis 3 dan 1 sisa sedikit dianco' 'Pakan di anco sisa sedikit'
 'pakan habis 2 dan 2 sisa sedikit. waktu cek 45 menit'
 'pakan 1 habis,1 sisa sedikit dan 1 sisa banyak'
 'pakan 2 habis dan 2 sisa sedikit cek anco 45 menit'
 'pakan 1 habis, 1 sisa sedikit dan 2 sisa banyak di anco'
 'Pakan 1 anco habis, 1 anco sisa sedikit, 1 anco sisa banyak (1 anco tidak tenggelam)'
 'Pakan 3 anco habis, 1 anco sisa sedikit'
 'Pakan 2 anco habis, 2 anco sisa sedikit'
 'Pakan 1 anco habis, 1 anco sisa sedikit, 2 anco sisa banyak'
 'pakan habis 3 dan 1 sisa sedikit di anco'
 'pakan habis 1, dan 2 sisa sedikit di anco'
 'pakan 2 habis dan 2 sisa sedikit di anco'
 'Pakan di 1 anco habis, 1 anco sisa sedikit, 1 anco sisa banyak (1 anco tidak tenggelam)'
 'Pakan di 2 anco habis, 1 anco sisa sedikit (1 anco tidak tenggelam)'
 'Pakan 2 anco sisa sedikit, 2 anco sisa banyak'
 'Pakan di anco sisa sedikit dan sisa banyak'
 'Pakan 1 anco habis, 2 anco sisa sedikit'
 'Pakan 2 anco sisa sedikit, 2 anco habis'
 'Pakan 2 anco habis, 1 anco sisa banyak'
 'Pakan di 2 anco sisa sedikit, 2 anco disa banyak' 'pakan di anco habis'
 'pakan habis 1, sisa sedikit 2 dan sisa banyak di anco'
 'Pakan habis di anco'
 'Pakan habis 1, sisa sedikit 1 dan sisa banyak di anco'
 'Pakan habis 2 dan 1 sisa banyak di anco'
 'Pakan habis 3 dan 1 sisa sedikit di anco'
 'pakan masih sisa sedikit di anco' 'pakan habis dan sisa sedikit di anco'
 'pakan habis dan sisa banyak di anco' 'Pakan masih sisa banyak di anco'
 'Pakan habis 1, sisa sedikit 2 dan 1 sisa banyak di anco'
 'Pakan habis dan 1 sisa sedikit di anco'
 'Pakan habis 1, sisa sedikit 2 dan sisa banyak 1 di anco'
 'Pakan habis 1 sisa sedikit 1 dan sisa banyak di anco'
 'Pakan habis 2 dan 2 sisa sedikit di anco'
 'Pakan habis dan sisa banyak di anco'
 'Pakan habis 2, 1 sisa sedikit dan 1 sisa banyak di anco'
 'Pakan habis 3 dan 1 sisa banyak di anco'
 'Pakan masih sisa sedikit di anco'
 'Pakan habis 1 dan 2 masih sisa banyak di anco'
 'Pakan habis 3 dan sisa banyak di anco'
 'Pakan masih sisa banyak semua di anco'
 'pakan habis, sisa sedikit dan sisa banyak di anco'
 'pakan habis, sisa sedikit dan sisabanyak di anco'
 'Pakan 1 anco habis, 2 anco sisa sedikit, 1 anco rusak'
 'Pakan 1 anco habis, 2 anco sisa banyak, 1 anco rusak'
 'Pakan 2 anco habis, 1 anco sisa sedikit dan sisa banyak'
 'Pakan 1 anco habis,2 anco sisa sedikit, 1 jembatan rusak'
 'Pakan di 1 anco habis, 1 anco sisa sedikit dan 1 anco sisa banyak'
 'Pakan 1 anco habis, 2 anco sisa sedikit, 1 anco sisa banyak'
 'Pakan 3 anco habis, 1 anco sisa banyak'
 'Pakan masih sisa sedikit 2 dan 1 sisa banyak di anco'
 'pakan habis 2, sisa sedikit dan sisa banyak di anco'
 'Pakan habis 2 dan 1 sisa sedikit'
 'Pakan 2 habis dan 2 sisa sedikit di anco'
 'Pakan 2 habis, sisa sedikit dan sisa banyak di anco'
 'Pakan habis, 2 sisa sedikit dan sisa banyak di anco'
 'Pakan di 3 anco habis, 1 sisa sedikit'
 'Pakan habis 2 dan sisa sedikit dan sisa banyak di anco'
 'Pakan habis dan 2 sisa banyak di anco'
 'Pakan habis 1, sisa sedikit 1 dan 2 sisa banyak di anco'
 'Pakan 1 anco habis, 1 anco sisa sedikit, 1 anco sisa banyak'
 'Pakan 2 anco habis, 1 anco sisa sedikir, 1 anco sisa banyak'
 'Pakan 1 anco habis, 2 anco sisa banyak'
 'Pakan 2 anco sisa sedikit, 1 anco sisa banyak'
 'Pakan di 2 anco sisa sedikit, 2 anco sisa bnyak'
 'Pakan 1 anco sisa sedikit, 1 anco sisa banyak'
 'pakan habis 2 dan 1 sisa banyak di anco'
 'pakan habis 1 dan 2 sisabanyak di anco'
 'pakan masih sisa sedikit 1 dan 3 sisa banyak di anco'
 'Pakan 1 anco sisa sedikit, 3 anco sisa banyak'
 'Pakan 1 anco habi, 2 anco sisa sedikit, 1 anco sisa banyak'
 'Pakan di anco sisa sedikit dan banyak'
 'Pakan 1 anco habis, 3 anco sisa banyak'
 'Pakan habis 2,1 sisa sedikit dan 1 sisa banyak di anco'
 'Pakan 2 anco habis, 1 anco sisa sedikit  1 anco sisa banyak'
 'Pakan 1 anco habis, sisa sedikit, dan sisa banyak'
 'Pakan 1 anco habis, 3 anco sisa sedikit'
 'Pakan 2 anco habis, 1 anco sisa sedikit,1 anco sisa banyak'
 'Pakan 2 anco habis, 1 anco sisa sedikit, 1 anco sis banyak'
 'Pakan habis 2, sisa sedikit dan sisa banyak di anco'
 'Pakan habis 1 dan 3 sisa banyak di anco'
 'Pakan habis dan 3 sisa banyak di anco'
 'Pakan habis, sisa sedikit dan 2 sisa banyak'
 'Pakan habis, sisa sedikit dan 2 sisa banyak di anco'
 'Habis 2 dan sisa sedikit di anco'
 'Pakan masih sisa sedikit 2 dan sisa banyak di anco'
 'Pakan masih sisa sedikit 2 dan 2 sisa banyak di anco'
 'Pakan habis 2 dan sisa banyak di anco'
 'Pakan sisa sedikit dan sisa banyak'
 'Pakan 2 anco habis, 1 anco sisa sedikit, jembatan rusak'
 'Pakan habis 2, sisa sedikit di anco'
 'Pakan masih sisa sedikit 2 dan sisa banyak 2 di anco'
 'pakan masih sisa sedikit dan 2 sisa banyak di anco'
 'pakan habis, sisa sedkit dan 2 sisa banyak di anco'
 'Pakan hbis 2, sisa sedikit dan sisa banyak di anco'
 'Pakan masih sisa sedikit dan 2 sisa banyak di anco'
 'Pakan 1 anco sisa sedikit, 2 anco sisa banyak'
 'Pakan di anco masing-masing 1 habis, sisa sedikit dan sisa banyak'
 'Pakan habis 2 dan 2 sisa banyak di anco'
 'pakan habis, sisa sedikit 2 di anco'
 'Pakan habis, 2 sisa sedikit dan 1 sisa banyak di anco'
 'Pakan 1 anco habis, sisa sedikit dan sisa banyak. 1 jembatan rusak'
 'Pakan 3 anco habis,1anco sisa sedikit' 'Pakan habis dan sisa sedikit'
 'Pakan 1 anco masing-masing habis, sisa sedikit, sisa banyak'
 'Pakan di 1 anco masing masing habis, sisa sedikit dan sisa banyak'
 'Pakan 2 anco habis, 1 anco sisa sedikit, 1 anco sisa sedikit'
 'Pakan 3 anco sisa sedikit, 1 anco sisa banyak'
 'pakan habis smua di anco'
 'pakan habis, sisa sedikit dan 2 sisa banyak di anco'
 'habis, 2 sisa sedikit dan sisa banyak di anco'
 'pakan 2 habis dan sisa sedikit di anco'
 'Paka  2 anco habis, 1 anco sisa sedikit, 1 anco sisa banyak'
 'Pakan di 1anco habis,  sisa sedikit dan sisa banyak'
 'habis semua di anco'
 'pakan habis 2 , sisa sedikit dan sisa banyak di anco'
 'Pakan 3 anco habis, 1 anco sisa sedikiit'
 'pakan habis 2 dan 2 sisa sedkit di anco'
 'pakan habis 3 dan sisa sedikit di anco'
 'pakan habis 1 dan 3 sisa sedikit di anco'
 'pakan habis 2 dan 2 sisa sedikit di anco'
 'Pakan 2 anco habis, 1 anco sisa sedikt, 1 anco sisa banyak'
 'Pakan2 anco habis, 1 anco sisa sedikit, 1 anco sisa banyak'
 'Pakan 3 anco ha is, 1 anco sisa sedikit'
 'Pakan habis, sisa sedikit 2 dan 1 sisa banyak di anco'
 'Pakan habis dan 1 sisa banyak di anco'
 'Pakan di anco habis, sisa sedikit dan sisa banyak (1 jembatan rusak)'
 'pakan habis, 2 sisa sediit dan sisa banyak di anco'
 'Pakan habis dan 3 sisa sedikit di anco'
 'Habis, 2 sisa sedikit dan sisa banyak di anco'
 'Pakan habis, sisa sedikit dan sisa Banyak di anco'
 'Pakan habis, dan sisa sedikit di anco'
 'Pakan 3 sisa sedikit dan sisa banyak di anco'
 'Sekitar 1-1 set jam anco habis'
 'Pakan  masih sisa sedikit dan sisa banyak di anco'
 'Habis 3 dan sisa sedikit di anco' 'pan habis dan sisa banyak dianco'
 'pakan habis sisa banyak dianco' 'habis semua dianco'
 'pakan habsi dan sisa banyak dianco' 'pakan habis dan sisa banyak'
 'pakan masih sisa banyak semua dianco' 'pakan masih sisa banyak di anco'
 '1.30 menit' '1,30 menit' '1jam' 'Pakan di ancho habis dan sisa'
 'Pakan di ancho habis semua' '4 jm blm habis'
 'Pakan di ancho habis dan sisa banyak' '1jm'
 'pakan masih sisa banyak dianco' 'pakan habis semua dioanco'
 'Pakan di ancho sisa semua' 'Än vÃ³ tá»t' 'Pakan habis'
 '2 Anco sisa sedikit dan 2 Anco sisa banyak' 'Pakan habis semua' 'puasa'
 'Jam 07.30' 'Än máº¡nh' 'Trá»n thá»©c Än sá» nhá» vá»i lá»n' 'Habis semua'
 'Sisa banyak 2, habis 2' 'Sisa banyak 2, sisa sedikit 2'
 'Habisnya 3, sisa sedikitnya 1' 'Än háº¿t nha' 'Háº¿t nha' '4 Anco habis'
 '1 anco sisa banyak' '1 anco sisa sedikit' '1 Anco sisa banyak'
 'Sisa Sedikit' 'Háº¿t lÃ  nha' 'Tá»t' '1 giá» háº¿t' 'TÃ´m Än máº¡nh'
 'TÃ´m Än bÃ¬nh thÆ°á»ng' 'B.th' 'Än b.th' 'Än bÃ¬nh thÆ°á»ng'
 '2% dari total pakan' 'Pemberian 2% dari total pakan' '2% Pakan'
 'Pengecekan anco dilakukan kurang lebih 2 jam setelah pemberian pakan\nJumlah pakan yang diletakkan di anco 0,6% dari total pemberian pakan'
 'Pengecekan anco dilakukan kurang lebih 2 jam setelah pemberian pakan\r\nJumlah pakan yang diletakkan di anco 0,6% dari total pemberian pakan'
 'Pengecekan anco dilakukan kurang lebih 1 jam setelah pemberian pakan\nJumlah pakan yang diletakkan di anco 1% dari total pemberian pakan'
 'Pengecekan anco dilakukan kurang lebih 1 jam setelah pemberian pakan\r\nJumlah pakan yang diletakkan di anco 1% dari total pemberian pakan'
 '2% pakan' '2% dari sisa pakan'
 'Pakan Lorica 1+ Gama 1 dan Magma Shrimp 104' '2%Pakan' 'Autofeeder'
 'Sodium Bikarbonat 8 kg' 'pakan habis  dan sisasedikit dianco'
 'Pakan Lorica 1 dan Gamma 1' 'pakan habis dan sisa banyak  dianco'
 'pakan habis dan sisa sedikit dianco' 'pakan habis dan satu sisa sedikit'
 'pakan sisa sedikit dan sisa banyak di anco'
 'pakan sisa banyakdan sisa sedikit di anco'
 'pakan sisa sedikit dan habis semua dianco' 'autofeeder'
 'Pakan habis semua dianco' 'Pakan habis dianco'
 'pakan semua habis dianco' 'Pakan habis semua dikolam'
 '"Pengecekan anco dilakukan kurang lebih 1 jam setelah pemberian pakan\nJumlah pakan yang diletakkan di anco 1% dari total pemberian pakan"'
 'pakan habis dan sisa sedikit  dianco' '2%pakan' 'Mulai masuk anco'
 'Pakan Gamma 1 + Omega Protein dan Sano Top/ Lactobacillus'
 'pakan habis dan sisa sedikit dianco dianco'
 'Pakan Gamma 2 + Omega Protein dan Sano top/Lactobacillus'
 'pakan habis semua dikolam' 'pakan habis dan sisa sedikit dikolam'
 '%Pakan' 'PAKAN HABIS SEMUA DI ANCO' '2 %Pakan' 'Pakan di ancco 0,03 kg'
 'Anco 1 habis\nAnco 2 utuh' 'Pakan di semua anco habis' 'Cho Än 4 ,cu'
 'Semua pakqn habis di anco' 'Udang sehat ususnya full' 'Semua anco habis'
 'Pakan dianco 0,3%' 'Sema anco kondisi nya sama, pakan habis dalam 2 jam'
 'Anco 1 habis\nAnco 2 sisa dikir' 'Kedua anco habis'
 'Anco 1 habis\nAnco 2 habis' 'Anco 1 sisa dikit\nAnco 2 habis'
 'Pakan di anco 0,3%' 'Pakan di anco 0,5%' 'Pakan di Anco 0,5%'
 'Pakan di Anco 0,3%' 'Kedua Anco habis'
 'Cek Anco 1 jam\nKedua anco sisa dikit' '3 jam cek' '0,2 3 jam cek' '0,2'
 'Anco 1 habis\nAnco 2 sisa banyak' 'Kedua anco sisa sedikit' '0,3'
 'Kedua anco sisa 30%\nUdang kehilangan nafsu makan' '0,4'
 'pakan di anco 0,8%' 'Pakan di anco 0,8%' '0,5 size-3' '0,5 Size-3'
 '0,8 Size-3' 'Pakan di anco 1%' '1% Size-3' '1% No-3' 'molting'
 'Berbekas dianco 2 ekor' '0,3 No-3' '120Gr No.3' '120Gr No-3'
 '100Gr No.3' '105Gr No.3' 'Pakan dianco 0,8%' '130Gr No.3'
 'Pakan di Anco 0.3%' 'pakan dianco 0,3%' '0,5 No.3' '0,3 No.2-3'
 '0,3 No.2/3' '0,3 No.2' '0,5' '10%' '0,5 2jam' '0,5 1jam'
 'pakan di anco hanya 400 gr' 'pakan di anco 0,3%' "0'5" 'Pakan dianco 1%'
 'No.3' '0,3% dari pemberian pakan' 'Persentase pakan di Anco 0.5%'
 'Presentase Pakan di Anco 1%' 'Presentase Pakan di Anco 2%'
 'Pakan di anco 400 gr' 'Presentase di Anco 0.8%' 'Pakan di anco 2%'
 'Pakan di anco 400' 'Feeder' 'Pakan di anco 150 gr' 'Mix2/3' '0.3%'
 'Presentase di Anco 1.5%, dan 2% untuk Kolam B8 & B13'
 'Presentase di Anco 1.5%, dan 2% untuk Kolam B8 &amp; B13'
 'Presentase di Anco 1%, dan 2% untuk Kolam B13 & B8'
 'Presentase di Anco 1%, dan 2% untuk Kolam B13 &B8'
 'Presentase di Amco 1,5% dan 2% untuk Kolam B13, B8'
 'Presentase di Anco 1.5%, dan 2% B8 & B13'
 'Presentase di Anco 1.5%, dan 2% B8 &amp; B13'
 'Presentase di Anco 1.5%, dan di kolam B8, B13 2%'
 'Presentase  di Anco 1.5%, dan 2% di kolam B8 & B13'
 'Presentase  di Anco 1.5%, dan 2% di kolam B8 &amp; B13'

In [102]:
# Descriptive Statistics
print("\nDescriptive Statistics:")
print(feed_tray.describe())  # Display descriptive statistics for numerical columns

Descriptive Statistics:
                  id       cycle_id    tray_number  feed_remaining_percent
count  186664.000000  186664.000000  186664.000000           186664.000000
mean   123263.899429   20091.738193       1.950221               10.079935
std     67748.121524    4137.425172       1.077650               19.511848
min       498.000000   12163.000000       1.000000                0.000000
25%     63660.750000   16162.000000       1.000000                0.000000
50%    122951.500000   19253.000000       2.000000                0.000000
75%    180322.250000   23739.000000       3.000000                0.000000
max    285950.000000   29874.000000       6.000000               66.000000

In [103]:
# Check for Duplicate Rows
print("\nDuplicate Rows:")
print(feed_tray.duplicated().sum())  # Count duplicate rows in the dataframe

Duplicate Rows:
0

In [104]:
# Range Validation for Integer and Float Columns
numeric_columns = feed_tray.select_dtypes(include=['int64', 'float64']).columns  # Identify numeric columns
for column in numeric_columns:
    min_value = feed_tray[column].min()  # Find minimum value in the column
    max_value = feed_tray[column].max()  # Find maximum value in the column
    print(f"\nRange for {column}: {min_value} to {max_value}")  # Print the range of values

Range for id: 498 to 285950

Range for cycle_id: 12163 to 29874

Range for tray_number: 1 to 6

Range for feed_remaining_percent: 0 to 66

In [105]:
# Foreign Key Validation
# Check if all 'cycle_id' values exist in the 'cycles' table
invalid_cycle_ids = feed_tray[~feed_tray['cycle_id'].isin(cycles['id'])]  # Find invalid foreign key references
print("\nInvalid 'cycle_id' values:")
print(invalid_cycle_ids)  # Print rows with invalid foreign key references

Invalid 'cycle_id' values:
Empty DataFrame
Columns: [id, logged_at, feed_logged_at, cycle_id, tray_number, feed_remaining_percent, remark, created_at, updated_at, local_feed_logged_at]
Index: []

In [106]:

# Columns with missing values
columns_with_missing = feed_tray.columns[feed_tray.isnull().any()]  # Identify columns with missing values

# Iterate over columns with missing values
for column in columns_with_missing:
    print(f"Missing values in column '{column}':")
    print(feed_tray.loc[feed_tray[column].isnull()])  # Print rows with missing values for each column
    print("\n")

Missing values in column 'remark':
            id            logged_at       feed_logged_at  cycle_id  \
0          498  2021-11-19 17:09:00  2021-11-20 04:09:00     12163
1          499  2021-11-19 17:09:00  2021-11-20 04:09:00     12163
2          500  2021-11-20 09:14:00  2021-11-20 08:14:00     12163
3          501  2021-11-20 09:14:00  2021-11-20 08:14:00     12163
6         1765  2021-12-13 06:00:00  2021-12-13 04:00:00     13112
...        ...                  ...                  ...       ...
186659  285946  2024-03-28 18:00:00  2024-03-29 00:00:00     27415
186660  285947  2024-03-28 18:00:00  2024-03-29 03:30:00     27415
186661  285948  2024-03-28 18:00:00  2024-03-29 03:30:00     27415
186662  285949  2024-03-28 18:00:00  2024-03-29 05:30:00     27415
186663  285950  2024-03-28 18:00:00  2024-03-29 05:30:00     27415

        tray_number  feed_remaining_percent remark           created_at  \
0                 1                       0    NaN  2021-11-20 04:12:03
1                 2                       0    NaN  2021-11-20 04:12:03
2                 1                       0    NaN  2021-11-20 08:15:17
3                 2                       0    NaN  2021-11-20 08:15:17
6                 1                       0    NaN  2021-12-16 00:11:32
...             ...                     ...    ...                  ...
186659            2                      33    NaN  2024-04-03 10:34:19
186660            1                      33    NaN  2024-04-03 10:34:19
186661            2                      33    NaN  2024-04-03 10:34:19
186662            1                      33    NaN  2024-04-03 10:34:19
186663            2                      33    NaN  2024-04-03 10:34:19

                 updated_at local_feed_logged_at
0       2021-11-20 04:12:03  2021-11-20 00:09:00
1       2021-11-20 04:12:03  2021-11-20 00:09:00
2       2021-11-20 08:15:17  2021-11-20 16:14:00
3       2021-11-20 08:15:17  2021-11-20 16:14:00
6       2021-12-16 00:11:32  2021-12-13 13:00:00
...                     ...                  ...
186659  2024-04-03 10:34:19  2024-03-29 01:00:00
186660  2024-04-03 10:34:19  2024-03-29 01:00:00
186661  2024-04-03 10:34:19  2024-03-29 01:00:00
186662  2024-04-03 10:34:19  2024-03-29 01:00:00
186663  2024-04-03 10:34:19  2024-03-29 01:00:00

[140283 rows x 10 columns]

Here are the key points from the data validation of the "feed_tray" table:

1. **Basic Information**:
   - The dataset contains 186,664 entries with 10 columns.
   - Columns and data types: `id` (int64), `logged_at` (object), `feed_logged_at` (object), `cycle_id` (int64), `tray_number` (int64), `feed_remaining_percent` (int64), `remark` (object), `created_at` (object), `updated_at` (object), `local_feed_logged_at` (object).

2. **Missing Values**:
   - The `remark` column has 140,283 missing values.
   - All other columns have no missing values.

3. **Descriptive Statistics**:
   - `id`: Ranges from 498 to 285950.
   - `cycle_id`: Ranges from 12163 to 29874.
   - `tray_number`: Ranges from 1 to 6.
   - `feed_remaining_percent`: Ranges from 0 to 66.
   - The mean value of `feed_remaining_percent` is approximately 10.08, with a standard deviation of 19.51.

4. **Duplicate Rows**:
   - There are no duplicate rows in the dataset.

These points provide a summary of the data validation results for the "feed_tray" table, highlighting the presence of missing values in the `remark` column, the absence of duplicate rows, and the ranges of key numerical columns.

## Feeds

In [8]:
# sanity check
feeds

        cycle_id                logged_at  quantity
0          15013  2022-03-29 00:00:00.000       0.5
1          15013  2022-03-29 05:30:00.000       0.5
2          15013  2022-03-29 11:30:00.000       0.5
3          15013  2022-03-29 14:30:00.000       0.5
4          15013  2022-03-30 00:00:00.000       0.5
...          ...                      ...       ...
706903     24650  2023-09-15 21:47:00.000      10.0
706904     24650  2023-09-19 00:00:00.000      13.2
706905     24650  2023-09-20 00:00:00.000      14.0
706906     24650  2023-09-21 13:54:00.000      10.0
706907     24650  2023-09-22 00:47:00.000      14.0

[706908 rows x 3 columns]

In [107]:
# Check basic information about the dataframe
print("Basic Information:")
print(feeds.info())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 706908 entries, 0 to 706907
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   cycle_id   706908 non-null  int64
 1   logged_at  706887 non-null  object
 2   quantity   706887 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 16.2+ MB
None

In [108]:
# Check for missing values
print("\nMissing Values:")
print(feeds.isnull().sum())

Missing Values:
cycle_id      0
logged_at    21
quantity     21
dtype: int64

In [109]:
# Check unique values for object columns
object_columns = feeds.select_dtypes(include='object').columns
for column in object_columns:
    print(f"\nUnique values for {column}:")
    print(feeds[column].unique())

Unique values for logged_at:
['2022-03-29 00:00:00.000' '2022-03-29 05:30:00.000'
 '2022-03-29 11:30:00.000' ... '2023-09-15 21:47:00.000'
 '2023-09-21 13:54:00.000' '2023-09-22 00:47:00.000']

In [110]:
# Descriptive Statistics
print("\nDescriptive Statistics:")
print(feeds.describe())

Descriptive Statistics:
            cycle_id       quantity
count  706908.000000  706887.000000
mean    21890.928919      17.064466
std      5434.180295      22.536168
min      3458.000000      -1.000000
25%     18395.000000       4.000000
50%     23633.000000      10.000000
75%     27089.000000      22.000000
max     29874.000000    2011.000000

In [111]:
# Check for Duplicate Rows
print("\nDuplicate Rows:")
print(feeds.duplicated().sum())

Duplicate Rows:
154995

In [112]:
# Range Validation for Integer and Float Columns
numeric_columns = feeds.select_dtypes(include=['int64', 'float64']).columns
for column in numeric_columns:
    min_value = feeds[column].min()
    max_value = feeds[column].max()
    print(f"\nRange for {column}: {min_value} to {max_value}")

Range for cycle_id: 3458 to 29874

Range for quantity: -1.0 to 2011.0

In [113]:
# Foreign Key Validation
# Check if all 'cycle_id' values exist in the 'cycles' table
invalid_cycle_ids = feeds[~feeds['cycle_id'].isin(cycles['id'])]
print("\nInvalid 'cycle_id' values:")
print(invalid_cycle_ids)

Invalid 'cycle_id' values:
Empty DataFrame
Columns: [cycle_id, logged_at, quantity]
Index: []

In [114]:
# Columns with missing values
columns_with_missing = feeds.columns[feeds.isnull().any()]

# Iterate over columns with missing values
for column in columns_with_missing:
    print(f"Missing values in column '{column}':")
    print(feeds.loc[feeds[column].isnull()])
    print("\n")

Missing values in column 'logged_at':
        cycle_id logged_at  quantity
54649      12850       NaN       NaN
95508      12072       NaN       NaN
147224     12854       NaN       NaN
148536     12855       NaN       NaN
150741     13452       NaN       NaN
150742     13452       NaN       NaN
238231     13112       NaN       NaN
249569     12341       NaN       NaN
249570     12341       NaN       NaN
258507     12065       NaN       NaN
291843     12857       NaN       NaN
343032     13451       NaN       NaN
395078     13308       NaN       NaN
395079     13308       NaN       NaN
446596     12067       NaN       NaN
501296     12853       NaN       NaN
505277     12851       NaN       NaN
520854     13114       NaN       NaN
610430     12852       NaN       NaN
703914     13166       NaN       NaN
703915     13166       NaN       NaN


Missing values in column 'quantity':
        cycle_id logged_at  quantity
54649      12850       NaN       NaN
95508      12072       NaN       NaN
147224     12854       NaN       NaN
148536     12855       NaN       NaN
150741     13452       NaN       NaN
150742     13452       NaN       NaN
238231     13112       NaN       NaN
249569     12341       NaN       NaN
249570     12341       NaN       NaN
258507     12065       NaN       NaN
291843     12857       NaN       NaN
343032     13451       NaN       NaN
395078     13308       NaN       NaN
395079     13308       NaN       NaN
446596     12067       NaN       NaN
501296     12853       NaN       NaN
505277     12851       NaN       NaN
520854     13114       NaN       NaN
610430     12852       NaN       NaN
703914     13166       NaN       NaN
703915     13166       NaN       NaN

Here are the key points from the data validation of the "feeds" table:

1. **Basic Information**:
   - The dataset contains 706,908 entries with 3 columns.
   - Columns and data types: `cycle_id` (int64), `logged_at` (object), `quantity` (float64).

2. **Missing Values**:
   - `logged_at` column has 21 missing values.
   - `quantity` column has 21 missing values.
   - `cycle_id` column has no missing values.

3. **Descriptive Statistics**:
   - `cycle_id`: Ranges from 3458 to 29874.
   - `quantity`: Ranges from -1.0 to 2011.0.
   - The mean value of `quantity` is approximately 17.06, with a standard deviation of 22.54.
   - Notably, there are negative values in the `quantity` column, which may need further investigation.

4. **Duplicate Rows**:
   - There are 154,995 duplicate rows in the dataset.

These points summarize the data validation results for the "feeds" table, highlighting the presence of missing values in the `logged_at` and `quantity` columns, the existence of negative values in the `quantity` column, and a significant number of duplicate rows.

## Harvests

In [9]:
# sanity check
harvests

,cycle_id,updated_at,size,created_at,weight,id,harvested_at,status,selling_price
0,15013.0,2022-07-18 08:42:59,399.86,2022-07-18 08:42:59,0.01,11960.0,2022-04-17,Failed,NaN
1,11848.0,2021-10-25 23:29:53,300.00,2021-10-24 08:38:53,46.00,7520.0,2021-10-22,Full,1610000.0
2,11848.0,2021-10-25 23:29:35,300.00,2021-10-25 23:29:35,10.00,7546.0,2021-10-21,Partial,350000.0
3,4666.0,2020-10-08 02:07:18,110.00,2020-10-08 02:07:18,270.50,3009.0,2020-08-31,Failed,NaN
4,4666.0,2020-10-08 02:07:37,190.00,2020-10-08 02:07:37,270.50,3010.0,2020-08-31,Failed,NaN
...,...,...,...,...,...,...,...,...,...
8082,28500.0,2024-03-17 06:34:46,90.00,2024-03-14 05:43:03,12.00,27731.0,2024-03-05,Full,720000.0
8083,28500.0,2024-03-17 06:31:41,150.00,2024-03-14 05:47:06,4.00,27732.0,2024-02-02,Partial,280000.0
8084,11741.0,2022-10-06 05:23:38,80.00,2021-11-22 05:44:13,183.00,8252.0,2021-11-20,Full,10431000.0
8085,11741.0,2022-10-06 05:23:39,80.00,2021-11-22 05:55:49,30.00,8254.0,2021-11-20,Partial,1200000.0
8086,24650.0,2023-09-25 10:40:25,200.00,2023-09-25 10:40:25,252.50,21615.0,2023-09-22,Full,10100000.0

In [115]:
# Check basic information about the dataframe
print("Basic Information:")
print(harvests.info())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8087 entries, 0 to 8086
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cycle_id       8087 non-null   float64
 1   updated_at     8087 non-null   object
 2   size           8087 non-null   float64
 3   created_at     8087 non-null   object
 4   weight         8087 non-null   float64
 5   id             8087 non-null   float64
 6   harvested_at   8087 non-null   object
 7   status         7824 non-null   object
 8   selling_price  6294 non-null   float64
dtypes: float64(5), object(4)
memory usage: 568.7+ KB
None

In [116]:
# Check for missing values
print("\nMissing Values:")
print(harvests.isnull().sum())

Missing Values:
cycle_id            0
updated_at          0
size                0
created_at          0
weight              0
id                  0
harvested_at        0
status            263
selling_price    1793
dtype: int64

In [117]:
# Check unique values for object columns
object_columns = harvests.select_dtypes(include='object').columns
for column in object_columns:
    print(f"\nUnique values for {column}:")
    print(harvests[column].unique())

Unique values for updated_at:
['2022-07-18 08:42:59' '2021-10-25 23:29:53' '2021-10-25 23:29:35' ...
 '2024-03-17 06:34:46' '2022-10-06 05:23:39' '2023-09-25 10:40:25']

Unique values for created_at:
['2022-07-18 08:42:59' '2021-10-24 08:38:53' '2021-10-25 23:29:35' ...
 '2021-11-22 05:44:13' '2021-11-22 05:55:49' '2023-09-25 10:40:25']

Unique values for harvested_at:
['2022-04-17' '2021-10-22' '2021-10-21' ... '2023-04-10' '2022-01-16'
 '2023-12-31']

Unique values for status:
['Failed' 'Full' 'Partial' nan 'FINISIHING' 'Transfer ke N1 dan N2'
 'Transfer ke 10' 'Transfer ke 9' 'Transfer ke 8' 'finishing (pengesatan)'
 'Parsial' 'Patial' 'Transfer' 'Transfer ke Tambak']

In [118]:
# Descriptive Statistics
print("\nDescriptive Statistics:")
print(harvests.describe())

Descriptive Statistics:
           cycle_id          size         weight            id  selling_price
count   8087.000000   8087.000000    8087.000000   8087.000000   6.294000e+03
mean   19871.768023    113.803389     774.636121  17307.678744   3.181221e+07
std     5785.357384    381.149658    4266.747605   6714.157986   1.646234e+08
min     3458.000000     10.000000       0.000000   2052.000000   0.000000e+00
25%    16342.500000     60.000000      47.970000  12549.500000   2.989368e+05
50%    19672.000000     86.000000     250.000000  16555.000000   6.247500e+06
75%    24742.500000    125.000000     667.695000  23111.500000   2.589123e+07
max    29874.000000  20000.000000  250000.000000  28468.000000   1.125000e+10

In [119]:
# Check for Duplicate Rows
print("\nDuplicate Rows:")
print(harvests.duplicated().sum())

Duplicate Rows:
0

In [120]:
# Range Validation for Integer and Float Columns
numeric_columns = harvests.select_dtypes(include=['int64', 'float64']).columns
for column in numeric_columns:
    min_value = harvests[column].min()
    max_value = harvests[column].max()
    print(f"\nRange for {column}: {min_value} to {max_value}")

Range for cycle_id: 3458.0 to 29874.0

Range for size: 10.0 to 20000.0

Range for weight: 0.0 to 250000.0

Range for id: 2052.0 to 28468.0

Range for selling_price: 0.0 to 11250000000.0

In [121]:
# Foreign Key Validation
# Check if all 'cycle_id' values exist in the 'cycles' table
invalid_cycle_ids = harvests[~harvests['cycle_id'].isin(cycles['id'])]
print("\nInvalid 'cycle_id' values:")
print(invalid_cycle_ids)

Invalid 'cycle_id' values:
Empty DataFrame
Columns: [cycle_id, updated_at, size, created_at, weight, id, harvested_at, status, selling_price]
Index: []

In [122]:
# Columns with missing values
columns_with_missing = harvests.columns[harvests.isnull().any()]

# Iterate over columns with missing values
for column in columns_with_missing:
    print(f"Missing values in column '{column}':")
    print(harvests.loc[harvests[column].isnull()])
    print("\n")

Missing values in column 'status':
      cycle_id           updated_at   size           created_at  weight  \
10     27095.0  2024-02-19 02:10:48  150.0  2024-02-19 02:10:48  119.00
11     27095.0  2024-02-19 02:10:48   41.5  2024-02-19 02:10:48  169.00
222    24191.0  2023-08-24 12:00:45  303.0  2023-08-24 12:00:45  147.00
224    24191.0  2023-11-20 19:23:11  175.0  2023-11-20 19:23:11  217.00
266    22173.0  2023-07-30 14:34:40  130.0  2023-07-30 14:32:32  210.00
...        ...                  ...    ...                  ...     ...
7961   19614.0  2023-07-12 04:25:46   54.0  2023-07-12 03:59:00  491.10
7962   19614.0  2023-07-14 10:47:55   52.0  2023-07-14 10:47:55  534.14
7963   19614.0  2023-07-14 10:47:55   51.0  2023-07-14 10:47:55  469.60
7964   19614.0  2023-07-15 08:28:01   49.0  2023-07-15 08:28:01  528.12
7965   19614.0  2023-07-15 08:28:01  100.0  2023-07-15 08:28:01   50.00

           id harvested_at status  selling_price
10    27046.0   2023-12-12    NaN      3570000.0
11    27047.0   2023-12-12    NaN      7429240.0
222   20670.0   2023-08-24    NaN      3969000.0
224   24184.0   2023-11-07    NaN      6510000.0
266   20114.0   2023-07-14    NaN     10080000.0
...       ...          ...    ...            ...
7961  19557.0   2023-07-10    NaN     29073120.0
7962  19631.0   2023-07-14    NaN     31834744.0
7963  19632.0   2023-07-14    NaN     28082080.0
7964  19654.0   2023-07-15    NaN     31792824.0
7965  19655.0   2023-07-15    NaN      2250000.0

[263 rows x 9 columns]


Missing values in column 'selling_price':
      cycle_id           updated_at    size           created_at   weight  \
0      15013.0  2022-07-18 08:42:59  399.86  2022-07-18 08:42:59     0.01
3       4666.0  2020-10-08 02:07:18  110.00  2020-10-08 02:07:18   270.50
4       4666.0  2020-10-08 02:07:37  190.00  2020-10-08 02:07:37   270.50
12     23633.0  2023-12-20 06:31:58   20.70  2023-12-09 10:44:34  4576.00
13     25920.0  2024-02-28 09:34:16   22.80  2024-02-28 09:34:16  1624.00
...        ...                  ...     ...                  ...      ...
8008   28834.0  2024-03-20 03:31:31   51.80  2024-03-20 03:31:31   869.00
8010   19214.0  2023-02-24 19:42:52   22.10  2023-02-24 19:42:52  6064.00
8021   28055.0  2024-03-11 05:30:52   70.00  2024-03-11 05:22:32   700.00
8023   27763.0  2024-02-13 03:17:20   56.30  2024-02-13 03:17:20  4047.50
8024   27763.0  2024-03-06 03:03:44   69.40  2024-02-13 03:18:02   994.50

           id harvested_at   status  selling_price
0     11960.0   2022-04-17   Failed            NaN
3      3009.0   2020-08-31   Failed            NaN
4      3010.0   2020-08-31   Failed            NaN
12    24888.0   2023-12-09     Full            NaN
13    27340.0   2024-02-26     Full            NaN
...       ...          ...      ...            ...
8008  27881.0   2024-03-13  Partial            NaN
8010  16516.0   2023-02-22     Full            NaN
8021  27579.0   2024-02-28     Full            NaN
8023  26784.0   2024-01-30     Full            NaN
8024  26785.0   2024-01-22  Partial            NaN

[1793 rows x 9 columns]

Here are the key points from the data validation of the "harvests" table:

1. **Basic Information**:
   - The dataset contains 8,087 entries with 9 columns.
   - Columns and data types: 
     - `cycle_id` (float64)
     - `updated_at` (object)
     - `size` (float64)
     - `created_at` (object)
     - `weight` (float64)
     - `id` (float64)
     - `harvested_at` (object)
     - `status` (object)
     - `selling_price` (float64)

2. **Missing Values**:
   - `status` column has 263 missing values.
   - `selling_price` column has 1,793 missing values.
   - No missing values in other columns.

3. **Unique Values for `status`**:
   - The `status` column contains various unique values, including some with inconsistencies or typos such as 'FINISIHING', 'Parsial', 'Patial', etc.
   - Values include 'Failed', 'Full', 'Partial', 'finishing (pengesatan)', 'Transfer', and various forms of 'Transfer ke [location]'.

4. **Descriptive Statistics**:
   - `cycle_id`: Ranges from 3458.0 to 29874.0.
   - `size`: Ranges from 10.0 to 20000.0.
   - `weight`: Ranges from 0.0 to 250000.0.
   - `id`: Ranges from 2052.0 to 28468.0.
   - `selling_price`: Ranges from 0.0 to 11250000000.0.
   - The `weight` column has a mean of approximately 774.64 with a standard deviation of 4266.75, indicating high variability.
   - The `selling_price` column has a mean of approximately 31,812,210 and a standard deviation of 164,623,400, indicating extremely high variability and some very high values.

5. **Duplicate Rows**:
   - No duplicate rows in the dataset.

These points summarize the data validation results for the "harvests" table, highlighting missing values in the `status` and `selling_price` columns, inconsistencies in the `status` values, and the presence of outliers or potentially erroneous values in `weight` and `selling_price` columns.

## Measurements

In [10]:
# sanity check
measurements

,pond_id,cycle_id,measured_date,morning_temperature,evening_temperature,morning_do,evening_do,morning_salinity,evening_salinity,morning_pH,...,nitrate,nitrite,alkalinity,hardness,calcium,magnesium,carbonate,bicarbonate,tom,total_plankton_
0,31250,15009,2022-04-16,29.000,NaN,NaN,NaN,28.000,NaN,8.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21226,10897,2021-07-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,45694,27893,2023-12-07,29.342,32.445,4.355,6.253,2.155,2.686,8.294,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,34732,17637,2022-08-11,24.900,25.900,5.100,3.800,21.000,NaN,7.400,...,NaN,0.200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,19874,2023-04-04,28.211,30.869,3.106,4.370,12.673,12.041,7.911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139045,31457,19061,2022-12-22,27.000,30.000,NaN,NaN,24.000,NaN,7.600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139046,31457,19061,2023-01-17,27.000,29.000,NaN,NaN,23.000,NaN,7.600,...,NaN,1.892,100.0,4500.0,400.0,996.0,0.0,100.0,107.0,822500.0
139047,11,6126,2021-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139048,44169,26483,2024-01-21,26.873,29.046,4.947,4.940,32.236,30.958,7.676,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139049,38747,23317,2023-07-28,NaN,NaN,NaN,NaN,NaN,NaN,7.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
# Check basic information about the dataframe
print("Basic Information:")
print(measurements.info())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139050 entries, 0 to 139049
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   pond_id              139050 non-null  int64
 1   cycle_id             139050 non-null  int64
 2   measured_date        139050 non-null  object
 3   morning_temperature  97195 non-null   float64
 4   evening_temperature  89211 non-null   float64
 5   morning_do           77726 non-null   float64
 6   evening_do           73952 non-null   float64
 7   morning_salinity     92662 non-null   float64
 8   evening_salinity     65093 non-null   float64
 9   morning_pH           118935 non-null  float64
 10  evening_pH           60949 non-null   float64
 11  transparency         77300 non-null   float64
 12  turbidity            166 non-null     float64
 13  ammonia              3748 non-null    float64
 14  nitrate              2162 non-null    float64
 15  nitrite              9757 non-null    float64
 16  alkalinity           13517 non-null   float64
 17  hardness             5525 non-null    float64
 18  calcium              6592 non-null    float64
 19  magnesium            6620 non-null    float64
 20  carbonate            5288 non-null    float64
 21  bicarbonate          6678 non-null    float64
 22  tom                  7276 non-null    float64
 23  total_plankton_      12621 non-null   float64
dtypes: float64(21), int64(2), object(1)
memory usage: 25.5+ MB
None

In [124]:
# Check for missing values
print("\nMissing Values:")
print(measurements.isnull().sum())

Missing Values:
pond_id                     0
cycle_id                    0
measured_date               0
morning_temperature     41855
evening_temperature     49839
morning_do              61324
evening_do              65098
morning_salinity        46388
evening_salinity        73957
morning_pH              20115
evening_pH              78101
transparency            61750
turbidity              138884
ammonia                135302
nitrate                136888
nitrite                129293
alkalinity             125533
hardness               133525
calcium                132458
magnesium              132430
carbonate              133762
bicarbonate            132372
tom                    131774
total_plankton_        126429
dtype: int64

In [125]:
# Check unique values for object columns
object_columns = measurements.select_dtypes(include='object').columns
for column in object_columns:
    print(f"\nUnique values for {column}:")
    print(measurements[column].unique())

Unique values for measured_date:
['2022-04-16' '2021-07-30' '2023-12-07' ... '2020-11-18' '2020-08-29'
 '2020-11-07']

In [126]:
# Descriptive Statistics
print("\nDescriptive Statistics:")
print(measurements.describe())

Descriptive Statistics:
             pond_id      cycle_id  morning_temperature  evening_temperature  \
count  139050.000000  139050.00000         97195.000000         89211.000000
mean    32589.530004   20268.85329            28.580945            29.908567
std     10228.906407    5401.43651           106.896789             5.817013
min         1.000000    3458.00000             0.000000             0.000000
25%     30606.000000   16776.00000            27.000000            28.900000
50%     34706.000000   20197.00000            28.000000            30.000000
75%     39152.000000   24739.00000            29.000000            31.000000
max     47282.000000   29874.00000         27341.000000          1078.933333

         morning_do    evening_do  morning_salinity  evening_salinity  \
count  77726.000000  73952.000000      92662.000000      65093.000000
mean       5.904100      6.005278         22.777202         22.090321
std      216.810423     30.444501         60.788610        152.692575
min      -52.885000    -62.837000        -25.000000          0.000000
25%        4.231000      4.831000         16.800000         15.688000
50%        4.970000      5.640000         23.000000         21.400000
75%        5.640000      6.500000         29.000000         26.950000
max    60043.000000   6706.000000      15734.000000      33958.000000

          morning_pH    evening_pH  ...      nitrate       nitrite  \
count  118935.000000  60949.000000  ...  2162.000000   9757.000000
mean        8.006981      8.212628  ...    14.714262     16.400004
std        22.025251      5.094369  ...    33.204082    655.855878
min         0.000000      0.000000  ...     0.000000      0.000000
25%         7.615000      7.900000  ...     1.000000      0.019000
50%         7.900000      8.200000  ...     5.000000      0.060000
75%         8.120000      8.412000  ...    20.000000      0.432000
max      7421.000000    862.000000  ...  1272.000000  48031.000000

         alkalinity      hardness       calcium     magnesium    carbonate  \
count  13517.000000  5.525000e+03   6592.000000   6620.000000  5288.000000
mean     124.674397  5.074470e+03    576.667025   1959.711167    12.632430
std      182.072375  2.693992e+04    410.013047   1769.190137    89.049388
min        0.000000  0.000000e+00      0.000000      0.000000     0.000000
25%      100.000000  3.800000e+03    320.000000    930.000000     0.000000
50%      125.300000  5.050000e+03    421.000000   1200.000000     0.000000
75%      154.000000  5.757000e+03    800.000000   2850.000000    12.000000
max    19589.000000  2.000000e+06  11250.000000  32000.000000  2400.000000

        bicarbonate           tom  total_plankton_
count   6678.000000   7276.000000     1.262100e+04
mean     136.527253    147.341025     5.464905e+05
std      245.061763   1655.003075     2.228631e+06
min        0.000000    -15.170000     0.000000e+00
25%      104.000000     64.927500     3.000000e+00
50%      125.000000     87.585000     2.000000e+05
75%      152.000000    106.000000     6.900000e+05
max    19589.000000  73312.000000     2.125053e+08

[8 rows x 23 columns]

In [127]:

# Check for Duplicate Rows
print("\nDuplicate Rows:")
print(measurements.duplicated().sum())

Duplicate Rows:
0

In [128]:
# Range Validation for Integer and Float Columns
numeric_columns = measurements.select_dtypes(include=['int64', 'float64']).columns
for column in numeric_columns:
    min_value = measurements[column].min()
    max_value = measurements[column].max()
    print(f"\nRange for {column}: {min_value} to {max_value}")

Range for pond_id: 1 to 47282

Range for cycle_id: 3458 to 29874

Range for morning_temperature: 0.0 to 27341.0

Range for evening_temperature: 0.0 to 1078.933333333

Range for morning_do: -52.885 to 60043.0

Range for evening_do: -62.837 to 6706.0

Range for morning_salinity: -25.0 to 15734.0

Range for evening_salinity: 0.0 to 33958.0

Range for morning_pH: 0.0 to 7421.0

Range for evening_pH: 0.0 to 862.0

Range for transparency: -35.0 to 1110.0

Range for turbidity: 0.0 to 374144.855

Range for ammonia: 0.0 to 2057.0

Range for nitrate: 0.0 to 1272.0

Range for nitrite: 0.0 to 48031.0

Range for alkalinity: 0.0 to 19589.0

Range for hardness: 0.0 to 2000000.0

Range for calcium: 0.0 to 11250.0

Range for magnesium: 0.0 to 32000.0

Range for carbonate: 0.0 to 2400.0

Range for bicarbonate: 0.0 to 19589.0

Range for tom: -15.17 to 73312.0

Range for total_plankton_: 0.0 to 212505333.0

In [129]:
# Foreign Key Validation
# Check if all 'cycle_id' values exist in the 'cycles' table
invalid_cycle_ids = measurements[~measurements['cycle_id'].isin(cycles['id'])]
print("\nInvalid 'cycle_id' values:")
print(invalid_cycle_ids)

Invalid 'cycle_id' values:
Empty DataFrame
Columns: [pond_id, cycle_id, measured_date, morning_temperature, evening_temperature, morning_do, evening_do, morning_salinity, evening_salinity, morning_pH, evening_pH, transparency, turbidity, ammonia, nitrate, nitrite, alkalinity, hardness, calcium, magnesium, carbonate, bicarbonate, tom, total_plankton_]
Index: []

[0 rows x 24 columns]

In [130]:
# Columns with missing values
columns_with_missing = measurements.columns[measurements.isnull().any()]

# Iterate over columns with missing values
for column in columns_with_missing:
    print(f"Missing values in column '{column}':")
    print(measurements.loc[measurements[column].isnull()])
    print("\n")

Missing values in column 'morning_temperature':
        pond_id  cycle_id measured_date  morning_temperature  \
1         21226     10897    2021-07-30                  NaN
5         45886     27758    2023-12-13                  NaN
11        15564      4751    2020-08-07                  NaN
13        38738     23109    2023-09-01                  NaN
14        38764     25081    2023-10-17                  NaN
...         ...       ...           ...                  ...
139028    37706     20189    2023-03-30                  NaN
139042    38466     20765    2023-02-20                  NaN
139044    24569     15980    2022-05-20                  NaN
139047       11      6126    2021-01-06                  NaN
139049    38747     23317    2023-07-28                  NaN

        evening_temperature  morning_do  evening_do  morning_salinity  \
1                       NaN         NaN         NaN               NaN
5                       NaN         NaN         NaN               NaN
11                      NaN         NaN         NaN               NaN
13                      NaN         NaN         NaN               NaN
14                      NaN         NaN         NaN               NaN
...                     ...         ...         ...               ...
139028                 30.0         NaN        6.50               NaN
139042                 31.1         NaN        5.89               NaN
139044                  NaN         NaN         NaN               NaN
139047                  NaN         NaN         NaN               NaN
139049                  NaN         NaN         NaN               NaN

        evening_salinity  morning_pH  ...  nitrate  nitrite  alkalinity  \
1                    NaN         NaN  ...      NaN      NaN         NaN
5                    NaN         8.0  ...      NaN      NaN         NaN
11                   NaN         NaN  ...      NaN      NaN         NaN
13                   NaN         7.5  ...      NaN      NaN         NaN
14                   NaN         8.1  ...      NaN      NaN         NaN
...                  ...         ...  ...      ...      ...         ...
139028              10.0         NaN  ...      NaN      NaN         NaN
139042              20.7         NaN  ...      NaN      NaN         NaN
139044               NaN         8.9  ...      NaN      NaN         NaN
139047               NaN         NaN  ...      NaN      NaN         NaN
139049               NaN         7.8  ...      NaN      NaN         NaN

        hardness  calcium  magnesium  carbonate  bicarbonate  tom  \
1            NaN      NaN        NaN        NaN          NaN  NaN
5            NaN      NaN        NaN        NaN          NaN  NaN
11           NaN      NaN        NaN        NaN          NaN  NaN
13           NaN      NaN        NaN        NaN          NaN  NaN
14           NaN      NaN        NaN        NaN          NaN  NaN
...          ...      ...        ...        ...          ...  ...
139028       NaN      NaN        NaN        NaN          NaN  NaN
139042       NaN      NaN        NaN        NaN          NaN  NaN
139044       NaN      NaN        NaN        NaN          NaN  NaN
139047       NaN      NaN        NaN        NaN          NaN  NaN
139049       NaN      NaN        NaN        NaN          NaN  NaN

        total_plankton_
1                   NaN
5                   NaN
11                  NaN
13                  NaN
14                  NaN
...                 ...
139028              NaN
139042              NaN
139044              NaN
139047              NaN
139049              NaN

[41855 rows x 24 columns]


Missing values in column 'evening_temperature':
        pond_id  cycle_id measured_date  morning_temperature  \
0         31250     15009    2022-04-16               29.000
1         21226     10897    2021-07-30                  NaN
5         45886     27758    2023-12-13                  NaN
11        15564      4751    2020-08-07                  NaN
13        38738     23109    2023-09-01                  NaN
...         ...       ...           ...                  ...
139024    45656     27512    2023-11-17               29.541
139037    30350     17860    2022-08-24               25.958
139044    24569     15980    2022-05-20                  NaN
139047       11      6126    2021-01-06                  NaN
139049    38747     23317    2023-07-28                  NaN

        evening_temperature  morning_do  evening_do  morning_salinity  \
0                       NaN         NaN         NaN            28.000
1                       NaN         NaN         NaN               NaN
5                       NaN         NaN         NaN               NaN
11                      NaN         NaN         NaN               NaN
13                      NaN         NaN         NaN               NaN
...                     ...         ...         ...               ...
139024                  NaN       5.302         NaN            22.755
139037                  NaN       5.570         NaN            13.992
139044                  NaN         NaN         NaN               NaN
139047                  NaN         NaN         NaN               NaN
139049                  NaN         NaN         NaN               NaN

        evening_salinity  morning_pH  ...  nitrate  nitrite  alkalinity  \
0                    NaN       8.100  ...      NaN      NaN         NaN
1                    NaN         NaN  ...      NaN      NaN         NaN
5                    NaN       8.000  ...      NaN      NaN         NaN
11                   NaN         NaN  ...      NaN      NaN         NaN
13                   NaN       7.500  ...      NaN      NaN         NaN
...                  ...         ...  ...      ...      ...         ...
139024               NaN       8.412  ...      NaN      NaN         NaN
139037               NaN       6.706  ...      NaN      NaN         NaN
139044               NaN       8.900  ...      NaN      NaN         NaN
139047               NaN         NaN  ...      NaN      NaN         NaN
139049               NaN       7.800  ...      NaN      NaN         NaN

        hardness  calcium  magnesium  carbonate  bicarbonate  tom  \
0            NaN      NaN        NaN        NaN          NaN  NaN
1            NaN      NaN        NaN        NaN          NaN  NaN
5            NaN      NaN        NaN        NaN          NaN  NaN
11           NaN      NaN        NaN        NaN          NaN  NaN
13           NaN      NaN        NaN        NaN          NaN  NaN
...          ...      ...        ...        ...          ...  ...
139024       NaN      NaN        NaN        NaN          NaN  NaN
139037       NaN      NaN        NaN        NaN          NaN  NaN
139044       NaN      NaN        NaN        NaN          NaN  NaN
139047       NaN      NaN        NaN        NaN          NaN  NaN
139049       NaN      NaN        NaN        NaN          NaN  NaN

        total_plankton_
0                   NaN
1                   NaN
5                   NaN
11                  NaN
13                  NaN
...                 ...
139024              NaN
139037              NaN
139044              NaN
139047              NaN
139049              NaN

[49839 rows x 24 columns]


Missing values in column 'morning_do':
        pond_id  cycle_id measured_date  morning_temperature  \
0         31250     15009    2022-04-16                 29.0
1         21226     10897    2021-07-30                  NaN
5         45886     27758    2023-12-13                  NaN
11        15564      4751    2020-08-07                  NaN
13        38738     23109    2023-09-01                  NaN
...         ...       ...           ...                  ...
139044    24569     15980    2022-05-20                  NaN
139045    31457     19061    2022-12-22                 27.0
139046    31457     19061    2023-01-17                 27.0
139047       11      6126    2021-01-06                  NaN
139049    38747     23317    2023-07-28                  NaN

        evening_temperature  morning_do  evening_do  morning_salinity  \
0                       NaN         NaN         NaN              28.0
1                       NaN         NaN         NaN               NaN
5                       NaN         NaN         NaN               NaN
11                      NaN         NaN         NaN               NaN
13                      NaN         NaN         NaN               NaN
...                     ...         ...         ...               ...
139044                  NaN         NaN         NaN               NaN
139045                 30.0         NaN         NaN              24.0
139046                 29.0         NaN         NaN              23.0
139047                  NaN         NaN         NaN               NaN
139049                  NaN         NaN         NaN               NaN

        evening_salinity  morning_pH  ...  nitrate  nitrite  alkalinity  \
0                    NaN         8.1  ...      NaN      NaN         NaN
1                    NaN         NaN  ...      NaN      NaN         NaN
5                    NaN         8.0  ...      NaN      NaN         NaN
11                   NaN         NaN  ...      NaN      NaN         NaN
13                   NaN         7.5  ...      NaN      NaN         NaN
...                  ...         ...  ...      ...      ...         ...
139044               NaN         8.9  ...      NaN      NaN         NaN
139045               NaN         7.6  ...      NaN      NaN         NaN
139046               NaN         7.6  ...      NaN    1.892       100.0
139047               NaN         NaN  ...      NaN      NaN         NaN
139049               NaN         7.8  ...      NaN      NaN         NaN

        hardness  calcium  magnesium  carbonate  bicarbonate    tom  \
0            NaN      NaN        NaN        NaN          NaN    NaN
1            NaN      NaN        NaN        NaN          NaN    NaN
5            NaN      NaN        NaN        NaN          NaN    NaN
11           NaN      NaN        NaN        NaN          NaN    NaN
13           NaN      NaN        NaN        NaN          NaN    NaN
...          ...      ...        ...        ...          ...    ...
139044       NaN      NaN        NaN        NaN          NaN    NaN
139045       NaN      NaN        NaN        NaN          NaN    NaN
139046    4500.0    400.0      996.0        0.0        100.0  107.0
139047       NaN      NaN        NaN        NaN          NaN    NaN
139049       NaN      NaN        NaN        NaN          NaN    NaN

        total_plankton_
0                   NaN
1                   NaN
5                   NaN
11                  NaN
13                  NaN
...                 ...
139044              NaN
139045              NaN
139046         822500.0
139047              NaN
139049              NaN

[61324 rows x 24 columns]


Missing values in column 'evening_do':
        pond_id  cycle_id measured_date  morning_temperature  \
0         31250     15009    2022-04-16                 29.0
1         21226     10897    2021-07-30                  NaN
5         45886     27758    2023-12-13                  NaN
11        15564      4751    2020-08-07                  NaN
13        38738     23109    2023-09-01                  NaN
...         ...       ...           ...                  ...
139044    24569     15980    2022-05-20                  NaN
139045    31457     19061    2022-12-22                 27.0
139046    31457     19061    2023-01-17                 27.0
139047       11      6126    2021-01-06                  NaN
139049    38747     23317    2023-07-28                  NaN

        evening_temperature  morning_do  evening_do  morning_salinity  \
0                       NaN         NaN         NaN              28.0
1                       NaN         NaN         NaN               NaN
5                       NaN         NaN         NaN               NaN
11                      NaN         NaN         NaN               NaN
13                      NaN         NaN         NaN               NaN
...                     ...         ...         ...               ...
139044                  NaN         NaN         NaN               NaN
139045                 30.0         NaN         NaN              24.0
139046                 29.0         NaN         NaN              23.0
139047                  NaN         NaN         NaN               NaN
139049                  NaN         NaN         NaN               NaN

        evening_salinity  morning_pH  ...  nitrate  nitrite  alkalinity  \
0                    NaN         8.1  ...      NaN      NaN         NaN
1                    NaN         NaN  ...      NaN      NaN         NaN
5                    NaN         8.0  ...      NaN      NaN         NaN
11                   NaN         NaN  ...      NaN      NaN         NaN
13                   NaN         7.5  ...      NaN      NaN         NaN
...                  ...         ...  ...      ...      ...         ...
139044               NaN         8.9  ...      NaN      NaN         NaN
139045               NaN         7.6  ...      NaN      NaN         NaN
139046               NaN         7.6  ...      NaN    1.892       100.0
139047               NaN         NaN  ...      NaN      NaN         NaN
139049               NaN         7.8  ...      NaN      NaN         NaN

        hardness  calcium  magnesium  carbonate  bicarbonate    tom  \
0            NaN      NaN        NaN        NaN          NaN    NaN
1            NaN      NaN        NaN        NaN          NaN    NaN
5            NaN      NaN        NaN        NaN          NaN    NaN
11           NaN      NaN        NaN        NaN          NaN    NaN
13           NaN      NaN        NaN        NaN          NaN    NaN
...          ...      ...        ...        ...          ...    ...
139044       NaN      NaN        NaN        NaN          NaN    NaN
139045       NaN      NaN        NaN        NaN          NaN    NaN
139046    4500.0    400.0      996.0        0.0        100.0  107.0
139047       NaN      NaN        NaN        NaN          NaN    NaN
139049       NaN      NaN        NaN        NaN          NaN    NaN

        total_plankton_
0                   NaN
1                   NaN
5                   NaN
11                  NaN
13                  NaN
...                 ...
139044              NaN
139045              NaN
139046         822500.0
139047              NaN
139049              NaN

[65098 rows x 24 columns]


Missing values in column 'morning_salinity':
        pond_id  cycle_id measured_date  morning_temperature  \
1         21226     10897    2021-07-30                  NaN
5         45886     27758    2023-12-13                  NaN
7         34700     20390    2023-05-16            26.233333
11        15564      4751    2020-08-07                  NaN
13        38738     23109    2023-09-01                  NaN
...         ...       ...           ...                  ...
139039    12544     16333    2022-07-28            26.200000
139042    38466     20765    2023-02-20                  NaN
139044    24569     15980    2022-05-20                  NaN
139047       11      6126    2021-01-06                  NaN
139049    38747     23317    2023-07-28                  NaN

        evening_temperature  morning_do  evening_do  morning_salinity  \
1                       NaN         NaN         NaN               NaN
5                       NaN         NaN         NaN               NaN
7                      27.2    4.433333        5.10               NaN
11                      NaN         NaN         NaN               NaN
13                      NaN         NaN         NaN               NaN
...                     ...         ...         ...               ...
139039                 29.0         NaN         NaN               NaN
139042                 31.1         NaN        5.89               NaN
139044                  NaN         NaN         NaN               NaN
139047                  NaN         NaN         NaN               NaN
139049                  NaN         NaN         NaN               NaN

        evening_salinity  morning_pH  ...  nitrate  nitrite  alkalinity  \
1                    NaN         NaN  ...      NaN      NaN         NaN
5                    NaN         8.0  ...      NaN      NaN         NaN
7                    NaN         7.2  ...      NaN      NaN         NaN
11                   NaN         NaN  ...      NaN      NaN         NaN
13                   NaN         7.5  ...      NaN      NaN         NaN
...                  ...         ...  ...      ...      ...         ...
139039               NaN         7.7  ...      NaN      NaN         NaN
139042              20.7         NaN  ...      NaN      NaN         NaN
139044               NaN         8.9  ...      NaN      NaN         NaN
139047               NaN         NaN  ...      NaN      NaN         NaN
139049               NaN         7.8  ...      NaN      NaN         NaN

        hardness  calcium  magnesium  carbonate  bicarbonate  tom  \
1            NaN      NaN        NaN        NaN          NaN  NaN
5            NaN      NaN        NaN        NaN          NaN  NaN
7            NaN      NaN        NaN        NaN          NaN  NaN
11           NaN      NaN        NaN        NaN          NaN  NaN
13           NaN      NaN        NaN        NaN          NaN  NaN
...          ...      ...        ...        ...          ...  ...
139039       NaN      NaN        NaN        NaN          NaN  NaN
139042       NaN      NaN        NaN        NaN          NaN  NaN
139044       NaN      NaN        NaN        NaN          NaN  NaN
139047       NaN      NaN        NaN        NaN          NaN  NaN
139049       NaN      NaN        NaN        NaN          NaN  NaN

        total_plankton_
1                   NaN
5                   NaN
7                   NaN
11                  NaN
13                  NaN
...                 ...
139039              NaN
139042              NaN
139044              NaN
139047              NaN
139049              NaN

[46388 rows x 24 columns]


Missing values in column 'evening_salinity':
        pond_id  cycle_id measured_date  morning_temperature  \
0         31250     15009    2022-04-16            29.000000
1         21226     10897    2021-07-30                  NaN
3         34732     17637    2022-08-11            24.900000
5         45886     27758    2023-12-13                  NaN
7         34700     20390    2023-05-16            26.233333
...         ...       ...           ...                  ...
139044    24569     15980    2022-05-20                  NaN
139045    31457     19061    2022-12-22            27.000000
139046    31457     19061    2023-01-17            27.000000
139047       11      6126    2021-01-06                  NaN
139049    38747     23317    2023-07-28                  NaN

        evening_temperature  morning_do  evening_do  morning_salinity  \
0                       NaN         NaN         NaN              28.0
1                       NaN         NaN         NaN               NaN
3                      25.9    5.100000         3.8              21.0
5                       NaN         NaN         NaN               NaN
7                      27.2    4.433333         5.1               NaN
...                     ...         ...         ...               ...
139044                  NaN         NaN         NaN               NaN
139045                 30.0         NaN         NaN              24.0
139046                 29.0         NaN         NaN              23.0
139047                  NaN         NaN         NaN               NaN
139049                  NaN         NaN         NaN               NaN

        evening_salinity  morning_pH  ...  nitrate  nitrite  alkalinity  \
0                    NaN         8.1  ...      NaN      NaN         NaN
1                    NaN         NaN  ...      NaN      NaN         NaN
3                    NaN         7.4  ...      NaN    0.200         NaN

Here are the key points from the data validation of the "measurements" table:

### Basic Information:
- **Total Entries**: 139,050
- **Total Columns**: 24
- **Data Types**:
  - **Integer (int64)**: `pond_id`, `cycle_id`
  - **Float (float64)**: 21 columns including `morning_temperature`, `evening_temperature`, `morning_do`, `evening_do`, `morning_salinity`, `evening_salinity`, etc.
  - **Object (string)**: `measured_date`

### Missing Values:
- Significant missing values across various columns:
  - `morning_temperature`: 41,855 missing
  - `evening_temperature`: 49,839 missing
  - `morning_do`: 61,324 missing
  - `evening_do`: 65,098 missing
  - `morning_salinity`: 46,388 missing
  - `evening_salinity`: 73,957 missing
  - `morning_pH`: 20,115 missing
  - `evening_pH`: 78,101 missing
  - `transparency`: 61,750 missing
  - `turbidity`: 138,884 missing (almost entirely missing)
  - `ammonia`: 135,302 missing
  - `nitrate`: 136,888 missing
  - `nitrite`: 129,293 missing
  - `alkalinity`: 125,533 missing
  - `hardness`: 133,525 missing
  - `calcium`: 132,458 missing
  - `magnesium`: 132,430 missing
  - `carbonate`: 133,762 missing
  - `bicarbonate`: 132,372 missing
  - `tom`: 131,774 missing
  - `total_plankton_`: 126,429 missing

### Descriptive Statistics:
- **pond_id**: 
  - Range: 1 to 47,282
- **cycle_id**: 
  - Range: 3,458 to 29,874
- **morning_temperature**: 
  - Range: 0.0 to 27,341.0
- **evening_temperature**: 
  - Range: 0.0 to 1,078.933
- **morning_do**: 
  - Range: -52.885 to 60,043.0
- **evening_do**: 
  - Range: -62.837 to 6,706.0
- **morning_salinity**: 
  - Range: -25.0 to 15,734.0
- **evening_salinity**: 
  - Range: 0.0 to 33,958.0
- **morning_pH**: 
  - Range: 0.0 to 7,421.0
- **evening_pH**: 
  - Range: 0.0 to 862.0
- **transparency**: 
  - Range: -35.0 to 1,110.0
- **turbidity**: 
  - Range: 0.0 to 374,144.855
- **ammonia**: 
  - Range: 0.0 to 2,057.0
- **nitrate**: 
  - Range: 0.0 to 1,272.0
- **nitrite**: 
  - Range: 0.0 to 48,031.0
- **alkalinity**: 
  - Range: 0.0 to 19,589.0
- **hardness**: 
  - Range: 0.0 to 2,000,000.0
- **calcium**: 
  - Range: 0.0 to 11,250.0
- **magnesium**: 
  - Range: 0.0 to 32,000.0
- **carbonate**: 
  - Range: 0.0 to 2,400.0
- **bicarbonate**: 
  - Range: 0.0 to 19,589.0
- **tom**: 
  - Range: -15.17 to 73,312.0
- **total_plankton_**: 
  - Range: 0.0 to 212,505,333.0

### Duplicate Rows:
- No duplicate rows in the dataset.

### Key Observations:
1. **High Variability**: Many columns show high variability and wide ranges, indicating the presence of outliers or erroneous values.
2. **Missing Data**: Numerous columns have substantial amounts of missing data, especially `turbidity`, `ammonia`, `nitrate`, `nitrite`, `alkalinity`, `hardness`, `calcium`, `magnesium`, `carbonate`, `bicarbonate`, `tom`, and `total_plankton_`.
3. **Negative and Unrealistic Values**: Some columns have negative or unrealistic values, e.g., `morning_do` and `evening_do` have negative values, `morning_temperature` and `evening_temperature` have extremely high values, which are likely errors.

These points summarize the data validation results for the "measurements" table, highlighting significant missing data, potential outliers, and unrealistic values. This suggests a need for further data cleaning and validation to ensure the dataset's quality and reliability.

# Mortalities

In [11]:
# sanity check
mortalities

,id,cycle_id,quantity,recorded_at,created_at,updated_at,average_weight
0,185,8007,83334,2021-03-04,2021-03-04 03:46:42,2024-01-08 11:40:40,1.50
1,186,8007,43334,2021-03-05,2021-03-05 06:47:30,2024-01-08 11:40:40,1.50
2,188,8139,870,2021-03-04,2021-03-11 09:00:34,2024-01-08 11:40:40,3.45
3,189,8139,1160,2021-03-05,2021-03-11 09:02:41,2024-01-08 11:40:40,3.45
4,190,8139,2030,2021-03-07,2021-03-11 09:03:27,2024-01-08 11:40:40,3.45
...,...,...,...,...,...,...,...
13216,26188,27415,2565,2024-03-31,2024-04-03 06:39:15,2024-04-03 06:39:15,17.54
13217,26189,27415,2850,2024-04-01,2024-04-03 06:39:49,2024-04-03 06:39:49,17.54
13218,26190,27415,1425,2024-04-02,2024-04-03 06:40:05,2024-04-03 06:40:05,17.54
13219,26191,27416,898,2024-03-29,2024-04-03 06:40:39,2024-04-03 06:40:39,15.87
13220,26192,27416,1890,2024-03-30,2024-04-03 06:41:07,2024-04-03 06:41:07,15.87

In [131]:
# Check basic information about the dataframe
print("Basic Information:")
print(mortalities.info())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13221 entries, 0 to 13220
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              13221 non-null  int64
 1   cycle_id        13221 non-null  int64
 2   quantity        13221 non-null  int64
 3   recorded_at     13221 non-null  object
 4   created_at      13221 non-null  object
 5   updated_at      13221 non-null  object
 6   average_weight  13221 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 723.1+ KB
None

In [132]:
# Check for missing values
print("\nMissing Values:")
print(mortalities.isnull().sum())

Missing Values:
id                0
cycle_id          0
quantity          0
recorded_at       0
created_at        0
updated_at        0
average_weight    0
dtype: int64

In [133]:
# Check unique values for object columns
object_columns = mortalities.select_dtypes(include='object').columns
for column in object_columns:
    print(f"\nUnique values for {column}:")
    print(mortalities[column].unique())

Unique values for recorded_at:
['2021-03-04' '2021-03-05' '2021-03-07' '2021-03-09' '2021-03-28'
 '2021-01-22' '2021-02-05' '2021-02-19' '2021-04-11' '2021-04-12'
 '2021-04-10' '2021-05-29' '2021-05-30' '2021-05-15' '2021-05-16'
 '2021-05-17' '2021-06-04' '2021-06-02' '2021-06-03' '2021-06-07'
 '2021-06-05' '2021-06-08' '2021-06-06' '2021-07-27' '2021-07-25'
 '2021-07-21' '2021-07-23' '2021-07-26' '2021-07-24' '2021-06-14'
 '2021-07-09' '2021-08-09' '2021-07-22' '2021-08-15' '2021-08-16'
 '2021-08-17' '2021-08-18' '2021-08-19' '2021-08-27' '2021-08-14'
 '2021-08-13' '2021-08-12' '2021-08-22' '2021-08-23' '2021-08-24'
 '2021-08-25' '2021-08-26' '2021-08-20' '2021-08-21' '2021-09-13'
 '2021-09-12' '2021-09-10' '2021-09-15' '2021-09-16' '2021-09-17'
 '2021-09-07' '2021-09-08' '2021-09-09' '2021-10-01' '2021-10-02'
 '2021-10-07' '2021-10-11' '2021-10-13' '2021-10-12' '2021-10-14'
 '2021-10-15' '2021-08-29' '2021-09-03' '2021-09-05' '2021-09-24'
 '2021-09-25' '2021-09-28' '2021-10-04' '2021-11-14' '2021-11-18'
 '2021-11-19' '2021-11-20' '2021-11-06' '2021-11-09' '2021-11-21'
 '2021-11-22' '2021-11-16' '2021-11-17' '2021-11-23' '2021-11-24'
 '2021-11-25' '2021-12-11' '2021-12-12' '2021-12-16' '2021-12-18'
 '2021-12-19' '2021-12-20' '2021-12-22' '2021-12-26' '2021-12-27'
 '2021-12-30' '2021-12-25' '2021-12-31' '2022-01-01' '2022-01-02'
 '2022-01-03' '2022-01-04' '2022-01-05' '2021-12-29' '2022-01-06'
 '2022-01-07' '2022-01-08' '2022-01-10' '2022-01-09' '2022-01-11'
 '2022-01-13' '2022-01-14' '2022-01-16' '2022-01-17' '2022-01-18'
 '2022-01-20' '2022-01-21' '2022-01-12' '2022-01-24' '2022-01-23'
 '2022-01-22' '2022-01-19' '2022-01-15' '2022-01-27' '2022-01-25'
 '2022-01-28' '2022-01-29' '2022-01-30' '2022-01-31' '2022-02-03'
 '2022-02-04' '2022-02-06' '2022-02-07' '2022-02-10' '2022-02-11'
 '2022-02-12' '2022-02-13' '2022-02-14' '2022-02-15' '2022-02-16'
 '2022-02-18' '2022-02-19' '2022-02-22' '2022-02-24' '2022-03-14'
 '2022-03-15' '2022-03-17' '2022-03-16' '2022-03-18' '2022-03-21'
 '2022-03-23' '2022-03-24' '2022-03-25' '2022-03-26' '2022-03-28'
 '2022-03-29' '2022-03-30' '2022-03-31' '2022-04-01' '2022-04-03'
 '2022-04-04' '2022-04-05' '2022-04-06' '2022-04-07' '2022-04-02'
 '2022-04-08' '2022-04-09' '2022-04-10' '2022-04-11' '2022-04-12'
 '2022-04-13' '2022-04-14' '2022-04-15' '2022-04-16' '2022-04-17'
 '2022-04-19' '2022-04-18' '2022-04-20' '2022-04-21' '2022-04-22'
 '2022-04-23' '2022-04-24' '2022-04-26' '2022-04-25' '2022-04-27'
 '2022-04-29' '2022-05-07' '2022-05-05' '2022-05-06' '2022-08-08'
 '2022-05-11' '2022-05-02' '2022-05-03' '2022-05-04' '2022-05-08'
 '2022-05-09' '2022-05-10' '2022-05-12' '2022-04-30' '2022-05-13'
 '2022-05-14' '2022-05-15' '2022-05-16' '2022-05-17' '2022-05-18'
 '2022-05-25' '2022-05-19' '2022-05-20' '2022-05-21' '2022-05-22'
 '2022-05-24' '2022-05-23' '2022-05-26' '2022-05-27' '2022-05-28'
 '2022-05-29' '2022-05-30' '2022-05-31' '2022-06-01' '2022-06-02'
 '2022-06-03' '2022-06-04' '2022-06-05' '2022-06-06' '2022-06-07'
 '2022-06-08' '2022-06-09' '2022-06-10' '2022-06-11' '2022-06-12'
 '2022-06-15' '2022-06-13' '2022-06-16' '2022-06-14' '2022-06-17'
 '2022-06-18' '2022-06-19' '2022-06-20' '2022-06-21' '2022-06-22'
 '2022-06-23' '2022-06-24' '2022-04-28' '2022-06-25' '2022-06-26'
 '2022-06-27' '2022-06-28' '2022-06-29' '2022-06-30' '2022-07-01'
 '2022-07-02' '2022-07-03' '2022-07-04' '2022-07-05' '2022-07-06'
 '2022-07-07' '2022-07-08' '2022-07-09' '2022-07-10' '2022-07-11'
 '2022-07-12' '2022-07-13' '2022-07-14' '2022-07-15' '2022-05-01'
 '2022-07-17' '2022-07-16' '2022-07-18' '2022-07-19' '2022-07-20'
 '2022-07-21' '2022-07-22' '2022-07-23' '2022-07-24' '2022-07-25'
 '2022-07-26' '2022-07-27' '2022-07-28' '2022-07-29' '2022-07-30'
 '2022-07-31' '2022-08-01' '2022-08-02' '2022-08-03' '2022-08-04'
 '2022-08-05' '2022-08-06' '2022-08-07' '2022-08-09' '2022-08-10'
 '2022-08-11' '2022-08-15' '2022-08-12' '2022-08-13' '2022-08-14'
 '2022-08-16' '2022-08-17' '2022-08-18' '2022-08-19' '2022-08-20'
 '2022-08-21' '2022-03-03' '2022-03-04' '2022-03-05' '2022-03-06'
 '2022-03-07' '2022-03-08' '2022-03-10' '2022-03-12' '2022-03-20'
 '2022-08-22' '2022-08-23' '2022-08-24' '2022-08-25' '2022-08-26'
 '2022-08-27' '2022-08-28' '2022-08-29' '2022-08-30' '2022-08-31'
 '2022-09-01' '2022-09-02' '2022-09-03' '2022-09-04' '2022-09-05'
 '2022-09-06' '2022-09-07' '2022-09-08' '2022-09-09' '2022-09-10'
 '2022-09-11' '2022-09-12' '2022-09-13' '2022-09-14' '2022-09-15'
 '2022-09-16' '2022-09-17' '2022-09-18' '2022-09-19' '2022-09-20'
 '2022-09-21' '2022-09-23' '2022-09-22' '2022-09-27' '2022-09-24'
 '2022-09-25' '2022-09-26' '2022-09-28' '2022-09-29' '2022-10-03'
 '2022-09-30' '2022-10-01' '2022-10-02' '2022-10-10' '2022-10-04'
 '2022-10-05' '2022-10-06' '2022-10-07' '2022-10-08' '2022-10-09'
 '2022-10-11' '2022-10-12' '2022-10-13' '2022-10-14' '2022-10-15'
 '2022-10-16' '2022-10-17' '2022-10-19' '2022-10-18' '2022-10-20'
 '2022-10-21' '2022-10-22' '2022-10-23' '2022-10-24' '2022-10-25'
 '2022-10-26' '2022-10-27' '2022-10-28' '2022-10-29' '2022-10-30'
 '2022-10-31' '2022-11-01' '2022-11-02' '2022-11-03' '2022-11-04'
 '2022-11-05' '2022-11-06' '2022-11-07' '2022-11-08' '2022-11-09'
 '2022-11-10' '2022-11-11' '2022-11-12' '2022-11-13' '2022-11-14'
 '2022-11-15' '2022-11-16' '2022-11-17' '2022-11-18' '2022-11-19'
 '2022-11-20' '2022-11-21' '2022-11-22' '2022-11-23' '2022-11-24'
 '2022-11-25' '2022-11-26' '2022-11-27' '2022-11-28' '2022-11-29'
 '2022-11-30' '2022-12-01' '2022-12-02' '2022-12-03' '2022-12-04'
 '2022-12-05' '2022-12-06' '2022-12-07' '2022-12-08' '2022-12-09'
 '2022-12-10' '2022-12-11' '2022-12-12' '2022-12-13' '2022-12-14'
 '2022-12-15' '2022-12-16' '2022-12-17' '2022-12-18' '2022-12-19'
 '2022-12-20' '2022-12-21' '2022-12-22' '2022-12-23' '2022-12-24'
 '2022-12-25' '2022-12-26' '2022-12-27' '2022-12-28' '2022-12-29'
 '2022-12-30' '2022-12-31' '2023-01-01' '2023-01-02' '2023-01-03'
 '2023-01-04' '2023-01-05' '2023-01-06' '2023-01-07' '2023-01-12'
 '2023-01-16' '2023-01-08' '2023-01-09' '2023-01-10' '2023-01-11'
 '2023-01-13' '2023-01-14' '2023-01-15' '2023-01-17' '2023-01-18'
 '2023-01-19' '2023-01-20' '2023-01-21' '2023-01-22' '2023-01-23'
 '2023-01-24' '2023-01-25' '2023-01-26' '2023-01-27' '2023-01-28'
 '2023-01-29' '2023-01-30' '2023-01-31' '2023-02-01' '2023-02-02'
 '2023-02-03' '2023-02-04' '2023-02-05' '2023-02-06' '2023-02-07'
 '2023-02-08' '2023-02-09' '2023-02-10' '2023-02-11' '2023-02-12'
 '2023-02-13' '2023-02-14' '2023-02-15' '2023-02-16' '2023-02-17'
 '2023-02-18' '2023-02-19' '2023-02-20' '2023-02-21' '2023-02-22'
 '2023-02-23' '2023-02-24' '2023-02-25' '2023-02-26' '2023-02-27'
 '2023-02-28' '2023-03-01' '2023-03-02' '2023-03-03' '2023-03-04'
 '2023-03-05' '2023-03-06' '2023-03-07' '2023-03-08' '2023-03-09'
 '2023-03-10' '2023-03-11' '2023-03-12' '2023-03-13' '2023-03-14'
 '2023-03-15' '2023-03-16' '2023-03-17' '2023-03-18' '2023-03-19'
 '2023-03-20' '2023-03-21' '2023-03-22' '2023-03-23' '2023-03-24'
 '2023-03-25' '2023-03-26' '2023-03-27' '2023-03-28' '2023-03-29'
 '2023-03-30' '2023-03-31' '2023-04-01' '2023-04-02' '2023-04-03'
 '2023-04-04' '2023-04-05' '2023-04-06' '2023-04-07' '2023-04-08'
 '2023-04-09' '2023-04-10' '2023-04-11' '2023-04-12' '2023-04-13'
 '2023-04-14' '2023-04-15' '2023-04-16' '2023-04-17' '2023-04-18'
 '2023-04-19' '2023-04-20' '2023-04-21' '2023-04-22' '2023-04-23'
 '2023-04-24' '2023-04-25' '2023-04-26' '2023-04-27' '2023-04-28'
 '2023-04-29' '2023-04-30' '2023-05-01' '2023-05-02' '2023-05-03'
 '2023-05-04' '2023-05-05' '2023-05-06' '2023-05-07' '2023-05-08'
 '2023-05-09' '2023-05-10' '2023-05-11' '2023-05-12' '2023-05-13'
 '2023-05-14' '2023-05-15' '2023-05-16' '2023-05-17' '2023-05-18'
 '2023-05-19' '2023-05-20' '2023-05-21' '2023-05-22' '2023-05-23'
 '2023-05-24' '2023-05-25' '2023-05-26' '2023-05-27' '2023-05-28'
 '2023-05-29' '2023-05-30' '2023-05-31' '2023-06-01' '2023-06-02'
 '2023-06-03' '2023-06-04' '2023-06-05' '2023-06-06' '2023-06-07'
 '2023-06-08' '2023-06-09' '2023-06-10' '2023-06-11' '2023-06-12'
 '2023-06-13' '2023-06-14' '2023-06-15' '2023-06-17' '2023-06-16'
 '2023-06-18' '2023-06-19' '2023-06-20' '2023-06-21' '2023-06-22'
 '2023-06-23' '2023-06-24' '2023-06-25' '2023-06-26' '2023-06-27'
 '2023-06-28' '2023-06-29' '2023-06-30' '2023-07-02' '2023-07-30'
 '2023-07-03' '2023-07-04' '2023-07-05' '2023-07-06' '2023-07-07'
 '2023-07-08' '2023-07-09' '2023-07-11' '2023-07-12' '2023-07-13'
 '2023-07-14' '2023-07-17' '2023-07-19' '2023-07-20' '2023-07-21'
 '2023-07-22' '2023-07-23' '2023-07-24' '2023-07-25' '2023-07-27'
 '2023-07-28' '2023-07-29' '2023-07-26' '2023-07-31' '2023-08-01'
 '2023-08-02' '2023-08-03' '2023-08-04' '2023-08-05' '2023-08-06'
 '2023-08-07' '2023-08-08' '2023-08-09' '2023-08-10' '2023-08-11'
 '2023-08-12' '2023-08-13' '2023-08-14' '2023-08-15' '2023-08-16'
 '2023-08-17' '2023-08-18' '2023-08-19' '2023-08-20' '2023-08-21'
 '2023-08-22' '2023-08-23' '2023-08-24' '2023-08-25' '2023-08-26'
 '2023-08-27' '2023-08-28' '2023-08-29' '2023-08-30' '2023-08-31'
 '2023-09-01' '2023-09-02' '2023-07-18' '2023-09-03' '2023-09-04'
 '2023-09-05' '2023-09-06' '2023-09-07' '2023-09-08' '2023-09-09'
 '2023-09-10' '2023-09-11' '2023-09-12' '2023-09-13' '2023-09-14'
 '2023-09-15' '2023-09-16' '2023-09-17' '2023-09-18' '2023-09-19'
 '2023-09-20' '2023-09-21' '2023-09-22' '2023-09-23' '2023-09-24'
 '2023-09-29' '2023-09-25' '2023-09-26' '2023-09-27' '2023-09-28'
 '2023-09-30' '2023-10-01' '2023-10-02' '2023-10-03' '2023-10-04'
 '2023-10-05' '2023-10-06' '2023-10-07' '2023-10-08' '2023-10-09'
 '2023-10-10' '2023-10-11' '2023-10-12' '2023-10-13' '2023-10-14'
 '2023-10-15' '2023-10-16' '2023-10-17' '2023-10-18' '2023-10-19'
 '2023-10-20' '2023-10-21' '2023-10-22' '2023-10-23' '2023-10-24'
 '2023-10-25' '2023-10-26' '2023-10-27' '2023-10-28' '2023-10-29'
 '2023-10-30' '2023-10-31' '2023-11-01' '2023-11-02' '2023-11-03'
 '2023-11-04' '2023-11-05' '2023-11-06' '2023-11-07' '2023-11-08'
 '2023-11-09' '2023-11-10' '2023-11-11' '2023-11-12' '2023-11-13'
 '2023-11-14' '2023-11-15' '2023-11-16' '2023-11-17' '2023-11-18'
 '2023-11-19' '2023-11-20' '2023-11-21' '2023-11-22' '2023-11-23'
 '2023-11-24' '2023-11-25' '2023-11-26' '2023-11-27' '2023-11-28'
 '2023-11-29' '2023-11-30' '2023-12-01' '2023-12-02' '2023-12-04'
 '2023-12-03' '2023-12-05' '2023-12-06' '2023-12-07' '2023-12-14'
 '2023-12-08' '2023-12-09' '2023-12-10' '2023-12-12' '2023-12-11'
 '2023-12-13' '2023-12-15' '2023-12-16' '2023-12-17' '2023-12-18'
 '2023-12-19' '2023-12-20' '2023-12-21' '2023-12-22' '2023-12-23'
 '2023-12-24' '2023-12-25' '2023-12-26' '2023-12-27' '2023-12-28'
 '2023-12-29' '2023-12-30' '2023-12-31' '2024-01-01' '2024-01-02'
 '2024-01-03' '2024-01-04' '2024-01-05' '2024-01-06' '2024-01-07'
 '2024-01-08' '2024-01-09' '2024-01-10' '2024-01-11' '2024-01-12'
 '2024-01-13' '2024-01-14' '2024-01-15' '2024-01-16' '2024-01-17'
 '2024-01-18' '2024-01-19' '2024-01-20' '2024-01-21' '2024-01-22'
 '2024-01-23' '2024-01-24' '2024-01-25' '2024-01-26' '2024-01-27'
 '2024-01-28' '2024-01-29' '2024-01-30' '2024-01-31' '2024-02-01'
 '2024-02-02' '2024-02-03' '2024-02-04' '2024-02-05' '2024-02-06'
 '2024-02-07' '2024-02-08' '2024-02-09' '2024-02-10' '2024-02-11'
 '2024-02-12' '2024-02-13' '2024-02-14' '2024-02-15' '2024-02-16'
 '2024-02-17' '2024-02-18' '2024-02-19' '2024-02-20' '2024-02-22'
 '2024-02-21' '2024-02-23' '2024-02-24' '2024-02-25' '2024-02-26'
 '2024-02-27' '2024-02-28' '2024-03-01' '2024-03-02' '2024-02-29'
 '2024-03-03' '2024-03-04' '2024-03-05' '2024-03-06' '2024-03-07'
 '2024-03-08' '2024-03-09' '2024-03-10' '2024-03-11' '2024-03-12'
 '2024-03-13' '2024-03-14' '2024-03-15' '2024-03-16' '2024-03-17'
 '2024-03-18' '2024-03-19' '2024-03-23' '2024-03-24' '2024-03-25'
 '2024-03-26' '2024-03-20' '2024-03-21' '2024-03-22' '2024-03-28'
 '2024-03-27' '2024-03-29' '2024-03-30' '2024-03-31' '2024-04-01'
 '2024-04-02']

Unique values for created_at:
['2021-03-04 03:46:42' '2021-03-05 06:47:30' '2021-03-11 09:00:34' ...
 '2024-04-03 06:40:05' '2024-04-03 06:40:39' '2024-04-03 06:41:07']

Unique values for updated_at:
['2024-01-08 11:40:40' '2023-12-24 02:23:51' '2023-11-26 01:52:05' ...
 '2024-04-03 06:40:05' '2024-04-03 06:40:39' '2024-04-03 06:41:07']

In [134]:
# Descriptive Statistics
print("\nDescriptive Statistics:")
print(mortalities.describe())

Descriptive Statistics:
                 id      cycle_id      quantity  average_weight
count  13221.000000  13221.000000  1.322100e+04    13221.000000
mean   14307.947810  20844.158763  1.834642e+03        9.613240
std     5630.215217   4098.897296  8.721018e+04       17.196472
min      185.000000   7273.000000  1.000000e+00        0.000000
25%     9763.000000  17726.000000  6.000000e+01        4.550000
50%    13998.000000  19676.000000  2.000000e+02        7.890000
75%    18858.000000  24092.000000  7.560000e+02       13.040000
max    26192.000000  29579.000000  1.000000e+07     1428.570000

In [135]:
# Check for Duplicate Rows
print("\nDuplicate Rows:")
print(mortalities.duplicated().sum())

Duplicate Rows:
0

In [136]:
# Range Validation for Integer and Float Columns
numeric_columns = mortalities.select_dtypes(include=['int64', 'float64']).columns
for column in numeric_columns:
    min_value = mortalities[column].min()
    max_value = mortalities[column].max()
    print(f"\nRange for {column}: {min_value} to {max_value}")

Range for id: 185 to 26192

Range for cycle_id: 7273 to 29579

Range for quantity: 1 to 10000000

Range for average_weight: 0.0 to 1428.57

In [137]:
# Foreign Key Validation
# Check if all 'cycle_id' values exist in the 'cycles' table
invalid_cycle_ids = mortalities[~mortalities['cycle_id'].isin(cycles['id'])]
print("\nInvalid 'cycle_id' values:")
print(invalid_cycle_ids)

Invalid 'cycle_id' values:
Empty DataFrame
Columns: [id, cycle_id, quantity, recorded_at, created_at, updated_at, average_weight]
Index: []

In [138]:
# Columns with missing values
columns_with_missing = mortalities.columns[mortalities.isnull().any()]

# Iterate over columns with missing values
for column in columns_with_missing:
    print(f"Missing values in column '{column}':")
    print(mortalities.loc[mortalities[column].isnull()])
    print("\n")

Here are the key points from the data validation of the "mortalities" table:

### Basic Information:
- **Total Entries**: 13,221
- **Total Columns**: 7
- **Data Types**:
  - **Integer (int64)**: `id`, `cycle_id`, `quantity`
  - **Float (float64)**: `average_weight`
  - **Object (string)**: `recorded_at`, `created_at`, `updated_at`

### Missing Values:
- There are no missing values in this dataset.

### Descriptive Statistics:
- **id**:
  - Count: 13,221
  - Mean: 14,307.95
  - Std: 5,630.22
  - Min: 185
  - 25%: 9,763
  - 50%: 13,998
  - 75%: 18,858
  - Max: 26,192

- **cycle_id**:
  - Count: 13,221
  - Mean: 20,844.16
  - Std: 4,098.90
  - Min: 7,273
  - 25%: 17,726
  - 50%: 19,676
  - 75%: 24,092
  - Max: 29,579

- **quantity**:
  - Count: 13,221
  - Mean: 1,834.64
  - Std: 87,210.18
  - Min: 1
  - 25%: 60
  - 50%: 200
  - 75%: 756
  - Max: 10,000,000

- **average_weight**:
  - Count: 13,221
  - Mean: 9.61
  - Std: 17.20
  - Min: 0.0
  - 25%: 4.55
  - 50%: 7.89
  - 75%: 13.04
  - Max: 1,428.57

### Duplicate Rows:
- There are no duplicate rows in the dataset.

### Key Observations:
1. **High Variability**: The `quantity` column shows extremely high variability with a standard deviation of 87,210.18, and the values range from 1 to 10,000,000. This indicates potential outliers or data entry errors.
2. **Realistic Values**: The `average_weight` column seems to have a realistic distribution, though there are some high values (e.g., max value of 1,428.57), which might need verification.
3. **No Missing Data**: This dataset has complete data with no missing values.

These points summarize the data validation results for the "mortalities" table, highlighting the need to verify high variability and potential outliers in the `quantity` column. The dataset overall appears clean with no missing values or duplicates.

## Ponds

In [12]:
# sanity check
ponds

,id,farm_id,length,width,deep,created_at,updated_at,record_id,extracted_at,max_seed_density
0,2117,8,NaN,NaN,NaN,2018-04-19 20:09:43.000,2018-04-19 20:09:43.000,ponds_2023_12_21_2117,2023-12-21 17:02:10.000,NaN
1,9,3,16.70,36.20,NaN,2018-03-07 19:05:09.000,2018-03-15 00:58:08.000,ponds_2024_4_12_9,2024-04-12 17:02:11.000,NaN
2,2116,8,NaN,NaN,NaN,2018-04-19 20:09:43.000,2018-04-19 20:09:43.000,ponds_2023_12_21_2116,2023-12-21 17:02:10.000,NaN
3,7,3,46.50,32.60,1.1,2018-03-07 19:05:09.000,2018-03-15 00:51:55.000,ponds_2024_4_12_7,2024-04-12 17:02:11.000,131.926121
4,8,3,48.50,33.00,1.1,2018-03-07 19:05:09.000,2022-05-28 13:31:07.000,ponds_2024_4_12_8,2024-04-12 17:02:11.000,124.921924
...,...,...,...,...,...,...,...,...,...,...
333,44514,12530,31.00,30.00,1.3,2023-10-10 05:40:12.000,2023-10-10 05:40:12.000,ponds_2023_10_11_44514,2023-10-11 17:02:18.000,129.032258
334,37697,9987,81.65,61.24,NaN,2022-12-23 06:33:28.000,2022-12-23 06:33:28.000,ponds_2024_4_12_37697,2024-04-12 17:02:11.000,0.012000
335,44579,12542,21.00,14.00,1.3,2023-10-12 01:56:21.000,2023-10-12 01:56:21.000,ponds_2024_4_12_44579,2024-04-12 17:02:11.000,NaN
336,44613,12553,40.00,40.00,1.5,2023-10-14 03:18:53.000,2023-10-14 03:23:49.000,ponds_2024_4_12_44613,2024-04-12 17:02:11.000,168.750000
337,44982,13228,53.00,45.00,1.0,2023-10-22 02:26:02.000,2024-03-09 14:22:53.000,ponds_2024_4_12_44982,2024-04-12 17:02:11.000,35.220126

In [32]:
# Check basic information about the dataframe
print("Basic Information:")
ponds.info()

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                338 non-null    int64
 1   farm_id           338 non-null    int64
 2   length            315 non-null    float64
 3   width             309 non-null    float64
 4   deep              246 non-null    float64
 5   created_at        338 non-null    object
 6   updated_at        338 non-null    object
 7   record_id         338 non-null    object
 8   extracted_at      338 non-null    object
 9   max_seed_density  135 non-null    float64
dtypes: float64(4), int64(2), object(4)
memory usage: 26.5+ KB

In [33]:
# Check for missing values
print("\nMissing Values:")
ponds.isnull().sum()

Missing Values:

id                    0
farm_id               0
length               23
width                29
deep                 92
created_at            0
updated_at            0
record_id             0
extracted_at          0
max_seed_density    203
dtype: int64

In [38]:
# Columns with missing values
columns_with_missing = ponds.columns[ponds.isnull().any()]

# Iterate over columns with missing values
for column in columns_with_missing:
    print(f"Missing values in column '{column}':")
    print(ponds.loc[ponds[column].isnull()])
    print("\n")

Missing values in column 'length':
        id  farm_id  length  width  deep               created_at  \
0     2117        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
2     2116        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
6     2118        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
8     2114        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
17   16883        3     NaN    NaN   1.7  2020-09-10 00:39:06.000
20   28974     7388     NaN    NaN   NaN  2021-12-05 12:16:47.000
21    2122       11     NaN    NaN   NaN  2018-04-19 21:06:38.000
82   28972     7388     NaN    NaN   NaN  2021-12-05 12:16:47.000
123   2123       11     NaN    NaN   NaN  2018-04-19 21:06:38.000
124   2125       11     NaN    NaN   NaN  2018-04-19 21:06:38.000
126   2140        2     NaN    NaN   NaN  2018-04-19 22:11:57.000
174   2115        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
175   8360        2     NaN    NaN   NaN  2019-09-01 02:26:42.000
182   2120        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
186  28973     7388     NaN    NaN   NaN  2021-12-05 12:16:47.000
246   2113        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
247   2119        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
252  16884        3     NaN    NaN   1.7  2020-09-10 00:39:44.000
276   2139        2     NaN    NaN   NaN  2018-04-19 22:11:57.000
277   2124       11     NaN    NaN   NaN  2018-04-19 21:06:38.000
280  28872     7388     NaN    NaN   NaN  2021-11-30 13:26:08.000
286  28971     7388     NaN    NaN   NaN  2021-12-05 12:16:47.000
312   2121       11     NaN    NaN   NaN  2018-04-19 21:06:38.000

                  updated_at              record_id             extracted_at  \
0    2018-04-19 20:09:43.000  ponds_2023_12_21_2117  2023-12-21 17:02:10.000
2    2018-04-19 20:09:43.000  ponds_2023_12_21_2116  2023-12-21 17:02:10.000
6    2018-04-19 20:09:43.000  ponds_2023_12_21_2118  2023-12-21 17:02:10.000
8    2018-04-19 20:09:43.000  ponds_2023_12_21_2114  2023-12-21 17:02:10.000
17   2020-09-10 00:39:06.000  ponds_2024_4_12_16883  2024-04-12 17:02:11.000
20   2021-12-05 12:16:47.000  ponds_2024_4_12_28974  2024-04-12 17:02:11.000
21   2018-04-19 21:06:38.000  ponds_2023_12_21_2122  2023-12-21 17:02:10.000
82   2021-12-05 12:16:47.000  ponds_2024_4_12_28972  2024-04-12 17:02:11.000
123  2018-04-19 21:06:38.000  ponds_2023_12_21_2123  2023-12-21 17:02:10.000
124  2018-04-19 21:06:38.000  ponds_2023_12_21_2125  2023-12-21 17:02:10.000
126  2018-04-19 22:11:57.000   ponds_2024_4_12_2140  2024-04-12 17:02:11.000
174  2018-04-19 20:09:43.000  ponds_2023_12_21_2115  2023-12-21 17:02:10.000
175  2019-09-01 02:26:42.000   ponds_2024_4_12_8360  2024-04-12 17:02:11.000
182  2018-04-19 20:09:43.000  ponds_2023_12_21_2120  2023-12-21 17:02:10.000
186  2021-12-05 12:16:47.000  ponds_2024_4_12_28973  2024-04-12 17:02:11.000
246  2018-04-19 20:09:43.000  ponds_2023_12_21_2113  2023-12-21 17:02:10.000
247  2018-04-19 20:09:43.000  ponds_2023_12_21_2119  2023-12-21 17:02:10.000
252  2020-09-10 00:39:44.000  ponds_2024_4_12_16884  2024-04-12 17:02:11.000
276  2018-04-19 22:11:57.000   ponds_2024_4_12_2139  2024-04-12 17:02:11.000
277  2018-04-19 21:06:38.000  ponds_2023_12_21_2124  2023-12-21 17:02:10.000
280  2021-11-30 13:26:08.000  ponds_2024_4_12_28872  2024-04-12 17:02:11.000
286  2021-12-05 12:16:47.000  ponds_2024_4_12_28971  2024-04-12 17:02:11.000
312  2018-04-19 21:06:38.000  ponds_2023_12_21_2121  2023-12-21 17:02:10.000

     max_seed_density
0                 NaN
2                 NaN
6                 NaN
8                 NaN
17              81.00
20                NaN
21                NaN
82                NaN
123               NaN
124               NaN
126               NaN
174               NaN
175               NaN
182               NaN
186               NaN
246               NaN
247               NaN
252             81.00
276           1000.00
277               NaN
280              0.05
286               NaN
312               NaN


Missing values in column 'width':
        id  farm_id  length  width  deep               created_at  \
0     2117        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
2     2116        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
6     2118        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
8     2114        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
17   16883        3     NaN    NaN   1.7  2020-09-10 00:39:06.000
20   28974     7388     NaN    NaN   NaN  2021-12-05 12:16:47.000
21    2122       11     NaN    NaN   NaN  2018-04-19 21:06:38.000
79   45520    13378    10.0    NaN   1.3  2023-11-08 13:27:44.000
82   28972     7388     NaN    NaN   NaN  2021-12-05 12:16:47.000
112  37694     9986    10.0    NaN   1.0  2022-12-23 06:03:33.000
116  36427     9603    30.0    NaN  30.0  2022-10-19 03:50:48.000
123   2123       11     NaN    NaN   NaN  2018-04-19 21:06:38.000
124   2125       11     NaN    NaN   NaN  2018-04-19 21:06:38.000
126   2140        2     NaN    NaN   NaN  2018-04-19 22:11:57.000
152  45521    13378    10.0    NaN   1.3  2023-11-08 13:27:45.000
154  37695     9986    10.0    NaN   1.0  2022-12-23 06:03:33.000
174   2115        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
175   8360        2     NaN    NaN   NaN  2019-09-01 02:26:42.000
182   2120        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
186  28973     7388     NaN    NaN   NaN  2021-12-05 12:16:47.000
194  37696     9986    10.0    NaN   1.0  2022-12-23 06:03:33.000
246   2113        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
247   2119        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
252  16884        3     NaN    NaN   1.7  2020-09-10 00:39:44.000
276   2139        2     NaN    NaN   NaN  2018-04-19 22:11:57.000
277   2124       11     NaN    NaN   NaN  2018-04-19 21:06:38.000
280  28872     7388     NaN    NaN   NaN  2021-11-30 13:26:08.000
286  28971     7388     NaN    NaN   NaN  2021-12-05 12:16:47.000
312   2121       11     NaN    NaN   NaN  2018-04-19 21:06:38.000

                  updated_at               record_id             extracted_at  \
0    2018-04-19 20:09:43.000   ponds_2023_12_21_2117  2023-12-21 17:02:10.000
2    2018-04-19 20:09:43.000   ponds_2023_12_21_2116  2023-12-21 17:02:10.000
6    2018-04-19 20:09:43.000   ponds_2023_12_21_2118  2023-12-21 17:02:10.000
8    2018-04-19 20:09:43.000   ponds_2023_12_21_2114  2023-12-21 17:02:10.000
17   2020-09-10 00:39:06.000   ponds_2024_4_12_16883  2024-04-12 17:02:11.000
20   2021-12-05 12:16:47.000   ponds_2024_4_12_28974  2024-04-12 17:02:11.000
21   2018-04-19 21:06:38.000   ponds_2023_12_21_2122  2023-12-21 17:02:10.000
79   2023-11-08 13:27:44.000   ponds_2024_4_12_45520  2024-04-12 17:02:11.000
82   2021-12-05 12:16:47.000   ponds_2024_4_12_28972  2024-04-12 17:02:11.000
112  2022-12-23 06:03:33.000   ponds_2024_4_12_37694  2024-04-12 17:02:11.000
116  2022-10-19 03:50:48.000  ponds_2022_10_24_36427  2022-10-24 17:02:17.000
123  2018-04-19 21:06:38.000   ponds_2023_12_21_2123  2023-12-21 17:02:10.000
124  2018-04-19 21:06:38.000   ponds_2023_12_21_2125  2023-12-21 17:02:10.000
126  2018-04-19 22:11:57.000    ponds_2024_4_12_2140  2024-04-12 17:02:11.000
152  2023-11-08 13:27:45.000   ponds_2024_4_12_45521  2024-04-12 17:02:11.000
154  2022-12-23 06:03:33.000   ponds_2024_4_12_37695  2024-04-12 17:02:11.000
174  2018-04-19 20:09:43.000   ponds_2023_12_21_2115  2023-12-21 17:02:10.000
175  2019-09-01 02:26:42.000    ponds_2024_4_12_8360  2024-04-12 17:02:11.000
182  2018-04-19 20:09:43.000   ponds_2023_12_21_2120  2023-12-21 17:02:10.000
186  2021-12-05 12:16:47.000   ponds_2024_4_12_28973  2024-04-12 17:02:11.000
194  2022-12-23 06:03:33.000   ponds_2024_4_12_37696  2024-04-12 17:02:11.000
246  2018-04-19 20:09:43.000   ponds_2023_12_21_2113  2023-12-21 17:02:10.000
247  2018-04-19 20:09:43.000   ponds_2023_12_21_2119  2023-12-21 17:02:10.000
252  2020-09-10 00:39:44.000   ponds_2024_4_12_16884  2024-04-12 17:02:11.000
276  2018-04-19 22:11:57.000    ponds_2024_4_12_2139  2024-04-12 17:02:11.000
277  2018-04-19 21:06:38.000   ponds_2023_12_21_2124  2023-12-21 17:02:10.000
280  2021-11-30 13:26:08.000   ponds_2024_4_12_28872  2024-04-12 17:02:11.000
286  2021-12-05 12:16:47.000   ponds_2024_4_12_28971  2024-04-12 17:02:11.000
312  2018-04-19 21:06:38.000   ponds_2023_12_21_2121  2023-12-21 17:02:10.000

     max_seed_density
0                 NaN
2                 NaN
6                 NaN
8                 NaN
17              81.00
20                NaN
21                NaN
79                NaN
82                NaN
112               NaN
116               NaN
123               NaN
124               NaN
126               NaN
152               NaN
154               NaN
174               NaN
175               NaN
182               NaN
186               NaN
194               NaN
246               NaN
247               NaN
252             81.00
276           1000.00
277               NaN
280              0.05
286               NaN
312               NaN


Missing values in column 'deep':
        id  farm_id  length  width  deep               created_at  \
0     2117        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
1        9        3   16.70  36.20   NaN  2018-03-07 19:05:09.000
2     2116        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
6     2118        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
8     2114        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
..     ...      ...     ...    ...   ...                      ...
314  28817     7364   36.51  27.39   NaN  2021-11-28 14:35:15.000
315  27129     6901   57.74  43.30   NaN  2021-10-04 03:49:38.000
316  26455     6738   60.55  45.41   NaN  2021-09-14 00:54:35.000
317  37699     9987   57.74  43.30   NaN  2022-12-23 06:51:15.000
334  37697     9987   81.65  61.24   NaN  2022-12-23 06:33:28.000

                  updated_at              record_id             extracted_at  \
0    2018-04-19 20:09:43.000  ponds_2023_12_21_2117  2023-12-21 17:02:10.000
1    2018-03-15 00:58:08.000      ponds_2024_4_12_9  2024-04-12 17:02:11.000
2    2018-04-19 20:09:43.000  ponds_2023_12_21_2116  2023-12-21 17:02:10.000
6    2018-04-19 20:09:43.000  ponds_2023_12_21_2118  2023-12-21 17:02:10.000
8    2018-04-19 20:09:43.000  ponds_2023_12_21_2114  2023-12-21 17:02:10.000
..                       ...                    ...                      ...
314  2021-11-28 14:35:15.000  ponds_2024_4_12_28817  2024-04-12 17:02:11.000
315  2021-10-04 03:49:38.000  ponds_2024_4_12_27129  2024-04-12 17:02:11.000
316  2021-09-14 00:54:35.000  ponds_2024_4_12_26455  2024-04-12 17:02:11.000
317  2022-12-23 06:51:15.000  ponds_2024_4_12_37699  2024-04-12 17:02:11.000
334  2022-12-23 06:33:28.000  ponds_2024_4_12_37697  2024-04-12 17:02:11.000

     max_seed_density
0                 NaN
1                 NaN
2                 NaN
6                 NaN
8                 NaN
..                ...
314               NaN
315               NaN
316               NaN
317               NaN
334             0.012

[92 rows x 10 columns]


Missing values in column 'max_seed_density':
        id  farm_id  length  width  deep               created_at  \
0     2117        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
1        9        3    16.7   36.2   NaN  2018-03-07 19:05:09.000
2     2116        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
6     2118        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
8     2114        8     NaN    NaN   NaN  2018-04-19 20:09:43.000
..     ...      ...     ...    ...   ...                      ...
328  44633    12557   200.0   10.0   1.0  2023-10-15 03:11:30.000
329  44661    12560    30.0   30.0   1.6  2023-10-15 18:20:23.000
330  44678    12561    50.0   50.0   1.0  2023-10-16 02:03:22.000
331  44687    12562    40.0   20.0   1.0  2023-10-16 03:07:38.000
335  44579    12542    21.0   14.0   1.3  2023-10-12 01:56:21.000

                  updated_at              record_id             extracted_at  \
0    2018-04-19 20:09:43.000  ponds_2023_12_21_2117  2023-12-21 17:02:10.000
1    2018-03-15 00:58:08.000      ponds_2024_4_12_9  2024-04-12 17:02:11.000
2    2018-04-19 20:09:43.000  ponds_2023_12_21_2116  2023-12-21 17:02:10.000
6    2018-04-19 20:09:43.000  ponds_2023_12_21_2118  2023-12-21 17:02:10.000
8    2018-04-19 20:09:43.000  ponds_2023_12_21_2114  2023-12-21 17:02:10.000
..                       ...                    ...                      ...
328  2023-10-15 03:11:30.000  ponds_2024_4_12_44633  2024-04-12 17:02:11.000
329  2023-10-15 18:20:23.000  ponds_2024_4_12_44661  2024-04-12 17:02:11.000
330  2023-10-16 02:03:22.000  ponds_2024_4_12_44678  2024-04-12 17:02:11.000
331  2023-10-16 03:07:38.000  ponds_2024_4_12_44687  2024-04-12 17:02:11.000
335  2023-10-12 01:56:21.000  ponds_2024_4_12_44579  2024-04-12 17:02:11.000

     max_seed_density
0                 NaN
1                 NaN
2                 NaN
6                 NaN
8                 NaN
..                ...
328               NaN
329               NaN
330               NaN
331               NaN
335               NaN

[203 rows x 10 columns]

In [34]:
# Check unique values for object columns
object_columns = ponds.select_dtypes(include='object').columns
for column in object_columns:
    print(f"\nUnique values for {column}:")
    print(ponds[column].unique())

Unique values for created_at:
['2018-04-19 20:09:43.000' '2018-03-07 19:05:09.000'
 '2021-10-04 03:49:38.000' '2021-11-30 08:59:31.000'
 '2020-10-12 07:28:28.000' '2021-09-14 00:54:35.000'
 '2021-11-28 14:35:15.000' '2020-09-10 00:39:06.000'
 '2021-12-05 12:16:47.000' '2018-04-19 21:06:38.000'
 '2023-10-11 04:32:31.000' '2023-10-12 05:49:59.000'
 '2023-10-15 14:13:00.000' '2023-10-15 17:14:49.000'
 '2023-10-16 07:20:16.000' '2023-10-21 02:22:21.000'
 '2023-10-25 01:21:43.000' '2018-04-19 22:11:57.000'
 '2023-10-09 17:17:42.000' '2023-10-15 17:14:48.000'
 '2023-10-16 02:03:22.000' '2023-10-20 09:18:14.000'
 '2023-10-21 04:22:40.000' '2023-10-24 13:15:38.000'
 '2023-10-26 03:26:52.000' '2021-11-28 19:40:16.000'
 '2021-11-28 21:36:36.000' '2021-10-04 11:45:09.000'
 '2021-11-28 14:35:14.000' '2021-11-30 11:49:50.000'
 '2021-11-28 17:03:39.000' '2023-10-18 02:33:17.000'
 '2021-11-28 16:39:53.000' '2024-01-10 00:16:47.000'
 '2022-10-26 04:13:02.000' '2023-09-01 13:33:59.000'
 '2023-10-12 01:48:09.000' '2023-10-16 10:53:05.000'
 '2023-10-16 10:53:08.000' '2023-10-26 03:22:44.000'
 '2021-10-04 11:45:10.000' '2021-11-30 22:16:10.000'
 '2023-10-13 06:38:07.000' '2023-10-15 18:16:36.000'
 '2022-10-25 08:58:38.000' '2022-10-25 08:59:36.000'
 '2023-10-11 04:43:48.000' '2023-10-13 06:38:06.000'
 '2023-10-16 07:21:02.000' '2023-10-26 04:13:52.000'
 '2023-10-15 17:14:50.000' '2023-10-16 03:07:38.000'
 '2023-10-12 01:38:58.000' '2023-11-08 13:27:44.000'
 '2024-02-29 05:51:20.000' '2022-10-19 03:50:48.000'
 '2021-10-04 01:02:01.000' '2023-10-15 01:52:26.000'
 '2023-10-09 17:17:40.000' '2022-12-03 00:35:47.000'
 '2023-10-14 03:18:54.000' '2023-10-16 05:42:54.000'
 '2023-10-31 22:31:22.000' '2023-10-16 06:46:15.000'
 '2023-10-16 10:53:07.000' '2023-10-18 02:53:29.000'
 '2023-10-26 03:55:09.000' '2022-10-25 07:49:04.000'
 '2023-10-15 18:20:23.000' '2023-10-16 10:53:04.000'
 '2022-12-23 06:03:33.000' '2023-10-12 12:34:54.000'
 '2023-10-25 02:07:41.000' '2023-10-09 17:17:41.000'
 '2023-10-13 12:17:56.000' '2021-11-30 11:49:51.000'
 '2021-11-30 11:49:49.000' '2023-10-15 17:14:47.000'
 '2023-10-13 07:50:22.000' '2023-10-12 01:48:08.000'
 '2023-10-12 01:48:10.000' '2023-10-13 07:50:25.000'
 '2023-11-08 13:27:45.000' '2022-10-25 07:48:59.000'
 '2023-10-22 02:26:02.000' '2023-10-09 17:17:39.000'
 '2023-10-10 05:40:13.000' '2021-09-14 00:57:09.000'
 '2023-10-12 13:46:50.000' '2023-10-12 01:56:21.000'
 '2023-10-17 09:27:41.000' '2019-09-01 02:26:42.000'
 '2021-11-30 07:21:31.000' '2019-09-01 02:26:03.000'
 '2021-11-28 18:01:17.000' '2021-09-14 01:26:47.000'
 '2021-10-04 13:20:40.000' '2022-08-24 14:37:46.000'
 '2023-10-12 01:50:32.000' '2023-10-13 06:38:05.000'
 '2023-10-11 12:45:45.000' '2023-10-15 03:11:31.000'
 '2022-10-26 06:52:59.000' '2023-11-25 11:07:22.000'
 '2023-10-13 01:21:38.000' '2023-10-13 05:28:55.000'
 '2023-10-25 01:21:44.000' '2024-01-04 04:21:03.000'
 '2023-10-11 12:45:43.000' '2023-10-15 01:19:11.000'
 '2023-10-18 02:53:30.000' '2023-10-13 07:50:24.000'
 '2023-10-16 05:35:34.000' '2023-10-13 07:50:26.000'
 '2023-10-18 02:33:16.000' '2020-09-10 00:39:44.000'
 '2022-10-25 08:00:46.000' '2023-10-16 05:25:22.000'
 '2023-10-16 06:53:15.000' '2023-10-18 02:53:28.000'
 '2023-10-10 05:40:12.000' '2023-10-16 07:21:39.000'
 '2023-10-15 03:11:29.000' '2023-10-18 02:53:27.000'
 '2018-03-08 02:05:09.000' '2021-11-30 13:26:08.000'
 '2021-09-20 10:58:24.000' '2021-11-28 16:39:54.000'
 '2021-11-30 22:16:11.000' '2023-10-15 03:11:30.000'
 '2023-10-12 01:48:07.000' '2023-10-12 12:34:56.000'
 '2023-10-16 10:53:06.000' '2023-10-13 07:50:23.000'
 '2021-10-04 07:50:05.000' '2022-12-23 06:51:15.000'
 '2023-10-25 02:07:40.000' '2023-10-13 05:28:56.000'
 '2023-10-10 12:01:47.000' '2023-12-29 03:27:43.000'
 '2022-12-23 06:33:28.000' '2023-10-14 03:18:53.000']

Unique values for updated_at:
['2018-04-19 20:09:43.000' '2018-03-15 00:58:08.000'
 '2018-03-15 00:51:55.000' '2022-05-28 13:31:07.000'
 '2018-03-15 00:55:32.000' '2022-02-28 21:02:57.000'
 '2021-10-04 03:49:38.000' '2021-11-30 08:59:31.000'
 '2020-10-12 07:28:28.000' '2021-09-14 00:54:35.000'
 '2021-11-28 14:35:15.000' '2020-09-10 00:39:06.000'
 '2021-12-05 12:16:47.000' '2018-04-19 21:06:38.000'
 '2023-10-31 07:08:40.000' '2023-12-27 03:41:48.000'
 '2023-10-15 14:13:00.000' '2023-10-15 17:14:49.000'
 '2023-10-16 07:20:16.000' '2023-10-21 04:34:50.000'
 '2023-10-25 01:29:04.000' '2019-09-21 11:25:58.000'
 '2023-10-09 17:17:42.000' '2023-10-15 17:14:48.000'
 '2023-10-16 02:03:22.000' '2023-10-20 09:18:14.000'
 '2023-10-21 04:22:40.000' '2023-10-24 13:15:38.000'
 '2023-10-26 03:26:52.000' '2018-03-15 00:51:12.000'
 '2021-11-28 19:40:16.000' '2021-11-28 21:36:36.000'
 '2021-10-04 11:45:09.000' '2021-11-28 14:35:14.000'
 '2021-11-30 11:49:50.000' '2021-11-28 17:03:39.000'
 '2023-10-18 02:33:17.000' '2023-10-21 04:33:47.000'
 '2021-11-28 16:39:53.000' '2024-01-10 00:16:47.000'
 '2022-10-26 04:16:05.000' '2023-09-01 13:40:48.000'
 '2023-10-12 01:48:09.000' '2023-10-16 10:53:05.000'
 '2023-10-16 10:53:08.000' '2023-10-26 03:22:44.000'
 '2021-10-04 11:45:10.000' '2021-11-30 22:16:10.000'
 '2023-10-13 06:38:07.000' '2023-10-15 18:16:36.000'
 '2022-10-25 08:58:38.000' '2022-10-25 08:59:36.000'
 '2023-10-31 07:10:13.000' '2023-10-13 06:38:06.000'
 '2023-10-16 07:21:02.000' '2023-10-26 04:13:52.000'
 '2023-10-15 17:14:50.000' '2023-10-16 03:07:38.000'
 '2023-10-12 01:38:58.000' '2023-11-08 13:27:44.000'
 '2024-02-29 05:51:20.000' '2022-10-25 09:45:38.000'
 '2021-10-04 01:02:01.000' '2023-10-15 01:52:26.000'
 '2023-10-21 04:30:02.000' '2023-10-09 17:17:40.000'
 '2023-10-11 04:32:31.000' '2022-12-03 00:35:47.000'
 '2023-10-14 03:29:29.000' '2023-10-21 04:30:35.000'
 '2023-10-16 05:43:52.000' '2023-10-31 22:31:22.000'
 '2023-10-16 06:46:15.000' '2023-10-16 10:53:07.000'
 '2023-10-18 02:53:29.000' '2023-10-26 03:55:09.000'
 '2022-10-25 09:45:22.000' '2023-10-15 18:20:23.000'
 '2023-10-16 10:53:04.000' '2022-12-23 06:03:33.000'
 '2023-10-12 12:34:54.000' '2023-10-25 02:07:41.000'
 '2022-10-19 03:50:48.000' '2023-10-09 17:17:41.000'
 '2023-10-31 07:07:37.000' '2023-10-13 12:17:56.000'
 '2023-10-14 03:29:44.000' '2018-03-15 00:46:10.000'
 '2018-04-19 22:11:57.000' '2021-11-30 11:49:51.000'
 '2021-11-30 11:49:49.000' '2023-10-15 17:14:47.000'
 '2023-10-13 07:50:22.000' '2023-10-14 03:29:59.000'
 '2023-12-27 03:42:48.000' '2023-10-12 01:48:08.000'
 '2023-10-12 01:48:10.000' '2023-10-13 07:50:25.000'
 '2023-10-21 04:31:08.000' '2023-11-08 13:27:45.000'
 '2022-10-25 07:48:59.000' '2024-03-09 14:22:37.000'
 '2023-10-09 17:17:39.000' '2023-10-10 05:40:13.000'
 '2021-09-14 00:57:09.000' '2023-10-12 13:50:11.000'
 '2023-10-21 04:32:48.000' '2023-10-12 01:56:21.000'
 '2023-10-17 09:27:41.000' '2023-10-21 04:34:18.000'
 '2023-10-25 02:14:32.000' '2019-09-01 02:26:42.000'
 '2022-02-03 08:25:49.000' '2021-11-30 07:25:59.000'
 '2023-02-15 10:22:34.000' '2021-11-28 18:01:17.000'
 '2021-09-14 01:26:47.000' '2021-10-04 13:20:40.000'
 '2022-08-24 14:37:46.000' '2023-10-31 07:09:20.000'
 '2023-10-12 01:50:32.000' '2023-10-13 06:38:05.000'
 '2023-11-08 22:25:55.000' '2023-10-11 12:45:45.000'
 '2023-10-15 03:11:31.000' '2022-10-26 06:52:59.000'
 '2023-11-25 11:07:22.000' '2023-10-13 01:21:38.000'
 '2023-10-21 04:32:16.000' '2023-10-13 05:28:55.000'
 '2023-12-08 02:03:00.000' '2024-01-04 04:21:03.000'
 '2023-10-11 12:45:43.000' '2023-10-15 01:19:11.000'
 '2023-10-18 02:53:30.000' '2023-10-31 07:11:17.000'
 '2023-10-13 07:50:24.000' '2023-10-16 05:43:31.000'
 '2023-10-21 04:33:18.000' '2023-10-13 07:50:26.000'
 '2023-10-31 07:06:41.000' '2023-10-18 02:33:16.000'
 '2021-11-28 16:46:30.000' '2018-03-15 01:00:13.000'
 '2020-09-10 00:39:44.000' '2022-10-25 08:00:46.000'
 '2023-10-16 05:43:17.000' '2023-10-16 09:32:02.000'
 '2023-10-18 02:53:28.000' '2023-10-10 05:40:12.000'
 '2023-10-21 04:31:43.000' '2023-10-12 05:49:59.000'
 '2023-10-16 07:21:39.000' '2023-10-15 03:11:29.000'
 '2023-10-18 02:53:27.000' '2018-03-15 00:47:11.000'
 '2022-02-20 15:11:22.000' '2021-11-30 13:26:08.000'
 '2021-09-20 10:58:24.000' '2021-11-28 16:39:54.000'
 '2021-11-30 22:16:11.000' '2023-10-15 03:11:30.000'
 '2023-10-12 01:48:07.000' '2023-10-12 12:34:56.000'
 '2023-10-16 10:53:06.000' '2023-10-25 01:31:05.000'
 '2023-10-13 07:50:23.000' '2021-10-04 07:50:05.000'
 '2022-12-23 06:51:15.000' '2023-09-01 13:33:59.000'
 '2023-10-25 02:12:26.000' '2023-10-13 05:28:56.000'
 '2023-10-10 12:01:47.000' '2023-12-29 03:27:43.000'
 '2022-12-23 06:33:28.000' '2023-10-14 03:23:49.000'
 '2024-03-09 14:22:53.000']

Unique values for record_id:
['ponds_2023_12_21_2117' 'ponds_2024_4_12_9' 'ponds_2023_12_21_2116'
 'ponds_2024_4_12_7' 'ponds_2024_4_12_8' 'ponds_2024_4_12_11'
 'ponds_2023_12_21_2118' 'ponds_2024_4_12_4' 'ponds_2023_12_21_2114'
 'ponds_2024_4_12_27136' 'ponds_2024_4_12_27131' 'ponds_2024_4_12_28868'
 'ponds_2024_4_12_17565' 'ponds_2024_4_12_27135' 'ponds_2024_4_12_26452'
 'ponds_2024_4_12_28814' 'ponds_2024_4_12_28818' 'ponds_2024_4_12_16883'
 'ponds_2024_4_12_27133' 'ponds_2024_4_12_27137' 'ponds_2024_4_12_28974'
 'ponds_2023_12_21_2122' 'ponds_2024_4_12_44547' 'ponds_2024_4_12_44588'
 'ponds_2024_4_12_44637' 'ponds_2024_4_12_44645' 'ponds_2024_4_12_44712'
 'ponds_2024_4_12_44967' 'ponds_2023_10_29_45038' 'ponds_2024_4_12_2138'
 'ponds_2024_4_12_44504' 'ponds_2024_4_12_44643' 'ponds_2024_4_12_44676'
 'ponds_2024_4_12_44949' 'ponds_2024_4_12_44968' 'ponds_2024_4_12_45036'
 'ponds_2024_4_12_45096' 'ponds_2024_4_12_6' 'ponds_2022_7_18_28828'
 'ponds_2024_4_12_28829' 'ponds_2024_4_12_27148' 'ponds_2024_4_12_28810'
 'ponds_2024_4_12_28870' 'ponds_2024_4_12_26456' 'ponds_2024_4_12_27134'
 'ponds_2024_4_12_28825' 'ponds_2024_4_12_44736' 'ponds_2024_4_12_44965'
 'ponds_2021_12_10_28823' 'ponds_2024_4_12_46881' 'ponds_2024_4_12_36673'
 'ponds_2024_4_12_43425' 'ponds_2024_4_12_44570' 'ponds_2024_4_12_44716'
 'ponds_2024_4_12_44723' 'ponds_2024_4_12_45086' 'ponds_2024_4_12_45093'
 'ponds_2021_12_10_28821' 'ponds_2024_4_12_26459' 'ponds_2024_4_12_27151'
 'ponds_2024_4_12_28873' 'ponds_2024_4_12_28826' 'ponds_2024_4_12_44601'
 'ponds_2024_4_12_44642' 'ponds_2024_4_12_44654' 'ponds_2024_4_12_36663'
 'ponds_2024_4_12_36664' 'ponds_2024_4_12_44549' 'ponds_2024_4_12_44598'
 'ponds_2024_4_12_44658' 'ponds_2024_4_12_44713' 'ponds_2024_4_12_45100'
 'ponds_2024_4_12_44600' 'ponds_2024_4_12_44648' 'ponds_2024_4_12_44693'
 'ponds_2024_4_12_44566' 'ponds_2024_4_12_44652' 'ponds_2024_4_12_44689'
 'ponds_2024_4_12_45090' 'ponds_2024_4_12_45520' 'ponds_2024_4_12_47762'
 'ponds_2022_10_25_36426' 'ponds_2024_4_12_28972' 'ponds_2024_4_12_27125'
 'ponds_2024_4_12_27127' 'ponds_2024_4_12_28830' 'ponds_2024_4_12_44630'
 'ponds_2024_4_12_44657' 'ponds_2024_4_12_44717' 'ponds_2024_4_12_44958'
 'ponds_2024_4_12_45087' 'ponds_2024_4_12_44501' 'ponds_2024_4_12_44542'
 'ponds_2024_4_12_44545' 'ponds_2024_4_12_37329' 'ponds_2024_4_12_44614'
 'ponds_2024_4_12_44959' 'ponds_2024_4_12_45089' 'ponds_2024_4_12_44700'
 'ponds_2024_4_12_45298' 'ponds_2024_4_12_44701' 'ponds_2024_4_12_44704'
 'ponds_2024_4_12_44721' 'ponds_2024_4_12_44741' 'ponds_2024_4_12_45098'
 'ponds_2024_4_12_45297' 'ponds_2024_4_12_36651' 'ponds_2024_4_12_44641'
 'ponds_2024_4_12_44660' 'ponds_2024_4_12_44685' 'ponds_2024_4_12_44686'
 'ponds_2024_4_12_44715' 'ponds_2024_4_12_37694' 'ponds_2024_4_12_44589'
 'ponds_2024_4_12_44599' 'ponds_2024_4_12_45042' 'ponds_2022_10_24_36427'
 'ponds_2024_4_12_44503' 'ponds_2024_4_12_44544' 'ponds_2024_4_12_44612'
 'ponds_2024_4_12_44615' 'ponds_2024_4_12_44644' 'ponds_2024_4_12_44659'
 'ponds_2023_12_21_2123' 'ponds_2023_12_21_2125' 'ponds_2024_4_12_2'
 'ponds_2024_4_12_2140' 'ponds_2024_4_12_26457' 'ponds_2024_4_12_28871'
 'ponds_2024_4_12_28970' 'ponds_2024_4_12_27130' 'ponds_2024_4_12_28869'
 'ponds_2024_4_12_28813' 'ponds_2024_4_12_44546' 'ponds_2024_4_12_44639'
 'ponds_2024_4_12_45088' 'ponds_2024_4_12_44603' 'ponds_2024_4_12_44616'
 'ponds_2024_4_12_44650' 'ponds_2024_4_12_44684' 'ponds_2024_4_12_44585'
 'ponds_2024_4_12_44691' 'ponds_2024_4_12_44702' 'ponds_2024_4_12_45085'
 'ponds_2024_4_12_45094' 'ponds_2024_4_12_44568' 'ponds_2024_4_12_44572'
 'ponds_2024_4_12_44607' 'ponds_2024_4_12_44667' 'ponds_2024_4_12_44706'
 'ponds_2024_4_12_44960' 'ponds_2024_4_12_45092' 'ponds_2024_4_12_45521'
 'ponds_2024_4_12_36650' 'ponds_2024_4_12_37695' 'ponds_2024_4_12_44502'
 'ponds_2024_4_12_44663' 'ponds_2024_4_12_44981' 'ponds_2024_4_12_45101'
 'ponds_2024_4_12_44499' 'ponds_2024_4_12_44517' 'ponds_2024_4_12_44679'
 'ponds_2024_4_12_44708' 'ponds_2024_4_12_45299' 'ponds_2021_9_19_26463'
 'ponds_2023_11_25_44592' 'ponds_2024_4_12_44656' 'ponds_2024_4_12_44963'
 'ponds_2024_4_12_44577' 'ponds_2024_4_12_44682' 'ponds_2024_4_12_44683'
 'ponds_2024_4_12_44726' 'ponds_2024_4_12_44966' 'ponds_2024_4_12_45041'
 'ponds_2023_12_21_2115' 'ponds_2024_4_12_8360' 'ponds_2024_4_12_5'
 'ponds_2024_4_12_26453' 'ponds_2024_4_12_27132' 'ponds_2024_4_12_26464'
 'ponds_2024_4_12_27128' 'ponds_2024_4_12_28867' 'ponds_2023_12_21_2120'
 'ponds_2024_4_12_8359' 'ponds_2024_4_12_26461' 'ponds_2024_4_12_28827'
 'ponds_2024_4_12_28973' 'ponds_2024_4_12_26458' 'ponds_2024_4_12_28819'
 'ponds_2024_4_12_26465' 'ponds_2024_4_12_28815' 'ponds_2024_4_12_27165'
 'ponds_2024_4_12_27126' 'ponds_2024_4_12_35154' 'ponds_2024_4_12_37696'
 'ponds_2024_4_12_44541' 'ponds_2024_4_12_44548' 'ponds_2024_4_12_44576'
 'ponds_2024_4_12_44597' 'ponds_2024_4_12_45519' 'ponds_2024_4_12_44565'
 'ponds_2024_4_12_44578' 'ponds_2024_4_12_44634' 'ponds_2024_4_12_44677'
 'ponds_2024_4_12_44681' 'ponds_2024_4_12_36674' 'ponds_2024_4_12_44694'
 'ponds_2024_2_28_45847' 'ponds_2023_12_28_44593' 'ponds_2024_4_12_44640'
 'ponds_2024_4_12_44725' 'ponds_2024_4_12_44962' 'ponds_2024_4_12_44594'
 'ponds_2024_4_12_45039' 'ponds_2024_4_12_45043' 'ponds_2024_1_9_46795'
 'ponds_2024_4_12_44571' 'ponds_2024_4_12_44564' 'ponds_2024_4_12_44628'
 'ponds_2024_4_12_44710' 'ponds_2024_4_12_44744' 'ponds_2024_4_12_45099'
 'ponds_2024_4_12_45103' 'ponds_2024_4_12_44550' 'ponds_2024_4_12_44680'
 'ponds_2024_4_12_44692' 'ponds_2024_4_12_44605' 'ponds_2024_4_12_44665'
 'ponds_2024_4_12_44699' 'ponds_2024_4_12_44964' 'ponds_2024_4_12_44500'
 'ponds_2024_4_12_44610' 'ponds_2024_4_12_44649' 'ponds_2024_4_12_44664'
 'ponds_2024_4_12_44675' 'ponds_2024_4_12_44709' 'ponds_2024_4_12_45095'
 'ponds_2024_4_12_44638' 'ponds_2024_4_12_44662' 'ponds_2024_4_12_44720'
 'ponds_2024_4_12_44539' 'ponds_2024_4_12_44608' 'ponds_2024_4_12_44722'
 'ponds_2024_4_12_44735' 'ponds_2021_12_10_28820' 'ponds_2024_4_12_10'
 'ponds_2023_12_21_2113' 'ponds_2023_12_21_2119' 'ponds_2024_4_12_27124'
 'ponds_2024_4_12_27147' 'ponds_2024_4_12_26466' 'ponds_2024_4_12_28812'
 'ponds_2024_4_12_16884' 'ponds_2024_4_12_26454' 'ponds_2024_4_12_27149'
 'ponds_2024_4_12_27150' 'ponds_2024_4_12_36652' 'ponds_2024_4_12_44602'
 'ponds_2024_4_12_44698' 'ponds_2024_4_12_44711' 'ponds_2024_4_12_44740'
 'ponds_2024_4_12_44743' 'ponds_2024_4_12_44516' 'ponds_2024_4_12_44666'
 'ponds_2024_4_12_44688' 'ponds_2024_4_12_44961' 'ponds_2024_4_12_45102'
 'ponds_2024_4_12_44587' 'ponds_2024_4_12_44714' 'ponds_2024_4_12_44505'
 'ponds_2024_4_12_44515' 'ponds_2024_4_12_44586' 'ponds_2024_4_12_44631'
 'ponds_2024_4_12_44737' 'ponds_2024_4_12_45084' 'ponds_2024_4_12_3'
 'ponds_2024_4_12_2139' 'ponds_2023_12_21_2124' 'ponds_2024_4_12_1'
 'ponds_2024_4_12_26460' 'ponds_2024_4_12_28872' 'ponds_2024_4_12_26686'
 'ponds_2024_4_12_28811' 'ponds_2024_4_12_28822' 'ponds_2024_4_12_28824'
 'ponds_2024_4_12_28874' 'ponds_2024_4_12_28971' 'ponds_2024_4_12_26462'
 'ponds_2024_4_12_28816' 'ponds_2024_4_12_44543' 'ponds_2024_4_12_44569'
 'ponds_2024_4_12_44606' 'ponds_2024_4_12_44632' 'ponds_2024_4_12_44690'
 'ponds_2024_4_12_44703' 'ponds_2024_4_12_44627' 'ponds_2024_4_12_44647'
 'ponds_2024_4_12_44651' 'ponds_2024_4_12_44653' 'ponds_2024_4_12_44668'
 'ponds_2024_4_12_44742' 'ponds_2024_4_12_44567' 'ponds_2023_11_1_44591'
 'ponds_2024_4_12_44655' 'ponds_2024_4_12_44718' 'ponds_2023_12_7_45037'
 'ponds_2024_4_12_44595' 'ponds_2024_4_12_44604' 'ponds_2024_4_12_44705'
 'ponds_2024_4_12_44707' 'ponds_2024_4_12_44739' 'ponds_2024_4_12_45091'
 'ponds_2023_12_21_2121' 'ponds_2024_4_12_27142' 'ponds_2024_4_12_28817'
 'ponds_2024_4_12_27129' 'ponds_2024_4_12_26455' 'ponds_2024_4_12_37699'
 'ponds_2024_4_12_43426' 'ponds_2024_4_12_44738' 'ponds_2024_4_12_45040'
 'ponds_2024_4_12_44540' 'ponds_2024_4_12_44596' 'ponds_2024_4_12_44609'
 'ponds_2024_4_12_44635' 'ponds_2024_4_12_44646' 'ponds_2024_4_12_44719'
 'ponds_2024_4_12_44527' 'ponds_2024_4_12_44633' 'ponds_2024_4_12_44661'
 'ponds_2024_4_12_44678' 'ponds_2024_4_12_44687' 'ponds_2024_1_3_46700'
 'ponds_2023_10_11_44514' 'ponds_2024_4_12_37697' 'ponds_2024_4_12_44579'
 'ponds_2024_4_12_44613' 'ponds_2024_4_12_44982']

Unique values for extracted_at:
['2023-12-21 17:02:10.000' '2024-04-12 17:02:11.000'
 '2023-10-29 17:02:18.000' '2022-07-18 17:02:18.000'
 '2021-12-10 17:02:16.000' '2022-10-25 17:02:18.000'
 '2022-10-24 17:02:17.000' '2021-09-19 17:02:16.000'
 '2023-11-25 17:02:12.000' '2024-02-28 17:02:12.000'
 '2023-12-28 17:02:11.000' '2024-01-09 17:02:11.000'
 '2023-11-01 17:02:18.000' '2023-12-07 17:02:27.000'
 '2024-01-03 17:02:11.000' '2023-10-11 17:02:18.000']

In [35]:
# Descriptive Statistics
print("\nDescriptive Statistics:")
ponds.describe()

Descriptive Statistics:

,id,farm_id,length,width,deep,max_seed_density
count,338.000000,338.000000,315.000000,309.000000,246.000000,135.000000
mean,36899.159763,10151.973373,46.604698,29.845825,7.133537,248.672850
std,12968.985879,4008.835331,37.879973,18.142403,26.681219,1077.046893
min,1.000000,2.000000,0.600000,0.450000,0.900000,0.000625
25%,28825.250000,7365.000000,30.000000,20.000000,1.000000,63.783784
50%,44596.500000,12546.500000,36.510000,30.000000,1.300000,120.000000
75%,44702.750000,12562.000000,50.000000,40.000000,1.600000,185.205992
max,47762.000000,13378.000000,253.660000,190.240000,150.000000,12500.000000

In [36]:
# Check for Duplicate Rows
print("\nDuplicate Rows:")
print(ponds.duplicated().sum())

Duplicate Rows:
0

In [37]:
# Range Validation for Integer and Float Columns
numeric_columns = ponds.select_dtypes(include=['int64', 'float64']).columns
for column in numeric_columns:
    min_value = ponds[column].min()
    max_value = ponds[column].max()
    print(f"\nRange for {column}: {min_value} to {max_value}")

Range for id: 1 to 47762

Range for farm_id: 2 to 13378

Range for length: 0.6 to 253.66

Range for width: 0.45 to 190.24

Range for deep: 0.9 to 150.0

Range for max_seed_density: 0.000625 to 12500.0

Based on the data validation results, here are some key points and conclusions:

1. **Basic Information:**
    - The `ponds` DataFrame has 338 entries and 10 columns.
    - Data types include integers (2 columns), floats (4 columns), and objects (4 columns).

2. **Missing Values:**
    - The `length` column has 23 missing values.
    - The `width` column has 29 missing values.
    - The `deep` column has 92 missing values.
    - The `max_seed_density` column has 203 missing values.
    - Columns `id`, `farm_id`, `created_at`, `updated_at`, `record_id`, and `extracted_at` have no missing values.

3. **Descriptive Statistics:**
    - Columns `id` and `farm_id` show a wide range of values, indicating significant variation in the data.
    - Columns `length`, `width`, and `deep` show a broad range of values from minimum to maximum, suggesting variability in pond dimensions.
    - The `max_seed_density` column has a very wide range, with some extreme values (outliers).

4. **Duplicate Rows:**
    - There are no duplicate rows in the `ponds` DataFrame.

5. **Range for Columns:**
    - `id`: 1 to 47762
    - `farm_id`: 2 to 13378
    - `length`: 0.6 to 253.66
    - `width`: 0.45 to 190.24
    - `deep`: 0.9 to 150.0
    - `max_seed_density`: 0.000625 to 12500.0

### Additional Points:

- **Missing Values:** Columns `length`, `width`, `deep`, and `max_seed_density` have missing values that need to be addressed, either through imputation or data cleaning, depending on the analysis requirements.
  
- **Outliers:** The `max_seed_density` column shows a very wide range of values, indicating the presence of outliers. These outliers might need to be handled or further analyzed to understand their cause.

- **Date Columns:** The columns `created_at`, `updated_at`, and `extracted_at` are of type object and should be converted to datetime type for more accurate time-based analysis.

Overall, the data validation indicates that the `ponds` dataset has several challenges related to missing values and outliers, which need to be addressed for further analysis.

## Samplings

In [13]:
# sanity check
samplings

,cycle_id,updated_at,sampled_at,created_at,average_weight,id,remark
0,18747.0,2022-10-07 03:26:30,2022-09-24,2022-10-07 02:10:49,4.91,32508.0,Size 204\nP/H = 99 kg\nP/K = 2.020 kg\nSamplin...
1,18747.0,2022-10-07 03:27:27,2022-10-01,2022-10-07 03:27:27,7.12,32534.0,"Size 140\nADG = 0,31\nP/H = 139 kg\nP/K = 2.88..."
2,18747.0,2022-10-08 01:30:56,2022-10-08,2022-10-08 01:30:56,9.75,32575.0,"Size 103\nADG = 0,38\nP/H = 160 kg\nP/K = 3.94..."
3,18747.0,2022-10-15 03:24:26,2022-10-15,2022-10-15 03:24:26,11.15,32864.0,"Size 90\nADG 0,23\nP/H = 180 kg\nP/K = 5.149 k..."
4,27095.0,2023-11-05 09:03:39,2023-10-07,2023-11-05 09:03:39,4.79,52037.0,NaN
...,...,...,...,...,...,...,...
15027,11741.0,2021-11-13 02:38:57,2021-11-10,2021-11-13 02:38:57,11.14,20247.0,NaN
15028,11741.0,2021-11-18 12:49:02,2021-11-17,2021-11-18 12:49:02,11.38,20579.0,NaN
15029,24650.0,2023-09-07 23:59:57,2023-09-08,2023-09-07 23:59:57,3.41,47154.0,size 293
15030,24650.0,2023-09-15 00:15:13,2023-09-15,2023-09-15 00:15:13,3.48,47603.0,size 287
15031,24650.0,2023-09-22 02:04:08,2023-09-22,2023-09-20 06:17:53,4.33,47976.0,size 230

In [50]:
# Check basic information about the dataframe
print("Basic Information:")
samplings.info()

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15032 entries, 0 to 15031
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cycle_id        15032 non-null  float64
 1   updated_at      15032 non-null  object
 2   sampled_at      15032 non-null  object
 3   created_at      15032 non-null  object
 4   average_weight  15032 non-null  float64
 5   id              15032 non-null  float64
 6   remark          1339 non-null   object
dtypes: float64(3), object(4)
memory usage: 822.2+ KB

In [42]:

# Check for missing values
print("\nMissing Values:")
print(samplings.isnull().sum())

Missing Values:
cycle_id              0
updated_at            0
sampled_at            0
created_at            0
average_weight        0
id                    0
remark            13693
dtype: int64

In [40]:
# Columns with missing values
columns_with_missing = samplings.columns[samplings.isnull().any()]

# Iterate over columns with missing values
for column in columns_with_missing:
    print(f"Missing values in column '{column}':")
    print(samplings.loc[samplings[column].isnull()])
    print("\n")

Missing values in column 'remark':
       cycle_id           updated_at  sampled_at           created_at  \
4       27095.0  2023-11-05 09:03:39  2023-10-07  2023-11-05 09:03:39
5       27095.0  2023-11-05 09:04:18  2023-10-14  2023-11-05 09:04:18
6       27095.0  2023-11-05 09:04:55  2023-10-21  2023-11-05 09:04:55
7       27095.0  2023-11-05 09:05:41  2023-10-28  2023-11-05 09:05:41
8       27095.0  2023-11-05 09:06:23  2023-11-03  2023-11-05 09:06:23
...         ...                  ...         ...                  ...
15024   11741.0  2021-10-21 06:38:34  2021-10-20  2021-10-21 06:38:34
15025   11741.0  2021-10-27 13:18:03  2021-10-27  2021-10-27 13:18:03
15026   11741.0  2021-11-04 02:27:05  2021-11-03  2021-11-04 02:27:05
15027   11741.0  2021-11-13 02:38:57  2021-11-10  2021-11-13 02:38:57
15028   11741.0  2021-11-18 12:49:02  2021-11-17  2021-11-18 12:49:02

       average_weight       id remark
4                4.79  52037.0    NaN
5                6.91  52048.0    NaN
6                8.91  52059.0    NaN
7               11.52  52070.0    NaN
8               13.55  52081.0    NaN
...               ...      ...    ...
15024            7.29  19400.0    NaN
15025            8.00  19652.0    NaN
15026            8.78  19923.0    NaN
15027           11.14  20247.0    NaN
15028           11.38  20579.0    NaN

[13693 rows x 7 columns]

In [43]:
# Check unique values for object columns
object_columns = samplings.select_dtypes(include='object').columns
for column in object_columns:
    print(f"\nUnique values for {column}:")
    print(samplings[column].unique())

Unique values for updated_at:
['2022-10-07 03:26:30' '2022-10-07 03:27:27' '2022-10-08 01:30:56' ...
 '2023-09-07 23:59:57' '2023-09-15 00:15:13' '2023-09-22 02:04:08']

Unique values for sampled_at:
['2022-09-24' '2022-10-01' '2022-10-08' ... '2022-12-29' '2024-04-01'
 '2021-05-04']

Unique values for created_at:
['2022-10-07 02:10:49' '2022-10-07 03:27:27' '2022-10-08 01:30:56' ...
 '2023-09-07 23:59:57' '2023-09-15 00:15:13' '2023-09-20 06:17:53']

Unique values for remark:
['Size 204\nP/H = 99 kg\nP/K = 2.020 kg\nSampling Anco'
 'Size 140\nADG = 0,31\nP/H = 139 kg\nP/K = 2.889 kg\nSampling anco'
 'Size 103\nADG = 0,38\nP/H = 160 kg\nP/K = 3.946 kg\nSampling anco' ...
 'Sampling ke 2' 'size 293' 'size 287']

In [45]:
# Descriptive Statistics
print("\nDescriptive Statistics:")
samplings.describe()

Descriptive Statistics:

           cycle_id  average_weight            id
count  15032.000000    15032.000000  15032.000000
mean   19982.632052        9.900390  38925.218068
std     5742.703137        7.187137  13394.422325
min     3458.000000        0.010000   5308.000000
25%    16650.500000        4.490000  29964.750000
50%    20401.000000        8.130000  38806.500000
75%    24690.000000       13.772500  49932.250000
max    29874.000000      100.000000  61775.000000

In [46]:
# Check for Duplicate Rows
print("\nDuplicate Rows:")
samplings.duplicated().sum()

Duplicate Rows:

0

In [47]:
# Range Validation for Integer and Float Columns
numeric_columns = samplings.select_dtypes(include=['int64', 'float64']).columns
for column in numeric_columns:
    min_value = samplings[column].min()
    max_value = samplings[column].max()
    print(f"\nRange for {column}: {min_value} to {max_value}")

Range for cycle_id: 3458.0 to 29874.0

Range for average_weight: 0.01 to 100.0

Range for id: 5308.0 to 61775.0

In [48]:
# Foreign Key Validation
# Check if all 'cycle_id' values exist in the 'cycles' table
invalid_cycle_ids = samplings[~samplings['cycle_id'].isin(cycles['id'])]
print("\nInvalid 'cycle_id' values:")
print(invalid_cycle_ids)

Invalid 'cycle_id' values:
Empty DataFrame
Columns: [cycle_id, updated_at, sampled_at, created_at, average_weight, id, remark]
Index: []

1. **Basic Information:**
   - The dataset contains 15,032 entries with 7 columns.
   - Data types include 3 columns with `float64` and 4 columns with `object`.

2. **Missing Values:**
   - There are no missing values in most columns except for the `remark` column.
   - The `remark` column has 13,693 missing values out of 15,032, indicating it is largely incomplete.

3. **Descriptive Statistics:**
   - **cycle_id:** Ranges from 3,458 to 29,874 with a mean of approximately 19,982.
   - **average_weight:** Ranges from 0.01 to 100.00 with a mean of approximately 9.90.
   - **id:** Ranges from 5,308 to 61,775 with a mean of approximately 38,925.

4. **Duplicate Rows:**
   - There are no duplicate rows in the dataset.

### Key Points:
- The `remark` column has a significant amount of missing data (13,693 missing out of 15,032), which may require further investigation or imputation depending on its importance in the analysis.
- All other columns have complete data with no missing values.
- The data types and ranges for the numeric columns (`cycle_id`, `average_weight`, `id`) seem reasonable based on their descriptions.

This summary should provide a clear overview of the data quality and potential issues in the `samplings` table.